<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>VR/AR行业发展现状_近期虚拟现实/增强现实技术会议大全_活动家</title>
    <meta name="keywords" content="VR行业,ar行业现状,虚拟现实技术,增强现实"/>
    <meta name="description" content="VR/AR行业现状是怎样的？2015年被称为AR/VR产业元年，2016年ar和vr的发展趋势会是怎样？是真的步入了实质性发展阶段了吗？活动家推荐优质的虚拟现实和增强现实会议给您，帮助您快速了解行业现状及未来趋势，同时在产品、技术开发方面提供会议参考。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link rel="stylesheet" href="http://pic.huodongjia.com/static/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="http://www.huodongjia.com/static/css/base.css"/>-->
    <link rel="stylesheet" href="http://pic.huodongjia.com/static/theme/css/theme-20160613.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="http://www.huodongjia.com/favicon.ico" media="screen" />
    <!--<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->
</head>
<style>
    .down{
        float: right;
        text-align: center;
        width: 15%;
    }
    @media (max-width: 1400px) {
        .text h2{
            margin: 10px 0;
        }
        .info{
            height: 72px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
    @media (max-width: 760px) {
        body>.text-center{
            display: none;
        }
        .down{
            display: none;
        }
        .media{
            width: 100% !important;
            margin-bottom: 10px !important;
        }
        .media-body{
            font-size: 12px;
        }
    }
    .main h1,.main p{
        opacity: 1 \9;
    }
    @media (max-width: 1560px) {
        .main h1{
            font-size: 3em;
            top:5px;
        }
    }
    @media (max-width: 1330px) {
        .main h1{
            font-size: 2em;
            top:30px;
        }
    }
</style>
<body>
<div class="banner">
    <div class="nav">
        <div class="container" >
            <div class="col-sm-3 col-xs-3">
                <span style="margin: 11px 0"><a  href="/"><img alt="找会议，上活动家" width="251" src="http://www.huodongjia.com/static/images/newhdj_logo(1).png" alt="找会议，上活动家"/></a></span>
            </div>
            <div class="col-sm-9 col-xs-9 menus">
                <ul>
                    <li class="none"></li>
                    <li class="menue  business"><a target="_blank" href="/business/">商务会议 <span class="fa fa-angle-down"></span></a></li>
                    <li class="menue"><a href="http://news.huodongjia.com/" target="_blank">会议资讯</a></li>
                    <li class="menue"><a href="/guest/" target="_blank" >演讲经纪</a></li>
                    <li class="postevent"><a href="/postevent/"  target="_blank">免费发布活动</a></li>
                    <li class="search" >
                        <form action="/search/"><input style="background: rgb(43, 46, 47) \0;" name="keyword" type="text" placeholder="输入您要找的会议"/><span class="m-search m_iconfont">&#xe607;</span></form>
                    </li>
                    <li class="login">
                        <!--{% if request.session.usercenter_user %}-->
                        <!--<img style="border-radius: 16px;" width="32px" height="32px" src='{{  request.session.usercenter_user.avatar }}' />-->
                        <!--{% else %}-->
                        <a href="/usercenter/login/" rel="nofollow">
                            <span class="m_iconfont not_login">&#xe600;&nbsp;</span>
                            <!--{% endif %}-->
                            <span class="Login" style="font-size: 14px">用户登录</span></a>
                        <ol>
                            <li><a href="/usercenter/index/" rel="nofollow">我的积分</a></li>
                            <li><a href="/usercenter/index/?ind=showorder" rel="nofollow">我的订单</a></li>
                            <li><a href="/usercenter/index/?ind=myevent" rel="nofollow">我的发布</a></li>
                            <li><a href="/usercenter/index/?ind=showcollection" rel="nofollow">我的收藏</a></li>
                            <!--{% if request.session.usercenter_user %}-->
                            <!--<li class="exit"><a href="/usercenter/logout/"  rel="nofollow">退出</a></li>-->
                            <!--{% endif %}-->
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <p class="and">A<br>N<br>D</p>
        <h1>VR虚拟现实会议 <br>AR增强现实会议</h1>
        <p class="introduce">有人说，2015年是AR/VR产业元年，而现在，整个产业链已进入发力阶段，虚拟现实技术正在日趋成熟，各类3D虚拟现实产品和设备层出不穷：头盔、眼镜、游戏、旅游、体育……虚拟现实产业的未来在哪里？是内容还是技术？虚拟现实技术的应用有哪些突破点？也许，一场会议就能找到答案。本专题汇集近期热门VR虚拟现实会议、AR增强现实会议，帮助从业者快速掌握行业动态，在VR/AR领域获得先机。</p>
        <p class="img" style="text-align: right"><img src="http://www.huodongjia.com/static/images/bottom-1.png" alt=""/></p>
    </div>
    <div class="hidden-cat">
        <ul>
            <li class="col-sm-12 col-xs-12" style="color: #FA9D42;padding: 10px 0"><h4>商务会议</h4></li>
            <li class="col-sm-3 col-xs-3"><a href="{{cat.url}}">it互联网</a></li>
        </ul>
        <ul>
            <li class="col-sm-12 col-xs-12" style="color: #FA9D42;padding: 10px 0"><h4>更多服务</h4></li>
            <li class="col-sm-3 col-xs-3"><a href="/postevent/">活动发布</a></li>
            <li class="col-sm-3 col-xs-3"><a href="/searchorder/">订单查询</a></li>
            <li class="col-sm-3 col-xs-4"><a href="/listsponsor/">会议主办方</a></li>
            <li class="col-sm-3 col-xs-3"><a href="/listvenue/">会议场地</a></li>
        </ul>
    </div>
</div>
<div>
    <div class="content row container top">
        <p class="title">推荐会议列表 <br><span>Recommended  Meeting</span></p>
        <div class="col-sm-4 col-xs-12"><div>
            <a  target="_blank" href="/event-464313701.html"><img width="100%" src="http://pic.huodongjia.com/event/2016-05-27/1464314372.88.jpg" alt="2016中国（北京）VR/AR应用与创新峰会"></a>
            <p class="e_name"><a target="_blank" href="/event-464313701.html">2016中国（北京）VR/AR应用与创新峰会</a></p>
            <p class="addr"><a target="_blank" href="/beijing/">北京</a><span>2016-06-16</span></p>
            <p class="detail">虚拟世界，真实未来——2016中国（北京）VR/AR应用与创新峰会，聚合行业内外各方力量，聚焦商业应用场景开发，以创新力驱动虚拟现实的真实未来。</p>
            <button class="check"><a target="_blank" href="/event-464313701.html">查看详情</a></button>
        </div></div>
        <div class="col-sm-4 col-xs-12"><div>
            <a target="_blank" href="/event-465184619.html"><img width="100%" src="http://pic.huodongjia.com/event/2016-06-06/1465184703.72.jpg" alt="第十六届中国虚拟现实大会（China VR 2016）"></a>
            <p class="e_name"><a target="_blank" href="/event-465184619.html">第十六届中国虚拟现实大会（China VR 2016）</a></p>
            <p class="addr"><a target="_blank" href="/hangzhou/">杭州</a><span>2016-09-23</span></p>
            <p class="detail">大会和International Conferenceon Virtual Realityand Visualization(ICVRV2016)将于2016年9月23~25日在浙江杭州举办。</p>
            <button class="check"><a target="_blank" href="/event-465184619.html">查看详情</a></button>
        </div></div>
        <div class="col-sm-4 col-xs-12"><div>
            <a target="_blank" href="/event-78973649.html"><img width="100%" src="http://pic.huodongjia.com/event/2016-03-25/1458869990.49.jpg" alt="2016全球首届VR&AR互动娱乐博览会"></a>
            <p class="e_name"><a target="_blank" href="/event-78973649.html">2016全球首届VR&AR互动娱乐博览会</a></p>
            <p class="addr"><a target="_blank" href="/shenzhen/">深圳</a><span>2016-10-12</span></p>
            <p class="detail">2016全球首届VR&amp;AR互动娱乐博览会，旨在为推动行业健康发展，促进技术交流，合作发展和市场拓展，本次展会将以产品质量为依托，以展示超越技术为导向汇聚顶尖技术，展示商家形象，立足于打造以VR&amp;AR互动娱乐为主题的平台，结合深圳的辐射力，中国市场容量、市场需求，为业内企业及海外同行搭建一个高效的平台。  </p>
            <button class="check"><a  target="_blank" href="/event-78973649.html">查看详情</a></button>
        </div></div>
        <div class="col-sm-4 col-xs-12"><div>
            <a target="_blank" href="/event-112488506.html"><img width="100%" src="http://pic.huodongjia.com/event/2016-04-11/1460338632.66.jpg" alt="2016第二届中国（北京）国际3D虚拟现实互动娱乐高峰论坛"></a>
            <p class="e_name"><a target="_blank" href="/event-112488506.html">2016第二届中国（北京）国际3D虚拟现实互动娱乐高峰论坛</a></p>
            <p class="addr"><a target="_blank" href="/beijing/">北京</a><span>2016-09-12</span></p>
            <p class="detail">本届高峰论坛将以“展虚拟科技、绘现实世界”为主题，诚邀各单位、企业负责人与特邀嘉宾一起探讨虚拟现实的未来和发展，特邀嘉宾们会给您带来虚拟现实技术的新理念和新应用。</p>
            <button class="check"><a target="_blank" href="/event-112488506.html">查看详情</a></button>
        </div></div>
        <div class="col-sm-4 col-xs-12"><div>
            <a target="_blank" href="/event-650120316.html"><img width="100%" src="http://pic.huodongjia.com/event/2016-06-04/1465012450.21.jpg" alt="2016全球虚拟现实娱乐峰会（VR+AR）"></a>
            <p class="e_name"><a target="_blank" href="/event-650120316.html">2016全球虚拟现实娱乐峰会（VR+AR）</a></p>
            <p class="addr"><a target="_blank" href="/shanghai/">上海</a><span>2016-07-27</span></p>
            <p class="detail">概述:大会致力打造最优体验的VR/AR平台，以独有的行业高度和经验，汇集国内外VR/AR 硬件商、内容发行商和研发商，充分挖掘有创新性，实用性，前瞻性的技术、商务及内容，引领虚拟现实产业积极向上、快速有序的发展。</p>
            <button class="check"><a target="_blank" href="/event-650120316.html">查看详情</a></button>
        </div></div>
        <div class="col-sm-4 col-xs-12"><div>
            <a target="_blank" href="/event-463122430.html"><img width="100%" src="http://pic.huodongjia.com/event/2016-06-02/1464837846.66.jpg" alt="2016中国（北京）VR/AR应用与创新峰会"></a>
            <p class="e_name"><a target="_blank" href="/event-463122430.html">2016中国（北京）VR/AR应用与创新峰会</a></p>
            <p class="addr"><a target="_blank" href="/chengdu/">成都</a><span>2016-08-18</span></p>
            <p class="detail">iWorld 数字世界博览会是全球最大规模的聚焦于移动互联生态圈相关产品和应用的展览和会议活动。</p>
            <button class="check"><a target="_blank" href="/event-463122430.html">查看详情</a></button>
        </div></div>
        <div class="col-sm-4 col-xs-12"><div>
            <a target="_blank" href="/event-181479199.html"><img width="100%" src="http://pic.huodongjia.com/event/2016-04-28/1461814359.72.jpg" alt="2016中国虚拟现实和增强现实国际峰会"></a>
            <p class="e_name"><a target="_blank" href="/event-181479199.html">2016中国虚拟现实和增强现实国际峰会</a></p>
            <p class="addr"><a target="_blank" href="/beijing/">北京</a><span>2016-09-22</span></p>
            <p class="detail">2016中国虚拟现实和增强现实国际峰会将于2016年9月22-23日在北京海航大厦万豪酒店召开。</p>
            <button class="check"><a target="_blank" href="/event-181479199.html">查看详情</a></button>
        </div></div>
        <div class="col-sm-4 col-xs-12"><div style="position: relative;">
            <img style="position: absolute;left: 0;top: 0;" src="http://pic.huodongjia.com/static/images/jz.png" alt="">
            <a target="_blank" href="/event-155120093.html"><img width="100%" src="http://pic.huodongjia.com/event/2016-05-05/1462440526.41.jpg" alt="DSE2016 国际数字感知大会暨高峰论坛(VR/AR)"></a>
            <p class="e_name"><a target="_blank" href="/event-155120093.html">DSE2016 国际数字感知大会暨高峰论坛(VR/AR)</a></p>
            <p class="addr"><a target="_blank" href="/guangzhou/">广州</a><span>2016-06-13</span></p>
            <p class="detail">2016国际数字感知大会、广州国际虚拟增强现实与全息技术展 (DSE)的启动希望通过展会与论坛共同推动VR/AR与全息技术应用和产业发展。以促进虚拟现实增强现实、可穿戴、智能机器人、全息技术等垂直领域的市场发展和生态系统建设。作为行业重要活动之一，展会同期将举办技术研讨会，高峰论坛、高端对话、设计大赛等各种活动，同时联合权威机构、行业协会、科研院所等共同制定行业标准为行业人士提供技术合作与交流的平台，共同推动DS行业快速发展。</p>
            <button class="check"><a target="_blank" href="/event-155120093.html">查看详情</a></button>
        </div></div>
        <div class="col-sm-4 col-xs-12"><div style="position: relative;">
            <img style="position: absolute;left: 0;top: 0;" src="http://pic.huodongjia.com/static/images/jz.png" alt="">
            <a target="_blank" href="/event-915303432.html"><img width="100%" src="http://pic.huodongjia.com/event/2016-03-31/1459403751.99.jpg" alt="首届国际虚拟现实产业峰会暨2016T-EDGE VR 峰会"></a>
            <p class="e_name"><a target="_blank" href="/event-915303432.html">首届国际虚拟现实产业峰会暨2016T-EDGE VR 峰会</a></p>
            <p class="addr"><a target="_blank" href="/shenzhen/">深圳</a><span>2016-05-20</span></p>
            <p class="detail">2016年，钛媒体将目光投向最前沿的VR行业，与纽约时报中文网联袂推出首届国际虚拟现实产业峰会。</p>
            <button class="check"><a target="_blank" href="/event-915303432.html">查看详情</a></button>
        </div></div>
    </div>
</div>
<div style="background:#FFF;margin: 20px 0 ">
    <div class="content row container">
        <p class="title">最新资讯 <br><span>Latest  Information</span></p>
        <div class="col-sm-6 col-xs-12 news" >
            <div class="col-sm-12 col-xs-12 message">
                <div class="col-sm-5 col-xs-5">
                    <a target="_blank" href="http://news.huodongjia.com/30383.html"><img width="100%" src="http://news.huodongjia.com/wp-content/uploads/2016/05/2016DCC中国数字产业峰会-数字家庭娱乐之VR（包含对话和主题演讲）首页.jpg" alt="【趋势】互联网未来十年是视觉化的十年，VR或成下个千亿级市场"></a>
                </div>
                <div class="col-sm-7 col-xs-7 right">
                    <p class="e_name"><a target="_blank" href="http://news.huodongjia.com/30383.html">【趋势】互联网未来十年是视觉化的十年，VR或成下个千亿级市场</a></p>
                    <p class="detail">VR离消费者市场的普及还是有一段时间，这个时候可以找到一种方式，让用户在移动设备上就可以开始感知虚拟现实，感知虚拟在现实之上的叠加给用户带来的体验，而答案就是在图象和视频之上。</p>
                    <p class="addr"><span>2016-05-05</span><a target="_blank" href="http://news.huodongjia.com/30383.html">阅读全文&gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 news">
            <div class="col-sm-12 col-xs-12 message">
                <div class="col-sm-5 col-xs-5">
                    <a target="_blank" href="http://news.huodongjia.com/32873.html"><img width="100%" src="http://news.huodongjia.com/wp-content/uploads/2016/05/首届国际虚拟现实产业峰会暨2016T-EDGE-VR-峰会-对话投资者说首页.jpg" alt="【对话】投资VR，这四位投资人看的是什么"></a>
                </div>
                <div class="col-sm-7 col-xs-7 right">
                    <p class="e_name"><a target="_blank" href="http://news.huodongjia.com/32873.html">【对话】投资VR，这四位投资人看的是什么</a></p>
                    <p class="detail">VR硬件投资早期机会已经没有了。我们目前重点放在AR上，同时我们也看一些周边硬件，包括跑步机和自行车，对于核心硬件确实已经过了最主要的风口。</p>
                    <p class="addr"><span>2016-05-24</span><a target="_blank"  href="http://news.huodongjia.com/32873.html">阅读全文&gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 news">
            <div class="col-sm-12 col-xs-12 message">
                <div class="col-sm-5 col-xs-5">
                    <a target="_blank" href="http://news.huodongjia.com/32795.html"><img width="100%" src="http://news.huodongjia.com/wp-content/uploads/2016/05/首届国际虚拟现实产业峰会暨2016T-EDGE-VR-峰会-大会干货首页.jpg" alt="【热议】11位中外VR大咖齐聚2016T-EDGE VR峰会，这些干货值得看"></a>
                </div>
                <div class="col-sm-7 col-xs-7 right">
                    <p class="e_name"><a target="_blank" href="http://news.huodongjia.com/32795.html">【热议】11位中外VR大咖齐聚2016T-EDGE VR峰会，这些干货值得看</a></p>
                    <p class="detail">继PC和智能手机后，虚拟现实有望成为下一个通用计算平台。多家分析机构预测，到2020至2025年，全球虚拟现实与增强现实产业可达百亿甚至千亿美元规模，2016年将是虚拟现实产业启动的元年。</p>
                    <p class="addr"><span>2016-05-24</span><a target="_blank"  href="http://news.huodongjia.com/32795.html">阅读全文&gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 news">
            <div class="col-sm-12 col-xs-12 message">
                <div class="col-sm-5 col-xs-5">
                    <a target="_blank" href="http://news.huodongjia.com/30701.html"><img width="100%" src="http://news.huodongjia.com/wp-content/uploads/2016/05/2016“旅游VR”高峰论坛首页.jpg" alt="【趋势】旅游加上VR，将会产生怎样的化学反应"></a>
                </div>
                <div class="col-sm-7 col-xs-7 right">
                    <p class="e_name"><a target="_blank" href="http://news.huodongjia.com/30701.html">【趋势】旅游加上VR，将会产生怎样的化学反应</a></p>
                    <p class="detail">包括VR在内的3R（即VR、AR、MR）技术至少可以运用在制作旅游宣传品、改造旅游目标物、打造虚拟旅游主题公园、制作虚拟培训场景、旅游游戏、增强旅游场景云平台等六个方面。</p>
                    <p class="addr"><span>2016-05-24</span><a target="_blank"  href="http://news.huodongjia.com/30701.html">阅读全文&gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 news">
            <div class="col-sm-12 col-xs-12 message">
                <div class="col-sm-5 col-xs-5">
                    <a target="_blank" href="http://news.huodongjia.com/30483.html"><img width="100%" src="http://news.huodongjia.com/wp-content/uploads/2016/05/2016中国新媒体门户大会首页.jpg" alt="【对话】电视游戏这样做，或许能吸引用户回到家庭娱乐"></a>
                </div>
                <div class="col-sm-7 col-xs-7 right">
                    <p class="e_name"><a target="_blank" href="http://news.huodongjia.com/30483.html">【对话】电视游戏这样做，或许能吸引用户回到家庭娱乐</a></p>
                    <p class="detail">2015年全球游戏市场市值大概是900多亿美元，北美或日本的电视游戏或大屏内容占比近30%，大概是270多亿的份额。但在中国的数字里，市值大概是200多个亿美元，但电视只占到了1%。</p>
                    <p class="addr"><span>2016-05-05</span><a target="_blank"  href="http://news.huodongjia.com/30483.html">阅读全文&gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 news">
            <div class="col-sm-12 col-xs-12 message">
                <div class="col-sm-5 col-xs-5">
                    <a target="_blank" href="http://news.huodongjia.com/8002.html"><img width="100%" src="http://news.huodongjia.com/wp-content/uploads/2016/06/厚势2016互联网创业高峰论坛首页.jpg" alt="【趋势】未来媒体的5个方向：无人机、机器新闻、大数据、虚拟现实、传感器新闻"></a>
                </div>
                <div class="col-sm-7 col-xs-7 right">
                    <p class="e_name"><a target="_blank" href="http://news.huodongjia.com/8002.html">【趋势】未来媒体的5个方向：无人机、机器新闻、大数据、虚拟现实、传感器新闻</a></p>
                    <p class="detail">虚拟增强现实下的新闻创新，超越传统表现形式，从一个画面、一种声音、一段文字到一种体验。记者、受众亲临现场，变身参与者，真正意义上实现跨时空的新闻呈现。</p>
                    <p class="addr"><span>2016-05-24</span><a target="_blank"  href="http://news.huodongjia.com/8002.html">阅读全文&gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 news">
            <div class="col-sm-12 col-xs-12 message">
                <div class="col-sm-5 col-xs-5">
                    <a target="_blank" href="http://news.huodongjia.com/33997.html"><img width="100%" src="http://news.huodongjia.com/wp-content/uploads/2016/05/2016全球VR生态大会首页.jpg" alt="【行业】2020年中国VR市场规模或超550亿，或成下一个主流计算平台"></a>
                </div>
                <div class="col-sm-7 col-xs-7 right">
                    <p class="e_name"><a target="_blank" href="http://news.huodongjia.com/33997.html">【行业】2020年中国VR市场规模或超550亿，或成下一个主流计算平台</a></p>
                    <p class="detail">虚拟增强现实下的虚拟增闻呈现。2015年中国虚拟现实行业市场规模为15.4亿元，预计2016年将达到56.6亿元，2020年预计将超过550亿元。阿里研究院发布的物联网报告显示，VR将成为继电脑、手机后的下一个主流计算平台，未来人们会花费40%的娱乐时间体验虚拟现实。</p>
                    <p class="addr"><span>2016-05-24</span><a target="_blank"  href="http://news.huodongjia.com/33997.html">阅读全文&gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 news">
            <div class="col-sm-12 col-xs-12 message">
                <div class="col-sm-5 col-xs-5">
                    <a target="_blank" href="http://news.huodongjia.com/28867.html"><img width="100%" src="http://news.huodongjia.com/wp-content/uploads/2016/04/2016中国北京VRAR产业峰会_首页.jpg" alt="【行业】优酷土豆首次对外系统阐述VR领域计划：合计划"></a>
                </div>
                <div class="col-sm-7 col-xs-7 right">
                    <p class="e_name"><a target="_blank" href="http://news.huodongjia.com/28867.html">【行业】优酷土豆首次对外系统阐述VR领域计划：合计划</a></p>
                    <p class="detail">VR里有一个很重要的词Presence，翻译过来叫存在，但实际上我用一个词叫即视或者在场。VR最大的突破，实际是对观看和体验的革命性变化。</p>
                    <p class="addr"><span>2016-04-26</span><a target="_blank"  href="http://news.huodongjia.com/28867.html">阅读全文&gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 news">
            <div class="col-sm-12 col-xs-12 message">
                <div class="col-sm-5 col-xs-5">
                    <a target="_blank" href="http://news.huodongjia.com/27295.html"><img width="100%" src="http://news.huodongjia.com/wp-content/uploads/2016/04/2016全球创新者大会-虚拟现实峰会_内容.jpg" alt="【趋势】五年后VR设备或超手机；电商购物或不需要线下体验中心"></a>
                </div>
                <div class="col-sm-7 col-xs-7 right">
                    <p class="e_name"><a target="_blank" href="http://news.huodongjia.com/27295.html">【趋势】五年后VR设备或超手机；电商购物或不需要线下体验中心</a></p>
                    <p class="detail">虚拟现实作为下一代计算平台，作为新的基础设施和生产单元，在5G时代一定会改变内容的生产和IP的养成。</p>
                    <p class="addr"><span>2016-04-11</span><a target="_blank"  href="http://news.huodongjia.com/27295.html">阅读全文&gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 news">
            <div class="col-sm-12 col-xs-12 message">
                <div class="col-sm-5 col-xs-5">
                    <a  target="_blank" href="http://news.huodongjia.com/30841.html"><img width="100%" src="http://news.huodongjia.com/wp-content/uploads/2016/05/爱奇艺世界大会-iVR全球虚拟现实大会首页.jpg" alt="【热议】爱奇艺也宣布VR战略，处于婴儿期的VR还有很长的路要走"></a>
                </div>
                <div class="col-sm-7 col-xs-7 right">
                    <p class="e_name"><a target="_blank" href="http://news.huodongjia.com/30841.html">【热议】爱奇艺也宣布VR战略，处于婴儿期的VR还有很长的路要走</a></p>
                    <p class="detail">5月5日~6日，爱奇艺世界大会在北京举行，大会包含9场高峰论坛，100名行业大佬纵横论道，200家知名媒体全程聚焦，4000名业内精英与会。大会首日举办的iVR+全球虚拟现实大会上，爱奇艺、Epic、HTC等国内外众多VR行业的玩家和专家共同探讨VR的未来。</p>
                    <p class="addr"><span>2016-05-09</span><a target="_blank"  href="http://news.huodongjia.com/30841.html">阅读全文&gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <p class="more"><a href="http://news.huodongjia.com/tag/vr/" target="_blank">更多VR行业资讯</a></p>
        <div class="col-sm-4 col-xs-12 Related" style="padding-left: 0"><a target="_blank" href="/tag/5170/"><span>虚拟现实会议</span><img width="100%" src="http://pic.huodongjia.com/static/images/tu_1.jpg" alt=""></a></div>
        <div class="col-sm-4 col-xs-12 Related"><a target="_blank" href="/tag/26360/"><span>增强现实会议</span><img width="100%" src="http://pic.huodongjia.com/static/images/tu_2.jpg" alt=""></a></div>
        <div class="col-sm-4 col-xs-12 Related" style="padding-right: 0"><a target="_blank" href="/it/"><span>IT互联网会议</span><img width="100%" src="http://pic.huodongjia.com/static/images/tu_3.jpg" alt=""></a></div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="down"><img width="100" src="http://pic.huodongjia.com/static/images/APP_erweima.png" alt=""><br>下载活动家APP</div>
        <div class="down"><img width="100" src="http://pic.huodongjia.com/static/images/about_uus_erweima.jpg" alt=""><br>微信关注活动家</div>
        <div class="media" style="width: 54%;margin-bottom:80px">
            <div class="media-left"><a><img src="http://www.huodongjia.com/static/images/LOGO(2).png" alt=""/></a></div>
            <div class="media-body" style="text-align: left;padding-left: 15px">
                <span>找会议，上活动家！活动家是亚洲领先的会议活动查询、报名、票务营销平台，致力于为用户提供有价值、有意义的商务会议活动，以及为主办方提供会议免费发布、活动推广营销，视频直播，在线选座等服务，是你参会、办会的好助手。</span>
            </div>
        </div>
        <ul>
            <li><a  target="_blank"   href="/">活动家首页</a></li>
            <li><a  target="_blank"   href="/business/">商务会议</a></li>
            <li><a  target="_blank"   href="/guest/">出席嘉宾</a></li>
            <li><a  target="_blank"   href="/listsponsor/">会议主办方</a></li>
            <li><a  target="_blank"   href="/listvenue/">会议场地</a></li>
        </ul>
        <p class="CopyRight" style="margin: 0;font-size: 1em;">CopyRight 活动家 huodongjia.com 蜀ICP备13006895号-5,增值电信业务经营许可证：川B2-20130143</p>
    </div>
</div>
<div class="wx_share act">
    <div class="share">
        <img style="display: inline-block;margin: 5px 0;" src="http://pic.huodongjia.com/static/images/iconfont-erweima.png" alt="分享页面"/> 分享页面
    </div>
    <div class="code">
        <div style="background: #fff;padding: 10px;margin-bottom: 5px"><div class="qrcode"></div></div>
    
        <span>微信扫二维码 <br/>分享到朋友圈</span>
    </div>
</div>
</body>
<!--百度统计代码mmm-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?388950f5fe8dce1409ec7843101f9730";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!--百度页面访问自动推送-->
<script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<!---->
<script src="http://pic.huodongjia.com/static/js/jquery-1.8.3.min.js"></script>
<script src="http://pic.huodongjia.com/static/js/bootstrap.js"></script>
<script src="http://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script>
    $(document).ready(function () {
        var H=parseInt($(".text").css("width"))/ 2,
            top=(H-parseInt($(".text>div").css("height")))/ 2,
            TOP=(parseInt(window.innerHeight)-parseInt($(".main").css("height"))-50)/ 2,
            w_height=window.innerHeight
        $(".banner").css({height:window.innerHeight})
        $(".content>div").css({height:H})
        $(".text>div").css({marginTop:top+"px"})
        $(window).resize(function () {
            H=parseInt($(".text").css("width"))/2
            top=(H-parseInt($(".text>div").css("height")))/2
            TOP=(parseInt(window.innerHeight)-parseInt($(".main").css("height"))-50)/2
            w_height=window.innerHeight
            $(".banner").css({height:window.innerHeight})
            $(".content>div").css({height:H})
            $(".text>div").css({marginTop:top+"px"})
            $(".main").css({marginTop:TOP+"px"})
        })
        $(".img img").click(function () {
            $('html, body').animate({scrollTop: w_height+"px"},500);
        })
        var this_url=window.location.href
        if ((navigator.userAgent.indexOf('MSIE') >= 0)
                && (navigator.userAgent.indexOf('Opera') < 0)){
            $('.qrcode').qrcode({width: 100, height: 100, text:this_url,render:"table"});
        }else{
            $('.qrcode').qrcode({width: 100, height: 100, text:this_url,render:"canvas"});
        }
        $(".share").click(function () {
            $(".wx_share").toggleClass("act")
        })

    })
</script>
</html>
