<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sweet-alert.min.css"/>
    <link rel="stylesheet" href="../static/css/signUp.css"/>
</head>
<style>

</style>
<body>
<div class="content">
    <div class="nav">
        <div class="self_center"><span class="m_font">&#xe601;</span>个人中心</div>
        <div class="logo"><img src="../static/images/logo.png" width="100%" alt=""/></div>
    </div>
    <div class="left pc">
        <table>
            <tr class="choose">
                <td class="img"><img class="yellow" width="20" src="../static/images/icon2yellow.png" alt=""/>
                    <img class="black" width="20" src="../static/images/icon2black.png" alt=""/></td>
                <td class="choose_td"><a href="">我的报名</a></td></tr>
            <tr>
                <td class="img"><img class="yellow" width="20" src="../static/images/icon3yellow.png" alt=""/>
                    <img class="black" width="20" src="../static/images/icon3black.png" alt=""/></td>
                <td class="choose_td"><a href="">我的赛事</a></td></tr>
            <tr>
                <td class="img"><img class="yellow" width="20" src="../static/images/icon4yellow.png" alt=""/>
                    <img class="black" width="20" src="../static/images/icon4black.png" alt=""/></td>
                <td class="choose_td"><a href="">我的联系人</a></td></tr>
            <tr>
                <td class="img"><img class="yellow" width="20" src="../static/images/icon5yellow.png" alt=""/>
                    <img class="black" width="20" src="../static/images/icon5black.png" alt=""/></td>
                <td class="choose_td"><a href="">修改密码</a></td></tr>
            <tr>
                <td class="img"><img class="yellow" width="20" src="../static/images/icon6yellow.png" alt=""/>
                    <img class="black" width="20" src="../static/images/icon6black.png" alt=""/></td>
                <td class="choose_td"><a href="">退出登录</a></td></tr>
        </table>

    </div>
    <div class="mobile">
        <table >
            <tr>
                <td class="img choose"><img class="yellow" width="20" src="../static/images/icon2yellow.png" alt=""/>
                    <img class="black" width="20" src="../static/images/icon2black.png" alt=""/><br/>
                    <a href="">我的报名</a></td>
                <td class="img"><img class="yellow" width="20" src="../static/images/icon3yellow.png" alt=""/>
                    <img class="black" width="20" src="../static/images/icon3black.png" alt=""/><br/>
                    <a href="">我的赛事</a></td>
                <td class="img"><img class="yellow" width="20" src="../static/images/icon4yellow.png" alt=""/>
                    <img class="black" width="20" src="../static/images/icon4black.png" alt=""/><br/>
                    <a href="">我的联系人</a></td>
                <td class="img"><img class="yellow" width="20" src="../static/images/icon5yellow.png" alt=""/>
                    <img class="black" width="20" src="../static/images/icon5black.png" alt=""/><br/>
                    <a href="">修改密码</a></td>
                <td class="img"><img class="yellow" width="20" src="../static/images/icon6yellow.png" alt=""/>
                    <img class="black" width="20" src="../static/images/icon6black.png" alt=""/><br/>
                    <a href="">退出登录</a></td>
            </tr>
        </table>
    </div>
    <div class="right competition">
        <div class="my_competition">
            <span>第一届上海丝路国际商学院丝域挑战赛</span>
            <a>主委会审核中</a>
        </div>
        <div class="my_competition success">
            <span>第一届上海丝路国际商学院丝域挑战赛</span>
            <a>报名成功</a>
        </div>
        <div class="my_competition sign">
            <span>第一届上海丝路国际商学院丝域挑战赛</span>
            <a>立即报名</a>
        </div>
    </div>
</div>
<script src="../static/js/jquery-1.8.3.min.js"></script>
</body>
</html>
