{% extends "base.html" %}
{% block style %}
<style>
    .select {
         top: 26px !important;
    }
    @media (max-width:960px) {
        #right_curveoforder_3,#right_curveoforder_1,#right_curveoforder_2,#sex,#marry{
            float: none !important;
        }
        #right_curveoforder_2,#right_curveoforder_3{
            height: 800px !important;
        }
    }
</style>
{% endblock %}
{% block right %}
<div class='col-sm-10 col-xs-12  right'  style="">
    <div class="select"><input value={{ default_time.start_day.strftime('%Y-%m-%d') }} onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" id="start_time">至
        <input value={{ default_time.end_day.strftime('%Y-%m-%d') }} onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" id="end_time"><button>确定</button></div>
    <div class="right_bottom" style="width: 97%;margin:80px auto 20px;padding-bottom: 15px">
        <h2 align='center' style="padding-bottom: 0;margin-bottom: 0">活动分类占比</h2>
        <div id='right_curveoforder_1' style="width: 100%;height: 400px;"></div>

    </div>
    <div class="right_bottom" style="width: 97%;margin:20px auto">
        <h2 align='center'>用户属性分布</h2>
        <div id='right_curveoforder_3' style="width: 100%;height:420px;">
            <div id="sex" class="col-sm-6 col-xs-12" style="height: 400px;padding: 0"></div>
            <div id="marry" class="col-sm-6 col-xs-12" style="height: 400px;padding: 0;"></div>
        </div>
    </div>
    <div class="right_bottom" style="width: 97%;margin:20px auto"><div id='right_curveoforder_2' style="width: 80%;height: 400px;margin: 20px auto"></div></div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="../static/js/classify_1.js"></script>
<script src="../static/echarts-2.2.7/build/dist/echarts.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts.js "></script>
<script type="text/javascript" src="../static/js/classify_2.js"></script>
{% endblock %}
