*{
    font-family: "CTHeiTiSJ","Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;;
    border-top: 1px solid #e6e6e6;
}
.check_meeting{
    height: 110px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    margin-bottom: 12px;
}
 .check_meeting a{
    color:#000000;
}
 .check_meeting h3{
    font-size: 1.1em;
}
 .check_meeting .pic-opa-title{
    position: absolute;
    margin-left: 150px;
}
 .check_meeting .home-time{
    font-size: 0.9em;
    color: #b5b5b5;
    font-weight: inherit;
    position: absolute;
    margin-top: 70px;
    margin-left: 8px;
}
 .check_meeting .home-city{
    font-size: 0.9em;
    font-weight: inherit;
    float: right;
    margin-right: 30px;
    position: absolute;
    margin-top: 70px;
    margin-left: 106px;
}
.check_meeting dl{
    position: relative
}
 .check_meeting dt{
    float: left;
}
 .check_meeting dt img{
    width: 130px;
    height: 90px;
    margin-top: 10px;
    margin-left: 12px;
}
 /*价格显示*/
.check{
    margin-top: 15px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.check:last-child{
    padding-top: 50px;
}

 .check .form_number{
     height: 100%;
     background-color: #fff;
 }
 .check .borer_top{
     height: 15px;
     background-image: url("http://pic1.qkan.com/static/images/ii.jpg");
     background-size: 5%;
 }
.check .check_boder{
    padding: 0px;
}
 .check .price_type p{
     font-size: 15px;
     color: #a3a3a3;
     display: inline-block;
 }
.check .price_type h2{
    font-size: 22px;
    margin-bottom: 10px;
}
.check .price_type a{
    float: right;
    color: #a3a3a3;
}
.check .price_content{
     padding-top: 16px;
    padding-bottom: 16px;
}
.check .form_number p{
    font-size: 28px;
    color: red;
}
.check .form_number label{
    font-size: 15px;
    font-weight: 400;
}
.check .form_number .number{
    display: inline-block;
}
.check .form_number .number input[type=text],.check .form_number .number i{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #dcdcdc;
}
.check .form_number .number i{
    font-size: 30px;
    line-height:1;
    text-align: center;
    font-style: normal;
    position: relative;
    top: 8px;
}
.check .form_number .number input[type=text]{
    border-left: none;
    border-right: none;
    text-align: center;
}
.check .col-sm-12{
    float:none
}
.click_submit{
    bottom: 0;
    position: fixed;
    padding-left: 10px !important;
    padding-right: 10px !important;
    left: 0;
}
.click_submit a{
    display: block;
    background-color: #ff9933;
    height: 40px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: large;
    margin-top: 30px;
    border-radius: 5px;
}
header{
    text-align: center;
}
header a{
    float: left;
    line-height: 60px;
    color: #fff;
    font-size: 19px;
}
header i{
    font-size: 30px;
}
header h2{
    display: inline-block;
    color: #fff;
    line-height: 60px;
    position: relative;
    left: -.5em;
}