<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2d83d2138253787cb3768b8dd58d700f"></script>
</head>
<style>
iframe{
    position: absolute !important;
    top: 0 !important;
    left:0 !important;
    opacity: 0 !important;
}
</style>
<body>
<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare" data="{
		'text':'您的自定义分享内容',		//'请参考自定义分享内容'
		'pic':'您的自定义分享出去的图片',	//'请参考自定义分享出去的图片'
		'url':'您的自定义分享url',
	}">
    <a class="bds_qzone"></a>
    <a class="bds_tsina"></a>
    <a class="bds_tqq"></a>
    <a class="bds_renren"></a>
    <span class="bds_more">更多</span>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&mini=1" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    /**
     * 在这里定义bds_config
     */
    var bds_config = {};

    document.getElementById('bdshell_js').src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>
</body>
</html>