{% extends 'base.html' %}
{% load page_nav %}
{% block addstyle %}
<style>
    .rule{
        width: 1200px;
        margin: 10px auto;
    }
    .rule div{
        background: #FFF;
        padding: 20px;
        color: #555;
    }
    .t_user{
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }
    .content{
        font-size: 14px;
        line-height: 25px;
    }
    .statement{
        text-align: center;
        margin:20px 0;
    }
    .statement a{
        width: 150px;
        display: inline-block;
        border:1px solid #1474D8;
        padding: 5px;
        margin-right: 10px;
        cursor: pointer;
        color: #1474D8;
    }
    .statement a:hover{
        background: #1474D8;
        color: #fff;
    }
    .statement .act{
        background: #1474D8;
        color: #fff;
    }
    .user_statement,.spon_statement{
        display: none;
    }
    .bread a{color: #555}
</style>
{%endblock%}
{% block banner %}
{% endblock %}
{% block content %}
    <div class="rule">
        <p class="bread"><a href="/">首页</a>&gt;<a class="state">用户免责声明</a></p>
        <p class="statement"><a href="/law/" class="user">用户免责声明</a><a href="/law?sponsor" class="spon">主办方免责声明</a></p>
        <div class="user_statement">
            <p class="t_user">免责声明（用户）</p>
            <div class="content">
                <p><b>在使用成都云数海量智能科技有限公司产品 - 活动家（以下简称活动家，包括但不限于网页版本、移动端应用APP及其他类型产品）前，请您务必仔细阅读并透彻理解本声明。使用活动家的服务将被视为对本条款的认可。</b></p>
                <p>活动家将商业会议与展览信息汇集于互联网平台、供您搜索，除特别标注说明之活动外，活动家均不负责直接组织活动。</p>
                <p><b>您了解并同意活动家上的会议与展览描述，系会议与展览组织或主办方者、提供，活动家对其合法性概不负责，亦不承担任何法律责任。</b></p>
                <p>活动家无法控制组织或主办方所发布信息的真实性或准确性，以及履行其在会议与展览等相关活动描述中表述内容的能力。您应自行谨慎判断确定相关服务及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。</p>
                <p>若您对活动有任何疑问，您应联系该会议与展览等相关活动的组织或主办方。活动家通过自有团队尽力保证组织或主办方与登记的名称一致，拥有主办会议与展览活动的资质，并尽力更新有效的联系方式，但不对具体会议与展览活动负责。我们也希望您及时反馈在使用中遇到的问题并对欺诈行为进行举报，以提高活动家的网络信息服务质量。</p>
                <p><b>活动家不保证为了会议与展览等相关活动之组织或主办方设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由活动家实际控制的任何网页上的内容，活动家不承担任何责任。</b></p>
                <p>第三方链接可能被会议与展览等相关活动的组织或主办方用于提供活动的详细信息或提供报名渠道。由于第三方站点与活动家无关，故活动家一律不对该站点上的内容负责。若第三方站点上的活动说明与活动家上的活动描述冲突，请联系会议与展览等相关活动的组织或主办方。</p>
                <p><b>活动家不保证页面上显示报名成功即为最终报名成功凭证。会议与展览等相关活动的最终解释权完全归其组织或主办方所有。活动家仅对技术性故障负责。</b></p>
                <p>会议与展览等相关活动的组织或主办方有权力在活动管理中对参与者进行筛选，若您被剔除，活动家会提示组织或主办方给您发送说明原因，但该功能并非强制。组织或主办方也可能会通过其他形式通知您报名状态的更改。除技术性故障外，活动组织或主办方对报名的有效性完全负责。</p>
                <p><b>请您及时保存或备份您的文字、图片等其他信息，您完全理解并同意，由于活动家储存设备有限、设备故障、设备更新或设备受到攻击等设备原因或人为原因，您使用网路服务储存的信息或数据等全部或部分发生删除、毁损、灭失或无法恢复的风险，均由您须自行承担，活动家不承担任何责任。</b></p>
                <p>不论在何种情况下，活动家均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，黑客，电脑病毒，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令，第三方原因等其他活动家不能预测或控制的行为而造成的不能服务或延迟服务承担责任，但将尽力减少因此而给您造成的损失和影响。</p>
                <p>任何单位或个人认为通过活动家的内容可能涉嫌侵犯其合法权益，应该及时向活动家或服务网站书面反馈，并提供身份证明、权属证明及详细侵权情况证明，活动家在收到上述法律文件后，将会尽快移除被控侵权内容。详见权利声明。</p>
                <p>本声明适用中华人民共和国法律，您和活动家一致同意服从四川省成都市高新区人民法院管辖。如其中任何条款与中华人民共和国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它条款依旧具有法律效力。</p></div>
        </div>
        <div class="spon_statement">
            <p class="t_user">免责声明（组织或主办方）</p>
            <div class="content">
                <p><b>在使用成都云数海量智能科技有限公司产品 - 活动家（以下简称活动家，包括但不限于网页版本、移动端应用APP及其他类型产品）前，请您务必仔细阅读并透彻理解本声明。使用活动家的服务将被视为对本条款的认可。</b></p>
                <p>活动家将商业会议与展览信息汇集于互联网平台、供您搜索，除特别标注说明之活动外，活动家均不负责直接组织活动。</p>
                <p><b>您了解并同意活动家上的会议与展览描述，系会议与展览组织或主办方者、提供，活动家对其合法性概不负责，亦不承担任何法律责任。</b></p>
                <p>组织或主办方需对自己所发布信息的真实性或准确性负担完全责任，以及履行其在会议与展览等相关活动描述中表述内容的能力，并确保所组织之会议与展览等相关活动不违反任何中华人民共和国相关法律规定。</p>
                <p><b>会议与展览组织或主办方透过活动家产品发布会议，亦即同意活动家对此会议进行相对应的宣传与推广，同时同意活动家进行该活动的票务代理与销售，详细代理佣金另行约定。</b></p>
                <p>活动家通过自有团队尽力保证组织或主办方与登记的名称一致，拥有主办会议与展览活动的资质，并尽力更新有效的联系方式，但不对具体会议与展览活动负责。因此会议组织或主办方需要尽力确保相关资讯得到即时更新，避免用户发生困扰与疑惑。</p>
                <p><b>活动家不保证为了会议与展览等相关活动之组织或主办方设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由活动家实际控制的任何网页上的内容，活动家不承担任何责任。</b></p>
                <p>第三方链接可能被会议与展览等相关活动的组织或主办方用于提供活动的详细信息或提供报名渠道。由于第三方站点与活动家无关，故活动家一律不对该站点上的内容负责。若第三方站点上的活动说明与活动家上的活动描述冲突，将由会议与展览等相关活动的组织或主办方负责厘清与说明。</p>
                <p><b>活动家不保证页面上显示报名成功即为最终报名成功凭证。会议与展览等相关活动的最终解释权完全归其组织或主办方所有。活动家仅对技术性故障负责。</b></p>
                <p>会议与展览等相关活动的组织或主办方有权力在活动管理中对参与者进行筛选，若发生用户报名被剔除，活动家会提示组织或主办方给您发送说明原因。组织或主办方也可通过其他形式通知用户报名状态的更改。除技术性故障外，活动组织或主办方对报名的有效性完全负责。</p>
                <p><b>请您及时保存或备份您的文字、图片等其他信息，您完全理解并同意，由于活动家储存设备有限、设备故障、设备更新或设备受到攻击等设备原因或人为原因，您使用网路服务储存的信息或数据等全部或部分发生删除、毁损、灭失或无法恢复的风险，均由您须自行承担，活动家不承担任何责任。</b></p>
                <p>不论在何种情况下，活动家均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，黑客，电脑病毒，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令，第三方原因等其他活动家不能预测或控制的行为而造成的不能服务或延迟服务承担责任，但将尽力减少因此而给您造成的损失和影响。</p>
                <p>本声明适用中华人民共和国法律，您和活动家一致同意服从四川省成都市高新区人民法院管辖。如其中任何条款与中华人民共和国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它条款依旧具有法律效力。</p>
            </div>
        </div>
    </div>
{%endblock%}
{% block js %}
<script>
    var parm=window.location.href.split('?')[1]
    if(parm=='sponsor'){
        $('.spon').addClass('act')
        $('.spon_statement').show()
        $('.state').html('主办方免责声明')
    }else{
        $('.user').addClass('act')
        $('.user_statement').show()
    }
</script>
{%endblock%}