<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet/less" href="style.less">
    <script src="less.min.js" type="text/javascript"></script>
</head>
<body>
<div class="div">
    <!--<div class="div1">-->
        <!--这是我在做less的测试-->
    <!--</div>-->
    <!--<div class="div2">-->
        <!--这在content里面-->
    <!--</div>-->
</div>
<span class="div2">
    这在content外面
</span>

</body>
</html>
