<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="http://pic.huodongjia.com/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.huodongjia.com/static/css/base.css"/>
    <link rel="stylesheet" href="../static/css/aboutUs.css">
</head>
<style>
</style>
<body>
<!--banner-->
<div class="banner">
    <img width="100%" src="http://pic.huodongjia.com/static/images/aboutus.jpg">
</div>
<!--content-->
<div class="top_1 fade">
<div class="container">
    <h2>活动家介绍</h2>
    <p class="info">活动家——专业的商务会议查询、报名、票务营销平台；为用户提供各行业最全面的会议信息查询及一站式购票服务；为主办方提供永久的免费活动发布、
    会议营销推广、会后舆情报告、会议嘉宾邀约等服务；活动家值得信赖的会议营销第三方平台。</p>
    <div class="col-sm-4 col-xs-12">
        <img src="http://pic.huodongjia.com/static/images/about1.png" alt="">
        <p class="title">20万场商务会议发布</p>
        <p>每年超20万场商务会议在活动家平<br>台进行票务销售</p>
    </div>
    <div class="col-sm-4 col-xs-12">
        <img src="http://pic.huodongjia.com/static/images/about2.png" alt="">
        <p class="title">累积销售200万张门票</p>
        <p>每天有超过100W用户在活动家平<br>台查询会议信息，参会报名、购<br>买门票</p>
    </div>
    <div class="col-sm-4 col-xs-12">
        <img src="http://pic.huodongjia.com/static/images/about3.png" alt="">
        <p class="title">超1万家深度合作主办方</p>
        <p>活动家与1万多家行业优质主办方有<br>深度合作关系，每年在活动家平台<br>发布的商务会议活动近10万场</p>
    </div>
</div>
</div>
<div class="top_1">
    <div class="container">
        <h2>产品与服务</h2>
        <div class="media col-sm-4 col-xs-12">
            <div class="media-left">
                <a><img class="media-object" src="http://pic.huodongjia.com/static/images/about4.png"></a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">营销推广</h4>
                提供付费推广营销服务，包括：站内套餐、媒体套餐、营销套餐和全享超值套餐。详情见营销推广套餐方案。
            </div>
        </div>
        <div class="media col-sm-4 col-xs-12">
            <div class="media-left">
                <a><img class="media-object" src="http://pic.huodongjia.com/static/images/about5.png"></a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">门票销售</h4>
                提供高质量会议的票务售卖服务，平台每日有50000+活跃用户。
            </div>
        </div>
        <div class="media col-sm-4 col-xs-12">
            <div class="media-left">
                <a><img class="media-object" src="http://pic.huodongjia.com/static/images/about6.png"></a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">嘉宾邀约</h4>
                供全行业演讲嘉宾的邀约服务，包括：互联网IT行业、金融财经、农业、医学、能源类的知名学者、教授、 专业讲师等嘉宾邀请。
            </div>
        </div>
        <div class="media col-sm-4 col-xs-12">
            <div class="media-left">
                <a><img class="media-object" src="http://pic.huodongjia.com/static/images/about7.png"></a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">在线选座</h4>
                提供会议现场在线选座服务，标记参会人士的社会属性，方便参会者融入社交。
            </div>
        </div>
        <div class="media col-sm-4 col-xs-12">
            <div class="media-left">
                <a><img class="media-object" src="http://pic.huodongjia.com/static/images/about8.png"></a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">会议免费发布</h4>
                免费发布，专业编辑排版，优质会议活动家免费给予推广服务。
            </div>
        </div>
        <div class="media col-sm-4 col-xs-12">
            <div class="media-left">
                <a><img class="media-object" src="http://pic.huodongjia.com/static/images/about9.png"></a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">赞助招商</h4>
                活动家为主办方提供在线赞助招商服务。
            </div>
        </div>
    </div>
</div>
<div class="top_1">
    <div class="container">
        <h2>活动家APP</h2>
        <div class="col-sm-6 col-xs-12">
            <img src="http://pic.huodongjia.com/static/images/about10.png" alt="">
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="text-left app_info">活动家app覆盖了全国各行业的商务活动，是商务人士值得拥有的一款APP，在用户中拥有良好的口碑，已成为购买/报名商务活动的必备工具。</p>
            <div class="col-sm-6 col-xs-12">
                <a target="_blank" class="Android" href="http://app.mi.com/detail/64258">
                    <img class="andriod" src="http://pic.huodongjia.com/static/images/andriod.png" alt=""><span>Android</span></a>
                <a target="_blank" class="Ios" href="https://itunes.apple.com/cn/app/da-huo-dong/id731753448?l=en&mt=8">
                    <img class="ios" src="http://pic.huodongjia.com/static/images/aboutios.png" alt=""><span>ios</span></a>
            </div>
            <div class="col-sm-6 col-xs-12"><img src="http://pic.huodongjia.com/static/images/APP_erweima.png" alt=""><p style="margin: 10px 0">扫二维码下载APP</p></div>
        </div>
    </div>
</div>
<div class="top_1">
    <div class="container">
        <h2>联系我们</h2>
        <div class="col-sm-6 col-xs-12">
            <p class="link">
                <span>客服电话：</span>400-003-3879 <br>
                <span>工作时间：</span>周一至周六（9:30-18:00）<br>
                <span>客服邮箱：</span>business@veryevent.com<br>
                <span>商务会议交流1群：</span>148283991（已满）<br>
                <span>商务会议交流2群：</span>175980736<br>
                <span>注册地址：</span>成都市高新区元华一巷53号一层<br>
                <span>投资联系：</span>刘东 15371818461
            </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="col-sm-6 col-xs-6 wx">
                <img width="150" src="http://pic.huodongjia.com/static/images/about_uus_erweima.jpg" alt="">
                 <p>欢迎关注活动家微信公众号 <br>
                    优惠商务活动尽在活动家</p>
            </div>
            <div class="col-sm-6 col-xs-6 kf">
            <img width="150" src="http://pic.huodongjia.com/static/images/e.jpg" alt="">
                <p>活动家微信客服:hdjkefu</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="http://pic.huodongjia.com/static/js/jquery-1.8.3.min.js"></script>
<script>
    $('.Android').hover(
            function () {
                $('.andriod').attr('src','http://pic.huodongjia.com/static/images/andriod_1.png')
            },
            function () {
                $('.andriod').attr('src','http://pic.huodongjia.com/static/images/andriod.png')
            }
    )
    $('.Ios').hover(
            function () {
                $('.ios').attr('src','http://pic.huodongjia.com/static/images/ios_1.png')
            },
            function () {
                $('.ios').attr('src','http://pic.huodongjia.com/static/images/aboutios.png')
            }
    )
    function gdjz(div,cssname){
        var a,b,c,d;
        d=$(div).offset().top;
        b=$(window).scrollTop();
        c=$(window).height();
        if(b+c>d){
            $(div).addClass(cssname);
        }
    }

    $(document).ready(function(e) {
        $(window).scroll(function(){
                    $('.top_1').each(function () {
                        gdjz($(this),'fade');
                    })
                }
        );
    });
</script>
</html>