<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>body{
    background: #F0F0F0;
    font-family: 微软雅黑;
}
td{
    padding: 10px 0;
}
</style>

<table style="background: #fff;padding: 10px 20px" align="center" border="0" cellpadding="0" cellspacing="0" width="760">
    <tbody><tr><td><div style="width:100%;">
        <div style=" width:680px; padding:1px 0 0 0 ;margin:0 auto;">
            <br><a href="http://www.huodongjia.com/"><img src="http://pic.huodongjia.com/edm/logo10.png" style="margin-left:-80px;"></a>

            <p style="margin-top:-68px; "></p>
            <div style="text-align: right; font-family: 微软雅黑; font-size: 24px; color:#1964ae; margin: -40px -80px 0 0;">
                <img src="http://pic.huodongjia.com/edm/loogoo2.png" modifysize="25%" diffpixels="-1px" style="width: 172px; height: 60px;">
            </div>
            <p></p>
        </div>
    </div></td></tr>
    <tr><td><h3 style="text-align: center;color: #1763B2;"><font size="6" style="font-weight: normal;">邀请函</font></h3></td></tr>
    <tr><td style="line-height: 25px;color: #1763B2;">&nbsp; &nbsp; &nbsp; GMGC以“Game2.0·创新不止”为主题，并在经典板块之外新增诸多创新板块。会议期间，将有来自全球近40个国
        家和地区的顶尖游戏及泛娱乐企业参展参会，20000多名行业精英与会，数百家全球知名媒体深度跟踪报道。Game2.0时代，移动游戏的春风正扑面而来！如果您亲自参会，我们将深感荣幸。</td></tr>
    <tr><td style="text-align: center;"><br><img width="760" src="http://pic.huodongjia.com/event/2015-12-14/event1450076859.5.jpg"></td></tr>
    <tr><td>
        <p style="border-top: 1px solid #eee;text-align: center;margin-top: 15px"><span style="padding: 10px 20px;background: #fff;position:relative;top: -5px;color: #1763B2;"><font size="5">热点</font></span></p>
    </td></tr>
    <tr><td style=" font-size: 16px; color:#666;line-height: 32px; padding:20px;border:1px solid #d7d7d7;border-radius:8px;margin-top:30px">
        1、GMGC2016双主论坛：游戏灵魂的探索，即游戏领袖峰会和泛娱乐主题峰会
        <br>2、GMGC2016：沧海明珠，只待采撷，即开发者训练营（Developers Camp）、独立游戏开发者大赛......
        <br>3、G50全球移动游戏闭门峰会：汇聚中外知名游戏企业领袖，共同探讨一年一度全球移动游戏热点话题<br>4、主播现场秀+WeWantYou真人秀：现场版求职真人秀节目，旨在为企业提供优质专业人才</td></tr>
    <tr><td>
        <p style="border-top: 1px solid #eee;text-align: center;margin-top: 15px"><span style="padding: 10px 20px;background: #fff;position:relative;top: -5px;color: #1763B2;"><font size="5">嘉宾</font></span></p>
    </td></tr>
    <tr><td>
        <div style=" width:840px;overflow:hidden;margin-top:0px;">
            <div style="  float: left;width:240px;margin-left:20px;">
                <img src="http://pic.huodongjia.com/guest/2016-01-30/145412601624.jpg" style="width: 150px; height: 144px;margin-left:50px;">
                <p style="font-size:20px;text-align:center;color:#333">Elena Lobova</p>
                <p style="font-size:16px;text-align:center;color:#666;margin-top:-10px;">iLogos CEO</p>
            </div>
            <div style="  float: left;width:250px;margin-left:40px;">
                <img src="http://pic.huodongjia.com/guest/2016-02-03/145448479002.jpg" style="width: 150px; height: 144px;margin-left:50px;">
                <p style="font-size:20px;text-align:center;color:#333">Maarten Noyons</p>
                <p style="font-size:16px;text-align:center;color:#666;margin-top:-10px;">NCC Partners CEO, Founder</p>
            </div>
            <div style="  float: left;width:240px;margin-left:40px;">
                <img src="http://pic.huodongjia.com/guest/2016-02-03/145448478572.jpg" style="width: 150px; height: 144px;margin-left:50px;">
                <p style="font-size:20px;text-align:center;color:#333">Martine Spaans</p>
                <p style="font-size:16px;text-align:center;color:#666;margin-top:-10px;">FGL VP - Developer Relation</p>
            </div>
            <div style="  float: left;width:240px;margin-left:20px;">
                <img src="http://pic.huodongjia.com/guest/2016-02-03/145448478764.jpg" style="width: 150px; height: 144px;margin-left:50px;">
                <p style="font-size:20px;text-align:center;color:#333">Neo Liu</p>
                <p style="font-size:16px;text-align:center;color:#666;margin-top:-10px;">Glu G.M. of Publishing</p>
            </div>
            <div style="  float: left;width:240px;margin-left:40px;">
                <img src="http://pic.huodongjia.com/guest/2016-01-30/14541260324.jpg" style="width: 150px; height: 144px;margin-left:50px;">
                <p style="font-size:20px;text-align:center;color:#333">Roberto Dillon</p>
                <p style="font-size:16px;text-align:center;color:#666;margin-top:-10px;">Adsumsoft CEO</p>
            </div>
            <div style="  float: left;width:240px;margin-left:50px;">
                <img src="http://pic.huodongjia.com/guest/2016-01-30/145412601424.jpg" style="width: 150px; height: 144px;margin-left:50px;">
                <p style="font-size:20px;text-align:center;color:#333">Christian Calderon</p>
                <p style="font-size:16px;text-align:center;color:#666;margin-top:-10px;">Playdots Head of Marketing</p>
            </div>
        </div>
    </td></tr>
    <tr><td><div style="text-align: center; width:100px;; height: 48px;margin:0 auto; color: rgb(255, 255, 255); font-size: 20px; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; background: rgb(255, 152, 30);line-height:48px;margin-top:32px;"><a href="http://www.huodongjia.com/event-9178758.html" style=" text-decoration:none;color: rgb(255, 255, 255);">更多详情</a>
    </div></td></tr>
    <tr><td><div style="color: rgb(0, 0, 0); font-family: HelveticaNeue, 'Helvetica Neue', HelveticaNeueRoman, HelveticaNeue-Roman, 'Helvetica Neue Roman', TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif; font-size: 14px; line-height: 22px; font-weight: 600; text-align: center;"><span style="color: rgb(0, 0, 0); line-height: 1.5; font-family: 'Microsoft Yahei';">更多商务会议，请下载</span>
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.dahuodong.veryevent" style="color: rgb(0, 0, 0); line-height: 1.5; text-decoration: underline; font-family: 'Microsoft Yahei';"><span style="font-family: 'Microsoft Yahei'; text-decoration:none;">@活动家APP</span>
        </a>
    </div></td></tr>
    </tbody></table>
<div mc:hideable="hideable_2" mchideable="hideable_2" style="color: rgb(51, 51, 51); font-family: HelveticaNeue, 'Helvetica Neue', HelveticaNeueRoman, HelveticaNeue-Roman, 'Helvetica Neue Roman', TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif; font-size: 14px; line-height: 1.7; font-weight: 600;">
    <table style="width: 600px;margin:30px auto 0px;border-spacing:0px;line-height: 0px;">
        <tbody>
        <tr>
            <td style="border-bottom-width: 1px; border-bottom-color: #c0c0c8; border-bottom-style: solid;"><span style="font-family: 'Microsoft Yahei';">&nbsp;</span>
            </td>
            <td rowspan="2" style="vertical-align: middle; white-space: nowrap; width: 10%; text-align: center; font-weight: bold; font-size: 11px; color:#1fbad6;padding:0 10px;" align="center" valign="middle"><span style="font-family: 'Microsoft Yahei';">SHARE THE NEWS</span>
            </td>
            <td style="border-bottom-width: 1px; border-bottom-color: #c0c0c8; border-bottom-style: solid;"><span style="font-family: 'Microsoft Yahei';">&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td style="border-top-width: 1px; border-top-color: #ffffff; border-top-style: solid;"><span style="font-family: 'Microsoft Yahei';">&nbsp;</span>
            </td>
            <td style="border-top-width: 1px; border-top-color: #ffffff; border-top-style: solid;"><span style="font-family: 'Microsoft Yahei';">&nbsp;</span>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="width: 595px; margin:20px auto 15px;border-spacing:0px;line-height:0px;">
        <tbody>
        <tr>
            <td style="text-align:center;"><a href="http://weibo.com/dahuodong" style="text-decoration: none;"><img src="http://pic.huodongjia.com/edm/wb.png" style="width: 32px; height: 32px; margin: 0px;" align="none" height="32" width="32"></a>
            </td>
            <td style="text-align:center;"><a href="mailto:business@veryevent.com" style="text-decoration: none;"><img src="http://pic.huodongjia.com/edm/email.png" style="width: 32px; height: 32px; margin: 0px;" align="none" height="32" width="32"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="width: 600px; margin:0px auto;border-spacing:0px;line-height:0px;">
        <tbody>
        <tr>
            <td style="text-align: center; font-size: 12px; color: #333333;" align="center" width="100px;"><span style="font-family: 'Microsoft Yahei';">微博</span>
            </td>
            <td style="text-align: center; font-size: 12px; color: #333333;" align="center" width="100px;"><span style="font-family: 'Microsoft Yahei';">电子邮件</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>