{% extends 'base.html' %}
{% block addstyle %}
<style>
    body{font-family:"微软雅黑"!important;}
    .content{
        width: 1200px;
        margin:10px auto;
    }
    .apply_info{
        width: 880px;
        float: left;
    }
    .apply_top,.apply_bottom{
        border: 1px solid #EAEAEA;
        margin-bottom: 20px;
    }
    .apply_title{
        padding: 0 10px;
        line-height: 40px;
        font-size: 16px;
        color: #1474D8;
        margin: 0;
        background: #F7FAFB;
    }
    .apply_title a{
        color: #999;
        font-size: 12px;
        float: right;
        text-decoration: underline;

    }
    .apply_top table{
        background: #fff;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
    .apply_top table td{
        padding: 15px 0;
        color: #646464;
        max-width: 200px;
    }
    .apply_top table td span{
        color: #666;
        font-size: 12px;
    }
    .apply_top table tr:first-child td{
        color: #666;
    }
    .apply_form{
        background: #fff;
        padding:10px 20px;
    }
    .apply_form>p{
        color: #999;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .apply_form table{
        width: 100%;
    }
    .apply_form table td{
        padding: 10px 0;
        color: #646464;
        font-size: 14px;
        width: 320px;
        width: auto\9;
    }
    .apply_form table td>span{
        color: red;
    }
    table td p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .apply_form tr td:nth-child(odd){
        width: 100px;
    }
    .invoice,.pay_way{
        /*padding-left: 28px !important;*/
    }
    .apply_form input[type='text'],.apply_form input[type='email']{
        width: 300px;
        height: 34px;
        color: #000;
        font-size: 14px;
        border:1px solid #D9D9D9;
        padding: 0 10px;
    }
    .apply_form label,.pay_way label,.invoice_content label,.invoice_send label{
        font-weight: 500;
        padding-right: 20px;
        position: relative;
    }
    .invoice label input,.pay_way label input,.invoice_content label input,.invoice_send label input{
        margin-right: 5px;
        opacity: 0;
        filter:Alpha(opacity=0);
    }
    .invoice label img,.pay_way label img,.invoice_content label img,.invoice_send label img{
        position: absolute;
        top: 4px;
        left: 0px;
    }
    .choose{display: none}
    .invoice label:first-child .choose{display: block;}
    .pay_way label:first-child .choose{display: block;}
    .invoice_content label:first-child .choose{display: block;}
    .invoice_send label:first-child .choose{display: block;}
    .invoice label:first-child .not_choose{display: none;}
    .pay_way label:first-child .not_choose{display: none;}
    .invoice_content label:first-child .not_choose{display: none;}
    .invoice_send label:first-child .not_choose{display: none;}
    .pay_way label{width: 19%}
    .apply_form textarea{
        width: 500px;
        height: 100px;
        padding: 10px;
        resize: none;
        border:1px solid #D9D9D9;
        /*margin-left: 28px;*/
    }
    .invoice_info tr td:nth-child(odd){
        /*width: 130px;*/
    }
    .invoice_info input[type='text']{
        width: 450px;
    }
    .invoice_1{
        /*display: none;*/
        padding: 0 !important;
    }
    .invoice_2{
        display: none;
    }
    .banks{
        /*border: 1px solid #D9D9D9;*/
        padding:0px 0px 20px;
        display: none;
    }
    .banks label{
        display: inline-block;
        width: 24%;
        width: 22%\9;
        margin-bottom: 15px;
        height: 40px;
        text-align: center;
    }
    .banks input{
        /*width: 145px;*/
        display: inline\9;
        margin-right: 5px;
    }
    .banks img{
        width: 100px\9;
    }
    #code{
        width: 200px;
    }
    #post{
        display: block;
        border: none;
        color: #fff;
        background: #4BA7EE;
        font-size: 16px;
        border-radius: 5px;
        width: 200px;
        height: 40px;
        margin:20px auto;
    }
    .apply_flow{
        width: 300px;
        width: 260px\9;
        float: right;
        border: 2px solid #76B9FF;
        padding: 20px 15px;
        background: #fff;
        color: #82BEFF;
        font-size: 14px;
        line-height: 30px;
        z-index: 999;
    }
    .apply_flow h1{
        font-weight: 500;
        font-size: 18px;
        color: #1474D8;
        margin:0 0 15px;
    }
    .apply_flow p{
        margin: 10px 0;
        width: 100%;
        border-top: 1px dashed #ddd;
    }
    .wechat{
        display: inline-block;
        width: 28px;
        height: 28px;
        background: url('https://pic.huodongjia.com/static/images/weixin1.png') no-repeat;
        vertical-align: middle;
        position: relative;
        left: 17px;
        background-size: 26px;
    }
    .alipay{
        display: inline-block;
        width: 28px;
        height: 25px;
        background: url(https://pic.huodongjia.com/static/images/alipay.png) no-repeat;
        vertical-align: middle;
        position: relative;
        left: 17px;
        background-size: 24px;
        color: orangered;
    }
    .ie{width: 100px !important;}
</style>
{%endblock%}

{%block content %}
{% if order_list %}
<div class="content">
    <div class="apply_info">
        <div class="apply_top">
            <p class="apply_title">
                参会信息
            </p>
            <table>
                <tr>
                    <td>会议名称</td><td>门票类型</td><td>单价×数量</td><td>应付金额</td>
                </tr>
                <tr>
                    <td><p>{{order_list.0.event_name}}</p> <span>{{event.0.event_begin_time}} 至 {{event.0.event_end_time}}  {{event.0.event_city_info.0.district_name}}</span></td>
                    <td>{{ order_list.0.price_unit.property }}</td>
                    <td>{{order_list.0.price_unit.Currency__sign}}{{order_list.0.order_price}}×{{order_list.0.order_amount}}</td>
                    <td style="color: red;">{{order_list.0.price_unit.Currency__sign}} {{order_list.0.order_totalpay}}</td>
                </tr>
            </table>
        </div>
        <div class="apply_bottom">
            <p class="apply_title">联系人信息</p>
            <form class="apply_form" action="/submitorder/" method="post" target="_blank">
                {% csrf_token %}
                <p>多人参会客服会直接与您联系确认其他人参会信息</p>
                <input type="hidden"  name="pay_way" id="ways" value="alipay">
                <input type="hidden"  id="bank" name="bank" />
                <input type="hidden"  id="price_id" name="price_id"  value="{{order_list.0.price_id}}"/>
                <input type="hidden"  name="event_id" value="{{order_list.0.event_id}}"/>
                <input type="hidden"   name="event_name" value="{{order_list.0.event_name}}"/>
                <input type="hidden"   name="price" value="{{order_list.0.order_price}}"/>
                <input type="hidden"  name="amount" value="{{order_list.0.order_amount}}"/>
                <input type="hidden"  id="order_num" name="order_num" value="{{order_list.0.order_number}}"/>
                <input type="hidden" name="invoice_type" id="invoice_type" value="{{order_list.0.invoice_type}}">
                <input  id="invoice_content" name="invoice_content" type="hidden">
                <input  class="send_type" name="send_type" type="hidden" value="{{order_list.0.send_type}}">
                <table>
                    <tr>
                        <td>姓名 <span>*</span></td><td><input required="required" value="{{order_list.0.order_user_name}}" name="name" type="text"></td>
                        <td>手机号 <span>*</span></td><td><input required="required" value="{{order_list.0.order_telphone}}"  data-flag="true" id="phone" name="phone" type="text"></td>
                    </tr>
                    <tr>
                        <td>邮箱 <span>*</span></td><td><input id="email" required="required" value="{{order_list.0.order_email}}"  data-flag="true" name="email" type="email"></td>
                        <td>公司名称 <br>
                            <span style="font-size: 12px">（发票抬头）</span>
                        </td><td><input value="{{order_list.0.company}}" placeholder="输入全称可帮您匹配发票信息" name="company" id="company" type="text"></td>
                    </tr>
                    <tr>
                        <td>职位</td><td><input name="job" value="{{order_list.0.job}}" type="text"></td>
                        <td>验证码 <span>*</span></td><td><input data-flag="false" id="code" type="text" required="required"><img width="100" onclick="this.setAttribute('src','/get_check_code_image/?nocache='+Math.random());" src="/get_check_code_image/" id="cap_img"></td>
                    </tr>
                    <tr>
                        <td>发票类型 <span>*</span></td>
                        <td colspan="3" class="invoice">
                            <label><img class="choose" src="https://pic.huodongjia.com/static/images/xz.png" alt=""><img class="not_choose" src="https://pic.huodongjia.com/static/images/weixuan.png" alt=""><input checked="checked" value="0" name="invoice" type="radio">增值税普通发票</label>
                            <label><img class="choose" src="https://pic.huodongjia.com/static/images/xz.png" alt=""><img class="not_choose" src="https://pic.huodongjia.com/static/images/weixuan.png" alt=""><input value="1" name="invoice" type="radio">增值税专用发票</label>
                            <label><img class="choose" src="https://pic.huodongjia.com/static/images/xz.png" alt=""><img class="not_choose" src="https://pic.huodongjia.com/static/images/weixuan.png" alt=""><input value="3" name="invoice" type="radio"> 稍后提供发票信息 </label>
                            <label><img class="choose" src="https://pic.huodongjia.com/static/images/xz.png" alt=""><img class="not_choose" src="https://pic.huodongjia.com/static/images/weixuan.png" alt=""><input value="2" name="invoice" type="radio">不需要发票</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="invoice_1" colspan="4">
                            <table class="invoice_info">
                                <tr class="invoice_1"><td  class="ie">领取方式 <span>*</span></td>
                                    <td class="invoice_send" colspan="3">
                                        {% if  event.0.ticketandinvoice.invoice_send_type %}
                                        {% for item in event.0.ticketandinvoice.invoice_send_type %}
                                        <label><img class="choose" src="https://pic.huodongjia.com/static/images/xz.png" alt=""><img class="not_choose" src="https://pic.huodongjia.com/static/images/weixuan.png" alt=""><input {% if forloop.first %}checked="checked" {% endif %} value="{{item}}" name="content" type="radio">
                                            {% if item == '0' %}会前快递{% endif%}
                                            {% if item == '1' %}会后快递{% endif%}
                                            {% if item == '2' %}现场领取{% endif%}
                                        </label>
                                        {% endfor %}
                                        {% else %}
                                        <label><img class="choose" src="https://pic.huodongjia.com/static/images/xz.png" alt=""><img class="not_choose" src="https://pic.huodongjia.com/static/images/weixuan.png" alt=""><input checked="checked" value="" name="content" type="radio">快递</label>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if  event.0.ticketandinvoice.invoice_send_type|length == 1 and event.0.ticketandinvoice.invoice_send_type.0 == '2' %}
                                {% else %}
                                <tr class="invoice_1 invoice_address"><td  class="ie">邮寄地址 <span>*</span></td><td colspan="3"><input value="{{order_list.0.invoice_address}}"   required="required"  class="invoice_addr" name="invoice_addr" type="text"></td></tr>
                                {% endif %}
                                <tr class="invoice_1"><td  class="ie">发票抬头 <span>*</span></td><td colspan="3" class="invoice_head"><input value="{{order_list.0.invoice_head}}"  required="required"  class="invoice_title" name="invoice_title" type="text"><span style='color:red;padding-left: 15px;font-size: 14px;'></span></td></tr>
                                <tr class="invoice_1"><td  class="ie">纳税人识别号 <span>*</span></td><td colspan="3"><input value="{{order_list.0.taxpayer_num}}"  required="required" class="taxpayer_num" name="taxpayer_num" type="text"></td></tr>



                                <tr class="invoice_2"><td  class="ie">电话号码 <span>*</span></td><td  colspan="3"><input value="{{order_list.0.phone}}" class="invoice_phone" name="invoice_phone" type="text"></td></tr>
                                <tr class="invoice_2"><td  class="ie">开户银行 <span>*</span></td><td  colspan="3"><input value="{{order_list.0.bank}}" class="invoice_bank" name="invoice_bank" type="text"></td></tr>
                                <tr class="invoice_2"><td  class="ie">银行账户 <span>*</span></td><td  colspan="3"><input value="{{order_list.0.bank_num}}" class="bank_num" name="bank_num" type="text"></td></tr>
                                <tr class="invoice_2"><td  class="ie">公司注册地址 <span>*</span></td><td  colspan="3"><input value="{{order_list.0.company_sign_addr}}" class="company_address" name="company_sign_addr" type="text"></td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>备注</td>
                        <td colspan="3"><textarea  name="remark" placeholder="其他事项请留言">{{order_list.0.remarks}}</textarea></td>
                    </tr>
                    <tr>
                        <td>支付方式 <span>*</span></td>
                        <td colspan="3" class="pay_way">
                            <label><img class="choose" src="https://pic.huodongjia.com/static/images/xz.png" alt=""><img class="not_choose" src="https://pic.huodongjia.com/static/images/weixuan.png" alt=""><span class="alipay"></span><input value="alipay" name="way" type="radio">支付宝</label>
                            <label><img class="choose" src="https://pic.huodongjia.com/static/images/xz.png" alt=""><img class="not_choose" src="https://pic.huodongjia.com/static/images/weixuan.png" alt=""><span class="wechat"></span><input value="weixin" name="way" type="radio">微信</label>
                            <label><img class="choose" src="https://pic.huodongjia.com/static/images/xz.png" alt=""><img class="not_choose" src="https://pic.huodongjia.com/static/images/weixuan.png" alt=""><input value="wangyin" name="way" type="radio">网银支付</label>
                            <label><img class="choose" src="https://pic.huodongjia.com/static/images/xz.png" alt=""><img class="not_choose" src="https://pic.huodongjia.com/static/images/weixuan.png" alt=""><input value="duigong" name="way" type="radio">对公转账</label>
                        </td>
                    </tr>
                    <tr><td style="width: 100px"></td>
                        <td colspan="3">
                            <input type="hidden" class="pre_bank" value="ICBCB2C">
                            <div class="banks">
                                <label><input checked="checked" type="radio" name="banks"><img lang="ICBCB2C" src="https://pic.huodongjia.com/static/images/gongshang.jpg" alt="中国工商银行"></label>
                                <label><input type="radio" name="banks"><img lang="CMB" src="https://pic.huodongjia.com/static/images/zhaoshang.jpg" alt="招商银行"></label>
                                <label><input type="radio" name="banks"><img lang="BOCB2C" src="https://pic.huodongjia.com/static/images/zhongguo.jpg" alt="中国银行"></label>
                                <label><input type="radio" name="banks"><img lang="CCB" src="https://pic.huodongjia.com/static/images/jiahang.jpg" alt="中国建设银行"></label>
                                <label><input type="radio" name="banks"><img lang="ABC" src="https://pic.huodongjia.com/static/images/nongye.jpg" alt="中国农业银行"></label>
                                <label><input type="radio" name="banks"><img lang="SPDB" src="https://pic.huodongjia.com/static/images/pufa.jpg" alt="浦发银行"></label>
                                <label><input type="radio" name="banks"><img lang="CIB" src="https://pic.huodongjia.com/static/images/xingye.jpg" alt="兴业银行"></label>
                                <label><input type="radio" name="banks"><img lang="GDB" src="https://pic.huodongjia.com/static/images/guangfa.jpg" alt="广东发展银行"></label>
                                <label><input type="radio" name="banks"><img lang="FDB" src="https://pic.huodongjia.com/static/images/fuzhen.jpg" alt="富滇银行"></label>
                                <label><input type="radio" name="banks"><img lang="HZCBB2C" src="https://pic.huodongjia.com/static/images/hangzhou.jpg" alt="杭州银行"></label>
                                <label><input type="radio" name="banks"><img lang="SHBANK" src="https://pic.huodongjia.com/static/images/shanghai.jpg" alt="上海银行"></label>
                                <label><input type="radio" name="banks"><img lang="NBBANK" src="https://pic.huodongjia.com/static/images/ningbo.jpg" alt="宁波银行"></label>
                                <label><input type="radio" name="banks"><img lang="SPABANK" src="https://pic.huodongjia.com/static/images/pingan.jpg" alt="平安银行"></label>
                                <label><input type="radio" name="banks"><img lang="POSTGC" src="https://pic.huodongjia.com/static/images/youzheng.jpg" alt="中国邮政储蓄银行"></label>
                            </div>
                        </td></tr>
                </table>
                <button type="submit" id="post">提交订单</button>
            </form>
        </div>
    </div>
    <div class="apply_flow">
        <h1>报名流程</h1>
        1、信息填写 <br>
        2、提交订单并支付成功 <br>
        3、客服会在一个工作日内与您确认参会者信息 <br>
        4、届时为您提供参会凭证和相关发票报销 <br>
        <p></p>
        如有其它问题，请拨打客服电话 <br>
        028-69761252
    </div>
</div>
{% endif %}
{% endblock %}

{% block js %}
<script src="https://pic.huodongjia.com/static/js/jquery.placeholder.min.js "></script>
<script>
    var invoice_type=$('#invoice_type').val(),send_type=$('.send_type').val();
    $('.invoice label').each(function () {
        if($(this).find('input').val() == invoice_type){
            $(this).find('.choose').show();
            $(this).find('.not_choose').hide();
        }else{
            $(this).find('.choose').hide();
            $(this).find('.not_choose').show();
        }
    });
    $('.invoice_send label').each(function () {
        if($(this).find('input').val() == send_type){
            $(this).find('.choose').show();
            $(this).find('.not_choose').hide();
        }else{
            $(this).find('.choose').hide();
            $(this).find('.not_choose').show();
        }
    })
    switch (parseInt(invoice_type))
    {
        case 0:
            $('.invoice_1 input[type="text"]').attr('required','required')
            $('.invoice_2 input[type="text"]').removeAttr('required');
            $('.invoice_1').show();
            $('.invoice_2').hide();
            break;
        case 1:
            $('.invoice_1 input[type="text"],.invoice_2 input[type="text"]').attr('required','required');
            $('.invoice_1,.invoice_2').show();
            break;
        case 2:
            $('.invoice_1 input[type="text"],.invoice_2 input[type="text"]').removeAttr('required');
            $('.invoice_1,.invoice_2').hide();
            break;
        case 3:
            $('.invoice_1 input[type="text"],.invoice_2 input[type="text"]').removeAttr('required');
            $('.invoice_1,.invoice_2').hide();
            break;
    }
    if(parseInt(invoice_type) == 1 || parseInt(invoice_type) == 0){
        switch (parseInt(send_type))
        {
            case 2:
                $('.invoice_address').hide();
                $('.invoice_addr').removeAttr('required')
                break;
            default:
                $('.invoice_address').show();
                $('.invoice_addr').attr('required','required')
        }
    };

    $("textarea").placeholder()
    $('.invoice label,.pay_way label,.invoice_content label,.invoice_send label').click(function (e) {
        var value=$(this).find('input').val(),parent=$(this).parent();
        parent.find('.choose').hide(),parent.find('.not_choose').show();
        $(this).find('.not_choose').hide();
        $(this).find('.choose').show();
        if(parent.attr('class') == "invoice"){
            $('#invoice_type').val(value)
            if(value == "1" || value == "0"){
                $('.invoice_1 input[type="text"]').attr('required','required')
                $('.invoice_1').show();
                if($('.send_type').val() == '2'){
                    $('.invoice_address').hide();
                    $('.invoice_address  input[type="text"]').removeAttr('required')
                }
                if(value == 1){
                    $('.invoice_2 input[type="text"]').attr('required','required')
                    $('.invoice_2').show();
                }else {
                    $('.invoice_2 input[type="text"]').removeAttr('required')
                    $('.invoice_2').hide();
                }
            }else if(value === "2" || value === "3"){
                $('.invoice_1').hide();
                $('.invoice_1 input[type="text"]').removeAttr('required')
                $('.invoice_2 input[type="text"]').removeAttr('required')
            };
        };
        if(parent.attr('class') == "pay_way"){
            $('#ways').val(value)
            if(value == "wangyin"){
                $('#bank').val($('.pre_bank').val());
                $('.banks').slideDown(100);
            }else{
                $('#bank').val('');
                $('.banks').slideUp(100);
            };
        };
        if(parent.attr('class') == "invoice_send"){
            $('.send_type').val(value)
            if(value == "2"){
                $('.invoice_address').hide();
                $('.invoice_address  input[type="text"]').removeAttr('required')
            }else{
                $('.invoice_addr').attr('required','required').show();
            };
        };
        if(parent.attr('class') == "invoice_content"){
            $('#invoice_content').val(value)
        };
    })
    $('.banks label').click(function () {
        var bank=$(this).find('img').attr('lang');
        $('#bank').val(bank);
        $('.pre_bank').val(bank);
    })
    $('#company').blur(function () {
        var company=$(this).val();
        if(company){
            $.get('/official_invoice/',{company_name:company},function (data) {
                if(JSON.stringify(data) != "{}"){
                    $('.invoice_head span').text("已为您匹配到发票信息，请检查后提交");
                    $('.invoice_title').val(data.invoice_head);
                    $('.taxpayer_num').val(data.taxpayer_num);
//                    $('.invoice_addr').val(data.addressee);
                    $('.bank_num').val(data.bank_num);
                    $('.invoice_phone').val(data.phone);
                    $('.invoice_bank').val(data.bank);
                    $('.company_address').val(data.company_address)
                }else{
                    $('.invoice_head span').text("");
                    $('.invoice_title').val('');
                    $('.taxpayer_num').val('');
//                    $('.invoice_addr').val('');
                    $('.bank_num').val('');
                    $('.invoice_phone').val('');
                    $('.invoice_bank').val('');
                    $('.company_address').val('')
                }

            })
        }

    })
    $("#code").on('blur', function () {
        var csrf = document.getElementsByName('csrfmiddlewaretoken')[0];
        var value=csrf.value;
        var captcha = $(this).val();
        if(captcha){
            $.ajax({
                url: "/verify_captcha/",
                dataType: "json",
                type: "post",
                async: false,
                data: {
                    csrfmiddlewaretoken: value,
                    captcha: captcha
                },
                success: function (data) {
                    if (data.flag == 'false') {
                        $("#code").attr({"data-flag":false});
                        $("#code").css({borderColor:'red'})
                        $("#cap_img").click()
                    }else{
                        $("#code").attr({"data-flag":true})
                        $("#code").css({borderColor:'#D9D9D9'})
                    }
                }
            });
        }
    })
    $("#phone").on('blur', function () {
        var phone=$(this).val();
        if(!(/^1+\d{10}$/).test(phone)){
            $("#phone").attr({"data-flag":false});
            $("#phone").css({borderColor:'red'})
        }else{
            $("#phone").css({borderColor:'#D9D9D9'});
            $("#phone").attr({"data-flag":true});
        }
    })
    $("#email").on('blur', function () {
        var email=$(this).val();
        if(!(/\w+((-w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+/).test(email)){
            $("#email").attr({"data-flag":false});
            $("#email").css({borderColor:'red'})
        }else{
            $("#email").css({borderColor:'#D9D9D9'});
            $("#email").attr({"data-flag":true});
        }
    })
    $('.apply_form').submit(function () {
        $('input[required="required"]').each(function () {
            if($(this).val() == ""){
                $(this).css({borderColor:'red'});
                $("html,body").animate({scrollTop: 0})
                event.returnValue = false;
                return false;
            }else{
                $(this).css({borderColor:'#D9D9D9'});
            }
        })
        if($("#phone").attr("data-flag") == "false"){
            event.returnValue = false;
            return false;
        };
        if($("#email").attr("data-flag") == "false"){
            event.returnValue = false;
            return false;
        };
        if($("#code").attr("data-flag") == "false"){
            event.returnValue = false;
            return false;
        };
    })
    var left=$('.apply_info').offset().left+900;
    var _top=$(".apply_flow").offset().top;
    $(window).resize(function () {
        left=$('.apply_info').offset().left+900;
        if($(".apply_flow").css("position") == "fixed"){
            $(".apply_flow").css({left:left})
        }
    })
    $.event.add(window, "scroll", function() {
        var sTop=document.documentElement.scrollTop+document.body.scrollTop;
        if(sTop>=_top){
            $(".apply_flow").css({position:"fixed",top:"20px",left:left})
        }else{
            $(".apply_flow").css({position:"static"})
        }
    });

</script>
{% endblock %}
