{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://pic.huodongjia.com/static/css/base.min.css?t={{now}}.css"/>
<style>
    body{
        background: #F0F0F0;
    }
    .content{
        padding: 20px 0px 0;
        background: #FFF;
        border: 1px solid #D7D7D7;
        margin: 50px auto;
        font-family: "微软雅黑";
    }
    @font-face {
        font-family: "Font";
        src: url("https://pic.huodongjia.com/static/css/pay_iconfont.ttf");
    }
    .myfont {
        font-family: "Font";
        color: #37C976;
        font-size: 3.5em;
    }
    .message p{
        margin: 0 0 10px;
    }
    .message .success{
        color: #000;
        font-size: 22px;
    }
    .message .order{
        color: #656565;
        font-size: 15px;
    }
    .message .order a{
        font-size: 13px;
    }
    .message .tips{
        color: #999999;
        font-size: 12px;
        line-height: 20px;
    }
    .qrcode{
        width: 160px;
        height:160px;
        background: url("https://www.huodongjia.com/static/images/waikuang.png") no-repeat;
        background-size: 100%;
        margin: 20px auto 10px;
        border:1px solid #FFF;
        position: relative;
    }
    .qrcode img{
        position: absolute;
        width: 100%;
        top:0;
        left:0;
    }
    .saomiao{
        transform: translateY(0);
        -webkit-animation: floating-arrow 3s infinite ease-in-out 1s;
        -o-animation: floating-arrow 3s infinite ease-in-out 1s;
        -moz-animation: floating-arrow 3s infinite ease-in-out 1s;
        animation: floating-arrow 3s infinite ease-in-out 1s;
    }
    .qrcode .jiang{
        width: 28px;
        bottom:0;
        right: 0;
        margin: auto;
    }
    #qrcode{
        width: 130px;
        height:130px;
        margin: 15px auto;
    }
    @-webkit-keyframes floating-arrow {
        from {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        to {
            -webkit-transform: translateY(120px);
            transform: translateY(120px);
        }
    }
    @-o-keyframes floating-arrow {
        from {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        to {
            -webkit-transform: translateY(120px);
            transform: translateY(120px);
        }
    }
    @keyframes floating-arrow {
        from {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        to {
            -webkit-transform: translateY(120px);
            transform: translateY(120px);
        }
    }
</style>
{% if src == 'zhima' %}
<div class="container content">
    <div class="text-center message">
        <span class="myfont">&#xe62e;</span>
        <p class="success">提交成功</p>
        <p class="order">您的订单号为：{{ order_num }}</p>
        <p class="tips">温馨提示：发票信息已提供，客服会在两小时内（工作日）与您确认发票和参会者信息</p>
        <div class="qrcode">
            <img width="100%" src="https://www.huodongjia.com/static/images/saomiao.png" alt="">
            <div id="qrcode"></div>
        </div>
        <p>独乐乐不如众乐乐，<br>扫一扫分享给好友吧。</p>
    </div>
    <div style="width:100%;margin-top: 10px;text-align: center;padding: 10px 0"><a href="/forcompany.html" ><img width="1140" src="https://pic.huodongjia.com/static/images/huiyuan.png" alt=""></a></div>
</div>
{% else %}
<div class="container content">
    <div class="text-center message">
        <img src="https:pic.huodongjia.com/static/images/images/hdj/icon_success.png" alt="">
        <p class="success">报名成功</p>
        <p class="order">您的订单号为：{{ order_num }}&nbsp;&nbsp;<a href='/searchorder/?order_search={{order_num}}' target='__blank'>查看订单</a></p>
        <p class="tips">温馨提示：客服正在为您处理订单，将在一个工作日内与您确认参会者 <br>信息、告知参会凭证和发票事宜，请耐心等待。</p>
        <div class="qrcode">
            <img class="jiang" src="https://pic.huodongjia.com/static/images/share_jl.png" alt="奖">
            <div id="qrcode"></div>
            <!--<img class="saomiao" width="100%" src="https://www.huodongjia.com/static/images/saomiao.png" alt="">-->
        </div>
        <p>分享到朋友圈<br>最高可获得￥500现金奖励（返利5%）</p>
        <p style="font-size: 14px;color: #666;">分享奖励说明：用户通过你分享的链接在活动家完成下单后，你可获得订单实付金额的5%作为奖励。下单越多可获得的现金越多。</p>
    </div>

    <div style="width:100%;margin-top: 10px;text-align: center;padding: 10px 0"><a href="/forcompany.html" ><img width="1140" src="https://pic.huodongjia.com/static/images/huiyuan.png" alt=""></a></div>
</div>
{% endif %}
{% endblock %}
{% block js %}
<script src="https://pic.huodongjia.com/static/js/jquery.qrcode.min.js"></script>
<script>
    var this_url="https://m.huodongjia.com/event-{{event_id}}.html?order_from=pc_order&flag={{ flag }}"
    if ((navigator.userAgent.indexOf('MSIE') >= 0)
            && (navigator.userAgent.indexOf('Opera') < 0)){
        $('#qrcode').qrcode({width: 190, height: 190, text:this_url,render:"table"});
    }else{
        $('#qrcode').qrcode({width: 130, height: 130, text:this_url,render:"canvas"});
    }
</script>
{% endblock %}

