{% extends 'base.html' %}
{% block addstyle %}
    <link rel="stylesheet" href="http://pic.huodongjia.com/static/css/searchRsult.css"/>
    <link rel="stylesheet" type="text/css" href="http://pic.huodongjia.com/static/css/jqcloud.css" />
<link rel="alternate" media="only screen and(max-width: 640px)" href="http://m.huodongjia.com{{request.get_full_path}}" >
<meta name="mobile-agent" http-equiv="mobile-agent" content="format=html5;url=http://m.huodongjia.com{{request.get_full_path}}" />
<!--[if lt IE 9]>
<script src="http://pic.huodongjia.com/static/js/html5shiv.min.js"></script>
<style>
    body{
        background: #f7f8fb;
    }
</style>
<![endif]-->
{% endblock %}
{% block content %}
<div class="container content">
    <form action="/search/">
        <input name="keyword" id="search" type="text" placeholder="请输入关键字" value="{{ keyword }}"/>
        <button id="post">搜索</button>
    </form>
    <div class="content_left col-sm-9 col-xs-9">
        <p style="font-size: 16px;color: #676767;margin: 10px 0 15px;padding: 0 10px">为您找到 "<font style="color: #E64E50;">{{ keyword }}</font>" 相关会议{{ event_cnt }}场</p>
            {% for event in events %}
                {% if not event %}
                    {% if not forloop.last %}
                    <p class='past'><span>下面是已成功举办的会议</span></p>
                    <br style='clear: both'/>
                    {% endif %}
                {% endif %}
                <div class='col-sm-12 col-xs-12 meeting_list' >
                    <div class='col-sm-3 col-xs-3'>
                        <a href='{{event.event_url}}' rel="nofollow" target="_blank">
                            {% if event.event_img.0.urls %}
                            <img width='100%' src='{{event.event_img.0.server__name}}{{event.event_img.0.urls}}' alt='{{event.event_name}}'/>
                            {% else %}
                            <img width='100%' style="border: 1px solid #eee" src='http://pic.huodongjia.com/static/images/event_default.jpg' alt='{{event.event_name}}'/>
                            {% endif %}
                        </a>
                    </div>

                      <div class='col-sm-7 col-xs-7 detail' >
                    <h3 class='meeting_name'><a href="{{event.event_url}}" target="_blank">{{event.event_name}}</a></h3>
                    <p class='meeting_tag'>
                        {% for tag in event.event_tag_info %}
                            <a href='/tag/{{tag.id}}/'>{{tag.name}}</a>
                        {% endfor %}
                    </p>
                    <p class='meeting_des'>概述:{{event.event_intro}}</p>
                    <p class='addr'>
                        <span><a href='/{{event.event_city_info.0.title}}/'><font class='m_iconfont'>&#xe609;</font>{{event.event_city_info.0.district_name}}</a></span>
                        {% if event.event_begin_time %}
                        <span><font style='color: #8C8C8C;font-size: 16px;' class='m_iconfont'>&#xe608;&nbsp;</font>{{event.event_begin_time|date:'Y-m-d'}}</span>
                        {% endif %}
                    </p>
                </div>

                    {% ifequal event.event_price_type 6 %}  <!--标准-->
                    {% ifequal event.event_price_unit|length 0 %}
                    <div class="col-sm-2 col-xs-2 price text-center">
                        <p><span>截止</span></p>
                        <p>关注：2040人气</p>
                    </div>
                    {% else %}
                    <div class="col-sm-2 col-xs-2 price text-center">
                        <p><span>{{event.event_price_unit.0.Currency__sign}}{{event.event_price_unit.0.price}}</span></p>
                        <p>关注：{{event.visit}}人气</p>
                    </div>
                    {% endifequal %}
                    {% endifequal %}
                    {% ifequal event.event_price_type 4 %}  <!--免费-->
                    <div class="col-sm-2 col-xs-2 price text-center">
                        <p><span>免费</span></p>
                        <p>关注：{{event.visit}}人气</p>
                    </div>
                    {% endifequal %}
                    {% ifequal event.event_price_type 5 %}  <!--待定-->
                    <div class="col-sm-2 col-xs-2 price text-center">
                        <p><span>待定</span></p>
                        <p>关注：{{event.visit}}人气</p>
                    </div>
                    {% endifequal %}
                    {% ifequal event.event_price_type 7 %}  <!--待定-->
                    <div class="col-sm-2 col-xs-2 price text-center">
                        <p><span>待定</span></p>
                        <p>关注：{{event.visit}}人气</p>
                    </div>
                    {% endifequal %}
                    {% ifequal event.event_price_type 9 %}  <!--待定-->
                    <div class="col-sm-2 col-xs-2 price text-center">
                        <p><span>待定</span></p>
                        <p>关注：{{event.visit}}人气</p>
                    </div>
                    {% endifequal %}


            </div>

            {% endfor %}
    </div>
    <div class="content_right col-sm-3 col-xs-3">
        <div>
            {% if keywords %}
            <p class="history">历史搜索 <span class="Close">&#xe618;</span></p>
            <ul>
                <li class="search_history" style="display: none;font-size: 14px">没有搜索记录哦！</li>
                {% for key in keywords|slice:'15' %}
                <li><a href="/search/?keyword={{ key }}">{{ key }}</a><span class="Close">&#xe618;</span></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
<div class="pagination">
    <ul>
        {% ifnotequal firstPage 'false'%} 
            <li><a href="{{firstPage}}">首页</a></li>
        {% endifnotequal %}

        {% for page in pageList%}
            {% if page.flag == 'true' %}
             <li class="page_active"><a href="{{page.pageurl}}">{{page.page}}</a></li>
             {%else%}
             <li><a href="{{page.pageurl}}">{{page.page}}</a></li>
             {%endif%}
        {% endfor %}

        {% ifnotequal nextPage 'false'%}                      
             <li><a href="{{nextPage}}">下一页</a></li>
             <li><a href="{{lastPage}}">最后一页</a></li>
        {% endifnotequal %} 
    </ul>
</div>
{% endblock %}

{% block js %}
<script src="http://pic.huodongjia.com/static/js/laydate/laydate.js"></script>
<script src="http://pic.huodongjia.com/static/js/jqcloud-1.0.4.min.js"></script>
<script src="http://pic.huodongjia.com/static/js/js.cookie.js"></script>
<script>
    function encodeUTF8(str){  
        var temp = "",rs = "";  
        for( var i=0 , len = str.length; i < len; i++ ){  
            temp = str.charCodeAt(i).toString(16);  
            rs  += "\\\\u"+ new Array(5-temp.length).join("0") + temp;  
        }  
        return rs;  
    } 
     
    function decodeUTF8(str){  
        return str.replace(/(\\u)(\w{4}|\w{2})/gi, function($0,$1,$2){  
            return String.fromCharCode(parseInt($2,16));  
        });   
    }
    var key="{{ keyword }}"
    var flag=0
    if(key=="互联网+"){
        key="互联网"
        flag=1
    }
    String.prototype.TextFilter=function(){
        var pattern=new RegExp("[+]"); //[]内输入你要过滤的字符，这里是我的
        var rs="";
        for(var i=0;i<this.length;i++){
            rs+=this.substr(i,1).replace(pattern,"<span style='color:#E64E4B'>+</span>");
        }
        return rs;
    }
    $(".meeting_name a,.meeting_des,.meeting_tag a").each(function(){
        if(flag==1){
            var a = $(this).text();
            var txt=a.TextFilter(); //调用上面的去字符方法
            if(txt!=a){
                $(this).html(txt)
            }
        }
        var t=$(this).text();
        //取得需要查出的关键字
        var array = (key).split(",");
        //开始用关键字遍历标签文本
        for(var i=0;i<array.length;i++){
            //判断标签是否包含关键字
            if(t.indexOf(array[i])>-1){
                //定义正则表达式对象  array[i]是关键字   "g"是指全局范围
                var a = new RegExp(array[i],"g")
                //对标签文本进行全局替换，包含关键字的位置替换为加红字span对象
                t = t.replace(a,("<span style='color:#E64E4B'>" + array[i] + "</span>"));
                //将替换完的文本对象赋给此对象中A标签对象的html值中
                $(this).html(t);
            }
        }
    });

    $("ul li span.Close").on("click", function(){
        var delete_val = $(this).prev().text()
        var del_str = "u'" + encodeUTF8(delete_val) + "'";
        var history = Cookies.get('search_history');
        var new_history = history.replace(del_str, '');
        Cookies.set('search_history', new_history, { expires: 7});
        var new_history = Cookies.get('search_history');
        var li = $(this).parent("li");
        li.hide(500);
        setTimeout(function() {
          li.remove();
          }, 500);
    });
    $(".history .Close").on("click", function(){
        $("ul li span.Close").click()
        setTimeout(function() {
            $(".search_history").show()
        }, 500);
    });

</script>
{% endblock %}
