{% extends "base.html" %}
    {% block addstyle %}
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://pic.huodongjia.com/static/css/video_lists.css">
<link href="http://cdn.bootcss.com/Swiper/3.0.7/css/swiper.css" rel="stylesheet">
        <style>
            .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet{
                width:12px !important;
                height:12px !important;
            }
            .swiper-pagination-bullet-active{
                background: #e84c3d !important;
            }
        </style>
{% endblock %}
{% block head %}
{% autoescape off %}
<title>会议视频大全_会议现场录像_活动家</title>
<meta name="description" content="错过了那场重要的会议？没关系，看一下会议视频录像也能身临其境。找会议视频，就上活动家Huodongjia.com！提供热门会议的现场视频，助你轻松获取会议干货。" />
<meta name="keywords" content="会议视频,大会视频,会议现场" />
{% endautoescape %}
{% endblock %}
{% block m_site %}{% endblock %}
{% block content %}
<div class="container">
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="http://webinar.vhall.com/action.php?module=go&amp;vc=H23OHtCLGxCqcB89WMiKG2WKHxXOG2HuajeeVAqo7MTncxGOHxXrHxDSa6zj4jn933q=&amp;info=1" target="_blank" rel="nofollow">
                        <img src="http://pic.huodongjia.com/static/images/video_banner.jpg" alt="夏季世界o2o博览会">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="http://webinar.vhall.com/action.php?module=go&amp;vc=H2XKG2yLGxWMcB89WMiKG2WKIxuMGtHuajeeVAqo7MTncxGOHxXrHtzSV2CqVLal4z7=&amp;info=1" target="_blank" rel="nofollow">
                        <img src="http://pic.huodongjia.com/static/images/video_banner1.jpg" alt="2015中国移动医疗产业论坛">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="http://webinar.vhall.com/action.php?module=go&amp;vc=IxuMH2hMIxCOcB89WMiKG2WKI2usHxHuajeeVAqo7MTncxGOHxXrHt8SH6aEVBiE45q=&amp;info=1" target="_blank" rel="nofollow">
                        <img src="http://pic.huodongjia.com/static/images/video_banner2.jpg" alt="艾瑞峰会">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination" style="bottom:-25px"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="banner_left"></div>
        <div class="banner_right"></div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 header">
            <ul class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ul_left">
                <li><a href="/" target="_blank">活动家</a>&gt;</li>
                <li><a><h1>会议视频列表</h1></a></li>
            </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 content">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_list" style="height: 1000px;">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_info" style="height: 885px;">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 title">
                        <a>现场直播</a>
                    </div>
                    <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 meeting">
                        <ul>
                            <li>时下最热会议预告：</li>
                            <li><a href="/event-7489971.html" target="_blank">2015互联网金融外滩峰会</a></li>
                            <li><a href="/event-7944161.html" target="_blank">第五届全国交通监理文化建设研讨会</a></li>
                            <li><a href="/event-6425083.html" target="_blank">2015“3D打印智造”高峰论坛</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video new_live">
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 video_show">
                            <a href="http://vzhibo.tv/event/zcpz?sid=482697" target="_blank" title="诺亚财富2015下半年资产配置建议">
                                <img src="http://pic.huodongjia.com/static/images/liveshow1.jpg" alt="诺亚财富2015下半年资产配置建议">
                                <p class="video_name">诺亚财富2015下半年资产配置建议</p>
                                <span>查看回放</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 video_show" title="2015天翼终端交易博览会">
                            <a href="http://vzhibo.tv/event/tyblh?sid=482697" target="_blank" >
                                <img src="http://pic.huodongjia.com/static/images/liveshow2.jpg" alt="2015天翼终端交易博览会">
                                <p class="video_name">2015天翼终端交易博览会</p>
                                <span>查看回放</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 video_show" title="2015财富高峰论坛“布局资本市场分享财富盛宴”">
                            <a href="http://vzhibo.tv/event/bjzb?sid=482697" target="_blank" >
                                <img src="http://pic.huodongjia.com/static/images/liveshow3.jpg" alt="2015财富高峰论坛“布局资本市场分享财富盛宴”">
                                <p class="video_name">2015财富高峰论坛“布局资本市场分享财富盛宴”</p>
                                <span>查看回放</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 video_show" title="2015诺亚财富 创新财富管理论坛">
                            <a href="http://vzhibo.tv/event/cxlt?sid=482697" target="_blank" >
                                <img src="http://pic.huodongjia.com/static/images/liveshow4.jpg" alt="2015诺亚财富 创新财富管理论坛">
                                <p class="video_name">2015诺亚财富 创新财富管理论坛</p>
                                <span>查看回放</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 video_show" title="走进基金管理人之歌斐TOP30母基金">
                            <a href="http://vzhibo.tv/event/decryption?eid=250" target="_blank" >
                                <img src="http://pic.huodongjia.com/static/images/liveshow5.jpg" alt="走进基金管理人之歌斐TOP30母基金">
                                <p class="video_name">走进基金管理人之歌斐TOP30母基金</p>
                                <span>查看回放</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 video_show" title="家族财富私人订制的创新与探讨">
                            <a href="http://vzhibo.tv/event/jzcf?sid=482697" target="_blank" >
                                <img src="http://pic.huodongjia.com/static/images/liveshow6.jpg" alt="家族财富私人订制的创新与探讨">
                                <p class="video_name">家族财富私人订制的创新与探讨</p>
                                <span>查看回放</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 video_show" title="诺亚财富上海大区2015下半年投资策略研究报告发布会">
                            <a href="http://vzhibo.tv/event/shfbh?sid=482697" target="_blank" >
                                <img src="http://pic.huodongjia.com/static/images/liveshow7.jpg" alt="诺亚财富上海大区2015下半年投资策略研究报告发布会">
                                <p class="video_name">诺亚财富上海大区2015下半年投资策略研究报告发布会</p>
                                <span>查看回放</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 video_show" title="对话欧洲最佳私人银行">
                            <a href="http://vzhibo.tv/event/sryh?sid=482697" target="_blank" >
                                <img src="http://pic.huodongjia.com/static/images/liveshow8.jpg" alt="对话欧洲最佳私人银行">
                                <p class="video_name">对话欧洲最佳私人银行</p>
                                <span>查看回放</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_list">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_info">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 title">
                        <a>热门视频</a>
                    </div>
                    <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 meeting">
                        <ul>
                            <li>时下最热会议预告：</li>
                            <li><a href="/event-8164542.html" target="_blank">2015中国芳烃产业链发展大会</a></li>
                            <li><a href="/event-6867678.html" target="_blank">2015 5G测试测量核心技术大会</a></li>
                            <li><a href="/event-247532.html" target="_blank">中国游戏商务大会(CGBC 2015)</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video">
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=H23OHtCLGxCqcB89WMiKG2WKHxXOG2HuajeeVAqo7MTncxGOHxXrHxDSa6zj4jn933q=&info=1" target="_blank" >
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_1.jpg" alt="夏季世界O2O博览会">
                            </a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=H23OHtCLGxCqcB89WMiKG2WKHxXOG2HuajeeVAqo7MTncxGOHxXrHxDSa6zj4jn933q=&info=1" class="video_name" target="_blank">夏季世界O2O博览会|创客峰会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HgCNIx7rHxGMcB89WMiKG2WKH2GNH2euajeeVAqo7MTncxGOHxXrH2iS42e4ZMeoIxG=&info=1" target="_blank" >
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_2.jpg" alt="2015互联网金融与供应链管理行业峰会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HgCNIx7rHxGMcB89WMiKG2WKH2GNH2euajeeVAqo7MTncxGOHxXrH2iS42e4ZMeoIxG=&info=1" class="video_name" target="_blank">2015互联网金融与供应链管理行业峰会</a>
                        </div>
                            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                                <a href="http://webinar.vhall.com/action.php?module=go&vc=G27OI2GqHtGrcB89WMiKG2WKHguLHxiuajeeVAqo7MTncxGOHxXrHgDSatDy2A9n2hy=&info=1" target="_blank" >
                                <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                                <img src="http://pic.huodongjia.com/img/shipin/vhall_3.jpg" alt="GMIC全球移动互联网大会2015"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=G27OI2GqHtGrcB89WMiKG2WKHguLHxiuajeeVAqo7MTncxGOHxXrHgDSatDy2A9n2hy=&info=1" class="video_name" target="_blank">GMIC全球移动互联网大会2015</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=G2WNH2GOG2dOcB89WMiKG2dqHt3rHxvuajeeVAqo7MTncxGOHxXtHxYS4gHj343L36X=&info=1" target="_blank" >
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_4.jpg" alt="第二届移动互联网创业代表大会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=G2WNH2GOG2dOcB89WMiKG2dqHt3rHxvuajeeVAqo7MTncxGOHxXtHxYS4gHj343L36X=&info=1" class="video_name" target="_blank">第二届移动互联网创业代表大会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=H2XKG2yLGxWMcB89WMiKG2WKIxuMGtHuajeeVAqo7MTncxGOHxXrHtzSV2CqVLal4z7=&info=1" target="_blank" >
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_5.jpg" alt="2015中国移动医疗产业论坛"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=H2XKG2yLGxWMcB89WMiKG2WKIxuMGtHuajeeVAqo7MTncxGOHxXrHtzSV2CqVLal4z7=&info=1" class="video_name" target="_blank">2015中国移动医疗产业论坛</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=IxuMH2hMIxCOcB89WMiKG2WKI2usHxHuajeeVAqo7MTncxGOHxXrHt8SH6aEVBiE45q=&info=1" target="_blank" >
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_6.jpg" alt="艾瑞峰会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=IxuMH2hMIxCOcB89WMiKG2WKI2usHxHuajeeVAqo7MTncxGOHxXrHt8SH6aEVBiE45q=&info=1" class="video_name" target="_blank">艾瑞峰会</a>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 more">-->
                    <!--<a>更多>></a>-->
                <!--</div>-->
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_list">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_info">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 title">
                        <a>会议视频</a>
                    </div>
                    <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 meeting">
                        <ul>
                            <li>时下最热会议预告：</li>
                            <li><a href="/event-3239200.html" target="_blank">中国IT价值峰会</a></li>
                            <li><a href="/event-6088195.html" target="_blank">2015网易未来科技峰会</a></li>
                            <li><a href="/event-9148997.html" target="_blank">吉林省计算机学会2015年学术年会(JLPCF 2015)</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video">
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=GtutGg3NG2WMcB89WMiKG2WKI2GrGt8uajeeVAqo7MTncxGOHxXrIxzSb2DYGxuq40W=&info=1" target="_blank" >
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_7.jpg" alt="2014(第十届)中国商业模式峰会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=GtutGg3NG2WMcB89WMiKG2WKI2GrGt8uajeeVAqo7MTncxGOHxXrIxzSb2DYGxuq40W=&info=1" class="video_name" target="_blank">2014(第十届)中国商业模式峰会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Gt3OG2dtHgWOcB89WMiKG2WLGxCLGgvuajeeVAqo7MTncxGOHxXrI2eSZNDM5B3PHBX=&info=1" target="_blank" >
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_8.jpg" alt="易观电商大会之“再造?新生”——尖峰对话"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Gt3OG2dtHgWOcB89WMiKG2WLGxCLGgvuajeeVAqo7MTncxGOHxXrI2eSZNDM5B3PHBX=&info=1" class="video_name" target="_blank">易观电商大会之“再造?新生”——尖峰对话</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=IxWsH27rGxuMcB89WMiKG2WLGx3NGtHuajeeVAqo7MTncxGOHxXsGxzS33hLbA8kb2W=&info=1" target="_blank" >
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_9.jpg" alt="颠覆-年度CEO见面会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=IxWsH27rGxuMcB89WMiKG2WLGx3NGtHuajeeVAqo7MTncxGOHxXsGxzS33hLbA8kb2W=&info=1" class="video_name" target="_blank">颠覆-年度CEO见面会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HxdMGgXrI2uMcB89WMiKG2WLG2GrHxiuajeeVAqo7MTncxGOHxXsGx4S3hmrUM9mUA7=&info=1" target="_blank" >
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_10.jpg" alt="2014派代年会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HxdMGgXrI2uMcB89WMiKG2WLG2GrHxiuajeeVAqo7MTncxGOHxXsGx4S3hmrUM9mUA7=&info=1" class="video_name" target="_blank">2014派代年会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Ix7tHgdPHt7rcB89WMiKG2WLGguOG28uajeeVAqo7MTncxGOHxXsG2vSa0Y62y4KZAh=&info=1" target="_blank" >
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_11.jpg" alt="凯文凯利，共享经济的未见之境"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Ix7tHgdPHt7rcB89WMiKG2WLGguOG28uajeeVAqo7MTncxGOHxXsG2vSa0Y62y4KZAh=&info=1" class="video_name" target="_blank">凯文凯利，共享经济的未见之境</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">\
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=H2GqHgdKGgyscB89WMiKG2WLGgGKH24uajeeVAqo7MTncxGOHxXsG2HSaM4e4LveU0G=&info=1" target="_blank" >
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_12.jpg" alt="中国智能硬件蛋年创新大会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=H2GqHgdKGgyscB89WMiKG2WLGgGKH24uajeeVAqo7MTncxGOHxXsG2HSaM4e4LveU0G=&info=1" class="video_name" target="_blank">中国智能硬件蛋年创新大会</a>
                        </div>
                </div>
            </div>
                <!--<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 more">-->
                    <!--<a>更多>></a>-->
                <!--</div>-->
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_list">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_info">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 title">
                        <a>会议视频</a>
                    </div>
                    <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 meeting">
                        <ul>
                            <li>时下最热会议预告：</li>
                            <li><a href="/event-3572058.html" target="_blank">第十八次全国统计科学讨论会</a></li>
                            <li><a href="/event-247004.html" target="_blank">2015年全国开放式分布与并行计算学术年会</a></li>
                            <li><a href="/event-2871364.html" target="_blank">2015台湾大数据论坛</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video">
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HgXtG27tIx7PcB89WMiKG2WLGt3MG2YuajeeVAqo7MTncxGOHxXsGgvSHNev4xYXVN3=&info=1" target="_blank"><img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_13.jpg" alt="2014GNEV年度绿色汽车颁奖晚宴"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HgXtG27tIx7PcB89WMiKG2WLGt3MG2YuajeeVAqo7MTncxGOHxXsGgvSHNev4xYXVN3=&info=1" class="video_name" target="_blank">2014GNEV年度绿色汽车颁奖晚宴</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Hg3qGtGMHt3LcB89WMiKG2WLHxCqGKvMUAzmVwPgVMLSGtdKHxCsG0qMYBHCWtY45X==&info=1" target="_blank"><img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_14.jpg" alt="互联网金融暨跨境电商主题分享"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Hg3qGtGMHt3LcB89WMiKG2WLHxCqGKvMUAzmVwPgVMLSGtdKHxCsG0qMYBHCWtY45X==&info=1" class="video_name" target="_blank">互联网金融暨跨境电商主题分享</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Gt7PHtyrIx7scB89WMiKG2WLHx3LHxeuajeeVAqo7MTncxGOHxXsGgYSH4aUIBen3AK=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_15.jpg" alt="文化定福庄的探索与实践"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Gt7PHtyrIx7scB89WMiKG2WLHx3LHxeuajeeVAqo7MTncxGOHxXsGgYSH4aUIBen3AK=&info=1" class="video_name" target="_blank">文化定福庄的探索与实践</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HghPHgdKI2hqcB89WMiKG2WLH2yNHx4uajeeVAqo7MTncxGOHxXsGtvSHN822zaMZ5q=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_16.jpg" alt="第五届长江青年投资人论坛"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HghPHgdKI2hqcB89WMiKG2WLH2yNHx4uajeeVAqo7MTncxGOHxXsGtvSHN822zaMZ5q=&info=1" class="video_name" target="_blank">第五届长江青年投资人论坛</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HgCsGg3rGgyKcB89WMiKG2WLH2XrGgDuajeeVAqo7MTncxGOHxXsGtHSY0vBZNCNZz3=&info=1" target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_17.jpg" alt="新三板大机遇：海外创新公司回归高峰论坛"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HgCsGg3rGgyKcB89WMiKG2WLH2XrGgDuajeeVAqo7MTncxGOHxXsGtHSY0vBZNCNZz3=&info=1" class="video_name" target="_blank">新三板大机遇：海外创新公司回归高峰论坛</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=I2CMH27KH2XtcB89WMiKG2WLHguLGKvMUAzmVwPgVMLSGtdKHxCtH0rUH0vUGiD84q==&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_18.jpg" alt="第6届金鼠标"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=I2CMH27KH2XtcB89WMiKG2WLHguLGKvMUAzmVwPgVMLSGtdKHxCtH0rUH0vUGiD84q==&info=1" class="video_name" target="_blank">第6届金鼠标?数字营销盛典</a>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 more">-->
                    <!--<a>更多>></a>-->
                <!--</div>-->
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_list">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_info">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 title">
                        <a>会议视频</a>
                    </div>
                    <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 meeting">
                        <ul>
                            <li>时下最热会议预告：</li>
                            <li><a href="/event-8364597.html" target="_blank">中国Linux内核开发者大会</a></li>
                            <li><a href="/event-8460983.html" target="_blank">2015凤凰LINK+大会</a></li>
                            <li><a href="/event-6001142.html" target="_blank">XCon 2015安全焦点信息安全技术峰会</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video">
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=GthLGtCqGtWOcB89WMiKG2WLHgCKGtzuajeeVAqo7MTncxGOHxXsGteSH6zj2hmPV3d=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_19.jpg" alt="2015广东连锁业大会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=GthLGtCqGtWOcB89WMiKG2WLHgCKGtzuajeeVAqo7MTncxGOHxXsGteSH6zj2hmPV3d=&info=1" class="video_name" target="_blank">2015广东连锁业大会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HgXLIxCKH23rcB89WMiKG2WLHgXKH3vMUAzmVwPgVMLSGtdKHxCKGBqt8haP20CtbX==&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_20.jpg" alt="复旦EMBA互联网医疗与健康产业高峰论坛"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HgXLIxCKH23rcB89WMiKG2WLHgXKH3vMUAzmVwPgVMLSGtdKHxCKGBqt8haP20CtbX==&info=1" class="video_name" target="_blank">复旦EMBA互联网医疗与健康产业高峰论坛</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HtGsIxdLGghLcB89WMiKG2WLHtuLG2euajeeVAqo7MTncxGOHxXsHxHSb48MahH420y=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_21.jpg" alt="2015创业投资峰会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HtGsIxdLGghLcB89WMiKG2WLHtuLG2euajeeVAqo7MTncxGOHxXsHxHSb48MahH420y=&info=1" class="video_name" target="_blank">2015创业投资峰会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HxuKHtXsHxXMcB89WMiKG2WLHtCMHgvuajeeVAqo7MTncxGOHxXsHx8SX4zv3yPl8L7=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_22.jpg" alt="2015中国产业互联网峰会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=HxuKHtXsHxXMcB89WMiKG2WLHtCMHgvuajeeVAqo7MTncxGOHxXsHx8SX4zv3yPl8L7=&info=1" class="video_name" target="_blank">2015中国产业互联网峰会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=G2hPI2uMGxXKcB89WMiKG2WLHt3rGt8uajeeVAqo7MTncxGOHxXsH2zSZ4Dz25ni8yy=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_23.jpg" alt="2014商派电商大会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=G2hPI2uMGxXKcB89WMiKG2WLHt3rGt8uajeeVAqo7MTncxGOHxXsH2zSZ4Dz25ni8yy=&info=1" class="video_name" target="_blank">2014商派电商大会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=G2urH27rHxuOcB89WMiKG2WLIxytGgauajeeVAqo7MTncxGOHxXsH2DSH24AYAnLY4X=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_24.jpg" alt="2014中国营销盛典"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=G2urH27rHxuOcB89WMiKG2WLIxytGgauajeeVAqo7MTncxGOHxXsH2DSH24AYAnLY4X=&info=1" class="video_name" target="_blank">2014中国营销盛典</a>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 more">-->
                    <!--<a>更多>></a>-->
                <!--</div>-->
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_list">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video_info">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 title">
                        <a>会议视频</a>
                    </div>
                    <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 meeting">
                        <ul>
                            <li>时下最热会议预告：</li>
                            <li><a href="/event-247776.html" target="_blank">第三届CCF大数据学术会议</a></li>
                            <li><a href="/event-9515681.html" target="_blank">2015中国国际工程塑料产业创新大会</a></li>
                            <li><a href="/event-71929.html" target="_blank">2015中国国际瑜伽产业博览会</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 video">
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Hx3rHgdsGgWrcB89WMiKG2WLIxGLH2zuajeeVAqo7MTncxGOHxXsH2YSZiDUY6ay5BX=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_25.jpg" alt="CMIC第七届中国会议产业大会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Hx3rHgdsGgWrcB89WMiKG2WLIxGLH2zuajeeVAqo7MTncxGOHxXsH2YSZiDUY6ay5BX=&info=1" class="video_name" target="_blank">CMIC第七届中国会议产业大会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=GgyOH2WqH2XqcB89WMiKG2WLIx3LHKvMUAzmVwPgVMLSGtdKHxCLHNrP46aL23nM5u==&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_26.jpg" alt="2014中国电商媒体人峰会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=GgyOH2WqH2XqcB89WMiKG2WLIx3LHKvMUAzmVwPgVMLSGtdKHxCLHNrP46aL23nM5u==&info=1" class="video_name" target="_blank">2014中国电商媒体人峰会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=H2XqHgCLGxuMcB89WMiKG2WLI2yOGgDuajeeVAqo7MTncxGOHxXsH2iS8397Gi9eYzy=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_27.jpg" alt="世界自动售货机运营商高峰论坛"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=H2XqHgCLGxuMcB89WMiKG2WLI2yOGgDuajeeVAqo7MTncxGOHxXsH2iS8397Gi9eYzy=&info=1" class="video_name" target="_blank">世界自动售货机运营商高峰论坛</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Gg3MG2XrI2WOcB89WMiKG2WLI2GPGteuajeeVAqo7MTncxGOHxXsHgzSXtvr80ihUBh=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_28.jpg" alt="长江东北高峰论坛"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=Gg3MG2XrI2WOcB89WMiKG2WLI2GPGteuajeeVAqo7MTncxGOHxXsHgzSXtvr80ihUBh=&info=1" class="video_name" target="_blank">2014 长江东北高峰论坛</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=GgyqIx7NHgutcB89WMiKG2WLI23NGgauajeeVAqo7MTncxGOHxXsHgYSI3Tx56H17LC=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_29.jpg" alt="2014年Unity亚洲开发者大会"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=GgyqIx7NHgutcB89WMiKG2WLI23NGgauajeeVAqo7MTncxGOHxXsHgYSI3Tx56H17LC=&info=1" class="video_name" target="_blank">2014年Unity亚洲开发者大会</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 video_show">
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=GtuqHgXNHxhPcB89WMiKG2drHxXOGtYuajeeVAqo7MTncxGOHxXtIxvS5yTBVhLgV0X=&info=1"  target="_blank">
                            <img src="http://pic.huodongjia.com/static/images/iconfont-iconshipin.png" class="play">
                            <img src="http://pic.huodongjia.com/img/shipin/vhall_30.jpg" alt="经济新常态下的企业战略重构"></a>
                            <a href="http://webinar.vhall.com/action.php?module=go&vc=GtuqHgXNHxhPcB89WMiKG2drHxXOGtYuajeeVAqo7MTncxGOHxXtIxvS5yTBVhLgV0X=&info=1" class="video_name" target="_blank">经济新常态下的企业战略重构</a>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 more">-->
                    <!--<a>更多>></a>-->
                <!--</div>-->
            </div>
    </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.js"></script>
<script src="http://cdn.bootcss.com/Swiper/3.0.7/js/swiper.jquery.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView:1,
        spaceBetween: 10,
        autoplay: 4000,
        paginationClickable: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        autoplayDisableOnInteraction: false
    });
    var con_width =$(".container").width();
    $(".swiper-slide").width(con_width);
    $(".swiper-slide img").css({width:"100%"});
    $(".swiper-container").css({width:con_width, overflow:"inherit"});
    $(".banner_left").width(($("body").width()-con_width)/2);
    $(".banner_right").width(($("body").width()-con_width)/2);
    //$("a").attr("rel","nofollow");
    function font_length(a,b){
        var maxwidth=a;
        if($(b).text().length>maxwidth){
            $(b).text($(b).text().substring(0,maxwidth));
            $(b).html($(b).html()+'...');
        }
    }
    $(".new_live p").each(function() {
        $(this).text($.trim($(this).text()));
        font_length(15, $(this))
    });
    $(".mainWrapper").css({
        overflow:"hidden"
    })
</script>
{% endblock%}
