<link rel="stylesheet" href="../static/css/venue_sponsor.css">{% extends 'base.html' %}
{% block addstyle %}

    <link rel="stylesheet" href="https://pic.huodongjia.com/static/css/all.min.css">
    <link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.huodongjia.com{{request.get_full_path}}" >
    <meta name="mobile-agent" http-equiv="mobile-agent" content="format=html5;url=https://m.huodongjia.com{{request.get_full_path}}" />
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{{ sponsor.ns_pic_urls}}"/>
    <meta property="og:title" content="{{ seo.title }}"/>
    <meta property="og:description" content="{{ seo.description }}"/>
    <meta property="og:release_date" content="{% if sponsor.ns_events %}{{ sponsor.ns_events.0.release_time }}{% else %}{{ sponsor.ns_hold_events.0.begin_time }}{% endif %}"/>
<link rel="stylesheet" href="https://pic.huodongjia.com/static/css/venue_sponsor.css"/>
<style>
    .venue_left{background: none}
    .venue_info{
        background: #fff;
        padding: 20px;
        margin-bottom: 15px;
    }
    .venue_info img{
        float: left;
        margin-right: 20px;
    }
    .venue_info h2{
        font-weight: 600;
        font-size: 18px;
        margin: 20px;
        color: #000;
    }
    .venue_info{
        min-height: 200px;
    }
    .venue_info p{
        color: #666;
        font-size: 14px;
        line-height: 26px;
    }
    .venue_event{background: #fff}
    .count{
        font-size: 18px;
        font-weight: 600;
        padding: 20px;
        margin: 0;
        color: #000;
    }
    .venue_list{
        border-bottom: none;
        border-top: 1px solid #D9D9D9;
    }
    .famous{
        display: -webkit-flex;
        display: flex;
        align-items: center;
        background: #fff;
        margin-top: 15px;
        flex-wrap: wrap;
    }
    .famous>div{
        width: 33%;
        display: -webkit-flex;
        display: flex;
        padding: 20px 0;
    }
    .famous div p{
        padding:0 10px;
        margin: 0;
        font-size: 14px;
        color: #999;
        width: 197px;
    }
    .famous div p a{
        color: #000;
        font-size: 16px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .related .n_title{width: 100%}
    .related .n_title:after{
        height: 0;
    }
    .img{
        position: relative;
        width: 224px;
    }
    .img p a{color: #fff;}
    .img p{
        color: #fff;
        font-size: 14px;
        text-align: right;
        width: 100%;
        line-height: 30px;
        background: rgba(0, 0, 0, 0.28);
        position: absolute;
        bottom:0;
        left:0;
        margin: 0;
        padding-right: 10px;
    }
    .hot_event h3{
        font-size: 14px;
        margin: 0;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .hot_event h3 a{ color: #000;}
    .apply{
        position: absolute;
        right: 0px;
        top:0px;
        background: #1474d8;
        color: #fff;
        line-height: 35px;
        padding: 0 10px;
        font-size: 14px;
    }
    .stop{
        color: #fff;
        background: #999;
    }
</style>
{% endblock %}
{% load page_nav %}
{% block content %}
<div class="container">
    <div class="bread_nav"><a href="/">首页</a> &gt; <a href="/listsponsor/">会议主办方</a> &gt; <h1 style="display: inline;font-size: 14px;margin: 0">{{ sponsor.ns_name  }}</h1></div>
    <div class="venue_left">
        <div class="venue_info">
            {% if sponsor.ns_pic_urls %}
            <img src="{{ sponsor.ns_pic_urls}}"  alt="{{ sponsor.ns_name }}">
            {% else %}
            <img src="https://pic.huodongjia.com/static/images/spon_default.jpg" alt="{{event.ns_name}}">
            {% endif %}
            <h2>{{sponsor.ns_name}}</h2>
            <p>{{sponsor.ns_intro}}</p>
        </div>
        <div class="venue_event">
            <h3 class="count">主办会议共{{sponsor.ns_events_count}}场</h3>
            <div class="all">
                {% for item in sponsor_events %}
                <div class="venue_list">
                    <div>
                        <a href="{{item.event_url}}" target="_blank">
                            {% if item.event_img %}
                            <img width="244" height="146" src="{{item.event_img.0.server__name}}{{item.event_img.0.urls}}" alt="{{ item.event_name }}"/>
                            {% else %}
                            <img width="244" height="146" src="https://pic.huodongjia.com/static/images/event_default.jpg" alt="{{ item.event_name }}"/>
                            {% endif %}
                        </a>
                    </div>
                    <div class="info">
                        <div>
                            <h3 class="venue_title"><a href='{{item.event_url}}' target="_blank">{{ item.event_name }}</a></h3>
                            {% if item.event_invalid %}
                            <a class="apply stop">会议结束</a>
                            {% else %}
                            {% ifequal item.event_price_type 6 %}  <!--标准-->
                            {% if item.event_price_unit|length == 0 or not item.event_price_valid %}
                            <a class="apply stop">报名截止</a>
                            {% else %}
                            <a class="apply" href="{{item.event_url}}" target="_blank">立即参会</a>
                            {% endif %}
                            {% endifequal %}
                            {% ifequal item.event_price_type 5 %}  <!--待定-->
                            <a class="apply" href="{{item.event_url}}" target="_blank">立即咨询</a>
                            {% endifequal %}
                            {% ifequal item.event_price_type 7 %}  <!--待定-->
                            <a class="apply" href="{{item.event_url}}" target="_blank">立即咨询</a>
                            {% endifequal %}
                            {% endif %}
                        </div>
                        <div class="detail">
                            <p style="width: 12%">会议时间：</p>
                            <p style="width: 88%">{{ item.event_begin_time }}</p>
                            <p style="width: 12%">会议地点：</p>
                            <p style="width: 88%"><a href="/{{item.event_city_info.0.title}}/">{{ item.event_city_info.0.district_name }}</a></p>
                            <p style="width: 12%">会议简介：</p>
                            <p style="width: 88%">{{item.event_intro|slice:'100'}}...</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if nextPage != 'false' %}
            <p style="text-align: center;line-height: 45px;color: #333;font-size: 14px;"><span style="cursor:pointer;" data-page={{nextPage}} class="more">查看更多</span></p>
            {% endif %}
        </div>
        <div class="famous related">
            <p class="n_title">知名主办方</p>
            {% for item in famous_sponsor %}
            <div>
                <a href="/sponsor-{{item.id}}.html">
                    {% if item.ns_pic_urls %}
                    <img width="121" src="{{item.ns_pic_urls}}" alt="{{item.ns_name}}">
                    {% else %}
                    <img width="121"  src="https://pic.huodongjia.com/static/images/sponsor_default.jpg" alt="{{ item.ns_name }}"/>
                    {% endif %}
                </a>
                <p>
                    <a href="/sponsor-{{item.id}}.html">{{item.ns_name}}</a>
                    共{{item.events|length}}场会议
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="venue_right">
        <a href="/postevent/" target="_blank"><img  src="http://pic.huodongjia.com/static/images/youhuima.png" alt=""></a>
        <div class="related">
            <p class="n_title">你可能会关注</p>
            {% for item in rela_events %}
            <div class="hot_event">
                <div class="img">
                    <a href="{{item.event_url}}"><img width="224" height="140" src="{{item.event_img.0.server__name}}{{item.event_img.0.urls}}" alt="{{item.event_name}}"></a>
                    <p>{{item.event_begin_time}}   <a href="/{{item.event_city_info.0.title}}/" target="_blank">{{item.event_city_info.0.district_name}}</a></p>
                </div>
                <h3><a href="{{item.event_url}}">{{item.event_name}}</a></h3>
            </div>

            {% endfor %}
        </div>
        <div class="setting">
            <a><img src="http://pic.huodongjia.com/static/images/venue_app.png" alt="app">
                <div>
                    <img width="150" height="150" src="https://pic.huodongjia.com/static/images/icon-app.jpg" alt="活动家app下载">
                    <span>下载活动家app<br>随时随地查看国内商务会议 <br>了解行业动态</span>
                </div>
            </a>
            <a><img src="http://pic.huodongjia.com/static/images/gongzhonghao.png" alt="公众号">
                <div>
                    <img width="150" height="150" src="https://pic.huodongjia.com/static/images/icon-gzh.jpg" alt="活动家app下载">
                    <span>关注活动家公众号<br>了解更多会议资讯</span>
                </div>
            </a>
            <a><img src="http://pic.huodongjia.com/static/images/shoujichakan.png" alt="用手机查看">
                <div>
                    <div class="qcrode"></div>
                    <span>扫一扫  在手机上查看</span>
                </div>
            </a>
        </div>
    </div>

</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://pic.huodongjia.com/static/js/jquery.qrcode.min.js"></script>
<script type="text/javascript">
    $('.more').click(function () {
        var url=$(this).attr('data-page')
        if(url){
            $('.more').text('正在加载...')
            $.ajax({
                url:url,
                type:'get',
                data:{json:1},
                dataType:'json',
                async:false,
                success:function (data) {
                    var _html=''
                    var Data=data.sponsor_events,img,price
                    for(var i=0;i<Data.length;i++){
                        var intro=Data[i].event_intro.substring(0,70)
                        if(Data[i].event_img.length > 0){
                            img=Data[i].event_img[0].server__name + Data[i].event_img[0].urls
                        }else{
                            img="http://pic.huodongjia.com/static/images/event_default.jpg"
                        }
                        if(Data[i].event_invalid){
                            price='<a  class="apply stop">会议结束</a>'
                        }else {
                            if(Data[i].event_price_type == 6 && Data[i].event_price_unit.length == 0){
                                price='<a class="apply stop">报名截止</a>'
                            }else{
                                price='<a href="'+Data[i].event_url+'" target="_blank" class="apply">立即参会</a>'
                            }
                            if(Data[i].event_price_type == 5){
                                price='<a href="'+Data[i].event_url+'" target="_blank" class="apply">立即咨询</a>'
                            }
                        }
                        _html+=`
                    <div class="venue_list">
                <div>
                    <a href=${Data[i].event_url} target="_blank">
                        <img width="244" height="146" src=${img} alt=${Data[i].event_name}>
                    </a>
                </div>
                <div class="info">
                    <div>
                        <h3 class="venue_title"><a href=${Data[i].event_url} target="_blank">${Data[i].event_name}</a></h3>
                    ${price}
                </div>
                <div class="detail">
                <p style="width: 12%">会议时间：</p>
                <p style="width: 88%">${Data[i].event_begin_time}</p>
                <p style="width: 12%">会议地点：</p>
                <p style="width: 88%"><a href="/${Data[i].event_city_info[0].title}/" target="_blank">${Data[i].event_city_info[0].district_name}</a></p>
                <p style="width: 12%">会议简介：</p>
                <p style="width: 88%">${intro}...</p>
                </div>
                </div>
                </div>
            `
                    }
                    $('.all').append(_html)
                    if(data.nextPage && data.nextPage != 'false'){
                        $('.more').attr('data-page',data.nextPage)
                        $('.more').text('查看更多')
                    }else{
                        $('.more').attr('data-page','')
                        $('.more').text('加载完成！')
                    }
                },
                fail:function (error) {
                    $('.more').text('加载失败！')
                }
            })
        }
    })
    $('.qcrode').qrcode({
        width: 150,
        height: 150,
        text:window.location.href,
        render:"table",
        foreground:'#000'
    });

</script>
{% endblock %}
