{% extends 'base.html' %}
    {% block addstyle %}
<link rel="stylesheet" href="https://pic.huodongjia.com/static/css/all.min.css">
    <!--<link rel="stylesheet" href="https://pic.huodongjia.com/static/css/sponsorList.css"/>-->
<link rel="stylesheet" href="https://pic.huodongjia.com/static/css/venue_sponsor.css"/>
<link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.huodongjia.com{{request.get_full_path}}" >
<meta name="mobile-agent" http-equiv="mobile-agent" content="format=html5;url=https://m.huodongjia.com{{request.get_full_path}}" />
<!--[if lt IE 9]>
<script src="https://pic.huodongjia.com/static/js/html5shiv.min.js"></script>
<style>
    body{
        background: #f7f8fb;
    }
</style>
<![endif]-->
<style>
    .info{
        padding-left: 0;
        padding-right: 20px;
    }
    .venue_list>div{position: relative}
    .like{
        position: absolute;
        background: #1474d8;
        color: #fff;
        right: 0;
        top:0;
        padding: 0 5px;
        line-height: 30px;
        border-radius: 4px;
        display: none;
    }
    .venue_list:hover .like{
        display: block;
    }
    .venue_list{
        align-items: center;
    }
    .detail p:nth-child(odd) {
        width: 14%;
    }
    .detail p:nth-child(even) {
        width: 86%;
    }
    .venue_list{
        border-bottom: none;
        border-top: 1px solid #D9D9D9;
    }
    .venue_list .venue_title{font-size: 16px;}
    .sponsor{
        font-size: 18px;
        font-weight:600;
        color: #000;
        margin: 0;
        padding: 20px 0 30px 20px;
    }
    .venue_left{position: relative;}
    #search_venue {
        top: 17px;
        right: 15px;
    }
    .new_sponsor{
        margin-top: 20px;
        color: #000;
        font-size: 1px;
        display: block;
    }
    .new_sponsor:hover{
        color: #1474d8;
    }
    .img{
        position: relative;
        width: 224px;
    }
    .img p a{color: #fff;}
    .img p{
        color: #fff;
        font-size: 12px;
        text-align: right;
        width: 100%;
        line-height: 30px;
        background: rgba(0, 0, 0, 0.28);
        position: absolute;
        bottom:0;
        left:0;
        margin: 0;
        padding-right: 10px;
    }
    .hot_event h3{
        font-size: 14px;
        margin: 0;
        padding: 10px;
    }
    .hot_event h3 a{ color: #000;}
</style>
{% endblock %}
{% block content %}
<div class="container content">
    <div class="bread_nav"><a href="/">首页</a>&gt;<h1 style="display: inline;font-size: 14px;margin: 0"><a href="" style="color: #858B9A">会议主办方</a></h1></div>
    <div class="venue_left">
        <h3 class="sponsor">合作主办方</h3>
        <form id="search_venue" action="/searchsponsor/" method="get">
            <input placeholder="输入关键字搜索" type="text" name="keyword">
            <span class="search_venue m_iconfont">&#xe607;</span></form>
        {% if sponsors %}
        {% for sponsor in sponsors %}
        <div class="venue_list">
            <div class="info">
                <h3 class="venue_title"><a href='/sponsor-{{ sponsor.id }}.html' target="_blank">{{ sponsor.ns_name }}</a></h3>
                <div class="detail">
                    <p>主办方介绍：</p>
                    <p>{{ sponsor.ns_intro|slice:'150' }}...</p>
                    <p>近期会议：</p>
                    <p>
                        {% for event in sponsor.events %}
                        <a target="_blank" href="/event-{{event.event_id}}.html">{{event.event_name}}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div>
                <!--<span class="like">{{sponsor.ns_like_count}}人已关注</span>-->
                <a href="/sponsor-{{ sponsor.id }}.html" target="_blank">
                    <img width="185" height="70" src="{% if sponsor.ns_pic_urls %}{{ sponsor.ns_pic_urls }}{%else%}https://pic.huodongjia.com/static/images/spon_default.jpg{% endif %}" alt="{{ sponsor.ns_name }}"/>
                </a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p style="text-align: center;font-size: 14px;color: #666;padding: 50px 0;">抱歉，没有符合要求的主办方！</p>
        {% endif %}
    </div>
    <div class="venue_right">
        <a href="/postevent/" target="_blank"><img  src="http://pic.huodongjia.com/static/images/youhuima.png" alt=""></a>
        <div class="related">
            <p class="n_title">热门会议</p>
            {% for item in hot_events %}
            <div class="hot_event">
                <div class="img">
                    <a href="{{item.event_url}}"><img width="224" height="140" src="{{item.event_img.0.server__name}}{{item.event_img.0.urls}}" alt="{{item.event_name}}"></a>
                    <p>{{item.event_begin_time}}   <a href="/{{item.event_city_info.0.title}}/" target="_blank">{{item.event_city_info.0.district_name}}</a></p>
                </div>
                <h3><a href="{{item.event_url}}">{{item.event_name}}</a></h3>
            </div>

            {% endfor %}
        </div>
        <div class="related">
            <p class="n_title">新入驻主办方</p>
            {% for new_sponsor in new_sponsors %}
            <a class="new_sponsor" target="_blank" href="/sponsor-{{ new_sponsor.id }}.html">{{ new_sponsor.ns_name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="pagination">
    <ul>
        {% ifnotequal firstPage 'false'%} 
            <li><a href="{{firstPage}}">首页</a></li>
        {% endifnotequal %}
        {% ifnotequal prePage 'false'%}
        <li><a  href="{{prePage}}">上一页</a></li>
        <!--<li><a  href="{{lastPage}}">最后一页</a></li>-->
        {% endifnotequal %}
        {% for page in pageList%}
            {% if page.flag == 'true' %}
             <li class="page_active"><a href="{{page.pageurl}}">{{page.page}}</a></li>
             {%else%}
             <li><a href="{{page.pageurl}}">{{page.page}}</a></li>
             {%endif%}
        {% endfor %}

        {% ifnotequal nextPage 'false'%}                      
             <li><a  href="{{nextPage}}">下一页</a></li>
             <!--<li><a  href="{{lastPage}}">最后一页</a></li>-->
        {% endifnotequal %} 
    </ul>
</div>
{% endblock %}
{% block js %}
<script>
    $('.search_venue').click(function () {
        $('#search_venue').submit();
    })
</script>
{% endblock %}
