{% extends 'base.html' %}
    {% block addstyle %}
    <link rel="stylesheet" href="https://pic.huodongjia.com/static/css/venue_sponsor.css"/>
<link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.huodongjia.com{{request.get_full_path}}" >
<meta name="mobile-agent" http-equiv="mobile-agent" content="format=html5;url=https://m.huodongjia.com{{request.get_full_path}}" />
<!--[if lt IE 9]>
<script src="https://pic.huodongjia.com/static/js/html5shiv.min.js"></script>
<style>
    body{
        background: #f7f8fb;
    }
</style>
<![endif]-->
<style>
    .new_venue p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .detail>p{
        width: 12%;
    }
    .detail>div{
        width: 88%;
    }
</style>
{% endblock %}
{% block banner %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="bread_nav"><a href="/">首页</a>&gt;<h1 style="display: inline;font-size: 14px;margin: 0">
        {% if  is_search %}
        <a style="color: #858B9A">会议场地搜索结果</a>
        {% else %}
        <a href="/listvenue/{% if city_title %}{{ city_title }}/{% endif %}{% if venue_class %}{{ venue_class }}/{% endif %}" style="color: #858B9A">{{ city_now.0.district_name }}{{ venue_name }}会议场地</a>
        {% endif %}
    </h1></div>

    {% if  is_search %}
    <form id="search_venue" action="/search_venue/" method="get" style="position: relative;margin: 20px 0;width: 230px;">
        <input placeholder="输入关键字搜索" type="text" name="keyword">
        <span class="search_venue m_iconfont">&#xe607;</span>
    </form>
    {% else %}
    <div class="title_nav">
        <ul>
            <li><a>城市：</a></li>
            <li>
                <a {% if not city_now %}class="choosed" {% endif %}  href="/listvenue/" >不限</a>
                {% for city in venue_cities %}
                <a {% if city_now.0.title == city.title %}class="choosed" {% endif %}   href="/listvenue/{{ city.title }}/{% if venue_class %}{{ venue_class }}/{% endif %}">{{ city.district_name }}</a>
                {% endfor %}
            </li>
        </ul>
        <ul>
            <li><a>类型：</a></li>
            <li>
                <a {% if not venue_class %}class="choosed" {% endif %}  href="/listvenue/{% if city_title %}{{ city_title }}/{% endif %}" >不限</a>
                <a {% if venue_class == "conference_center" %}class="choosed" {% endif %}  href="/listvenue/{% if city_title %}{{ city_title }}/{% endif %}conference_center/">会展中心</a>
                <a {% if venue_class == "hotel" %}class="choosed" {% endif %}  href="/listvenue/{% if city_title %}{{ city_title }}/{% endif %}hotel/">酒店</a>
                <a {% if venue_class == "university" %}class="choosed" {% endif %}  href="/listvenue/{% if city_title %}{{ city_title }}/{% endif %}university/">高校</a>

                <form id="search_venue" action="/search_venue/" method="get">
                    <input placeholder="输入关键字搜索" type="text" name="keyword">
                    <span class="search_venue m_iconfont">&#xe607;</span>
                </form>
            </li>
        </ul>
    </div>
    {% endif %}
    <div class="venue_left">
        {% if venues %}
        {% for venue in venues %}
        <div class="venue_list">
            <div>
                <a href="/venue-{{ venue.id }}.html" target="_blank">
                    <img width="217" height="136" src="{% if venue.nv_img_urls %}{{ venue.nv_img_urls }}{%else%}https://pic.huodongjia.com/event/2015-06-17/event1434525054.73.jpg{% endif %}" alt="{{ venue.nv_name }}"/>
                </a>
            </div>
            <div class="info">
                <div>
                    <h3 style="margin: 0 0 8px;" class="venue_title"><a href='/venue-{{ venue.id }}.html' target="_blank">{{ venue.nv_name }}</a></h3>
                    <p class="venue_addr"><a target="_blank" href="/{{venue.nv_city.title}}/">{{venue.nv_city.district_name}}</a>  {{ venue.nv_addr }}</p>
                </div>
                <div class="detail">
                    <p>会场介绍：</p>
                    <div style="color: #999;font-size: 14px;line-height: 26px;">{{ venue.nv_content|safe|truncatechars:99 }}</div>
                    <p>近期会议：</p>
                    <div class="jq">
                        {% for event in venue.recent_events %}
                        <a href="/event-{{ event.old_event_id }}.html" target="_blank">{{ event.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p style="text-align: center;font-size: 14px;color: #666;padding: 50px 0;">抱歉，没有符合要求的场馆！</p>
        {% endif %}
    </div>
    <div class="venue_right">
        <a href="/postevent/" target="_blank"><img  src="http://pic.huodongjia.com/static/images/youhuima.png" alt=""></a>
        <div class="related">
            <p class="n_title">最新会场</p>
            {% for venue in newest_venue %}
            <div class="new_venue">
                <a href="/venue-{{ venue.id }}.html" target="_blank">
                    <img width="116" height="75" src="{% if venue.nv_img_urls %}{{ venue.nv_img_urls }}{%else%}https://pic.huodongjia.com/event/2015-06-17/event1434525054.73.jpg{% endif %}" alt="{{ venue.nv_name }}"/>
                </a>
                <div>
                    <h3><a href="/venue-{{ venue.id }}.html">{{ venue.nv_name }}</a></h3>
                    <p><a target="_blank" href="/{{venue.nv_city.title}}/">{{venue.nv_city.district_name}}</a>  {{ venue.nv_addr }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
     </div>
</div>
<div class="pagination">
    <ul>
        {% ifnotequal firstPage 'false'%}
            <li><a href="{{firstPage}}">首页</a></li>
        {% endifnotequal %}

        {% for page in pageList%}
            {% if page.flag == 'true' %}
             <li class="page_active"><a href="{{page.pageurl}}">{{page.page}}</a></li>
             {%else%}
             <li><a href="{{page.pageurl}}">{{page.page}}</a></li>
             {%endif%}
        {% endfor %}

        {% ifnotequal nextPage 'false'%}
             <li><a href="{{nextPage}}">下一页</a></li>
             <!-- <li><a href="{{lastPage}}">最后一页</a></li> -->
        {% endifnotequal %}
    </ul>
</div>
{% endblock %}
{% block js %}
<script>
    $('.search_venue').click(function () {
        $('#search_venue').submit();
    })
</script>
{% endblock %}
