{% extends 'base.html' %}
{% load page_nav %}
{% block addstyle %}
<!--<link rel="stylesheet" href="http://pic.huodongjia.com/static/css/venue.css"/>-->
<link rel="stylesheet" href="https://pic.huodongjia.com/static/css/venue_sponsor.css"/>
<link rel="alternate" media="only screen and(max-width: 640px)" href="http://m.huodongjia.com{{request.get_full_path}}" >
<meta name="mobile-agent" http-equiv="mobile-agent" content="format=html5;url=http://m.huodongjia.com{{request.get_full_path}}" />
<meta property="og:type" content="article"/>
<meta property="og:image" content="{% if venue.nv_img_urls %}{{ venue.nv_img_urls }}{% else %}http://pic.huodongjia.com/event/2015-06-17/event1434525054.73.jpg{% endif %}"/>
<meta property="og:title" content="{{ seo.title }}"/>
<meta property="og:description" content="{{ seo.description }},{{ venue.nv_content|slice:':100' }}"/>
<meta property="og:release_date" content="{{ venue.nv_events.0.event_rel_time }}"/>
<!--[if lt IE 9]>
<script src="http://pic.huodongjia.com/static/js/html5shiv.min.js"></script>
<style>
    body{
        background: #f7f8fb;
    }
</style>
<![endif]-->
<style>
    .venue_left{background: none}
    .venue_info{
        background: #fff;
        display: flex;
        display: -webkit-flex;
        padding: 20px;
        margin-bottom: 15px;
    }
    .venuetitle{padding-left: 20px}
    .venuetitle h2{
        font-size: 18px;
        margin: 0;
        font-weight: 600;
    }
    .venuetitle p,.venuetitle div{
        font-size: 14px;
        color: #999;
        line-height: 26px;
        margin: 0 0 5px;
    }
    .venuetitle .addr{
        font-size: 14px;
        color: #000;
        margin: 20px 0;
    }
    .venue_event{
        background: #fff;
    }
    .detail p{
        font-size: 14px;
        margin-top: 5px;
    }
    .detail p:nth-child(odd) {
        width: 12%;
    }
    .detail p:nth-child(even) {
        width: 88%;
    }
    .venue_info{
        min-height: 200px;
    }
    .count{
        font-size: 18px;
        font-weight: 600;
        padding:20px;
        margin: 0;
    }
    .venue_list{
        border-bottom: none;
        border-top: 1px solid #D9D9D9;
    }
    .apply{
        position: absolute;
        right: 0px;
        top:0px;
        background: #1474d8;
        color: #fff;
        line-height: 35px;
        padding: 0 10px;
        font-size: 14px;
    }
    .stop{
        color: #fff;
        background: #999;
    }
    .new_venue{
        display: block;
        padding: 0;
        margin-bottom: 10px;
    }
    .new_venue h3{
        margin: 5px 0;
    }

    .related{margin: 0;}
    .more_text{
        display: none;
    }
    .more{
        text-align: center;
        position: relative;
        top: 10px;
        color: #333 !important;
        cursor: pointer;
    }
    .apply:hover{color: #fff}
    .venue_intro{
        height: 180px;
        overflow: hidden;
        transition: all .2s linear;
    }
    .venue_intro div span{
        color: #999 !important;
        font-size: 14px !important;
    }
</style>
{%endblock%}
{% block content %}
<div class="container">
    <div class="bread_nav"><a href="/">首页</a> &gt; <a href="/listvenue/">会议场地</a> &gt; <h1 style="display: inline;font-size: 14px;margin: 0">{{ venue.nv_name }}</h1></div>
    <div class="venue_left">
        <div class="venue_info">
            <div>
                {% if venue.nv_img_urls %}
                <img width="223" height="160" src="{{ venue.nv_img_urls }}" alt="{{ venue.nv_name  }}">
                {% else %}
                <img width="223" height="160" src="http://pic.huodongjia.com/event/2015-06-17/event1434525054.73.jpg" alt="{{event.sponsor_name}}">
                {% endif %}
            </div>
            <div class="venuetitle">
                <h2>{{venue.nv_name }}</h2>
                <p class="addr">会场地址: <a style="color: #000;" target="_blank" href="/{{venue.nv_city.title}}/">{{venue.nv_city.district_name}}</a> {{ venue.nv_addr }}</p>
                <div class="venue_intro">
                    {% if venue.traffic_guide %}
                    <span>交通指南</span>
                    <div>{{ venue.traffic_guide|safe }}</div>
                    {% endif %}
                    <span>场馆介绍</span>
                    <div>{{ venue.nv_content|safe }}</div>
                </div>
                <p class="more">查看全部</p>
            </div>
        </div>
        <div class="venue_event">
            <h3 class="count">主办会议共 {{venue.event_count}} 场</h3>
            <div class="all">
                {% for item in venue.nv_events %}
                <div class="venue_list">
                    <div>
                        <a href="{{item.event_url}}" target="_blank">
                            {% if item.event_img %}
                            <img width="244" height="146" src="{{item.event_img.0.server__name}}{{item.event_img.0.urls}}" alt="{{ item.event_name }}"/>
                            {% else %}
                            <img width="244" height="146" src="https://pic.huodongjia.com/static/images/event_default.jpg" alt="{{ item.event_name }}"/>
                            {% endif %}
                        </a>
                    </div>
                    <div class="info">
                        <div>
                            <h3 class="venue_title"><a href='{{item.event_url}}' target="_blank">{{ item.event_name }}</a></h3>

                            {% if item.event_invalid %}
                            <a class="apply stop">会议结束</a>
                            {% else %}
                            {% ifequal item.event_price_type 6 %}  <!--标准-->
                            {% if item.event_price_unit|length == 0 or not item.event_price_valid %}
                            <a class="apply stop">报名截止</a>
                            {% else %}
                            <a class="apply" href="{{item.event_url}}" target="_blank">立即参会</a>
                            {% endif %}
                            {% endifequal %}
                            {% ifequal item.event_price_type 5 %}  <!--待定-->
                            <a class="apply" href="{{item.event_url}}" target="_blank">立即咨询</a>
                            {% endifequal %}
                            {% ifequal item.event_price_type 7 %}  <!--待定-->
                            <a class="apply" href="{{item.event_url}}" target="_blank">立即咨询</a>
                            {% endifequal %}
                            {% endif %}
                        </div>
                        <div class="detail">
                            <p>会议时间：</p>
                            <p>{{ item.event_begin_time }}</p>
                            <p>会议简介：</p>
                            <p>{{item.event_intro|slice:'70'}}...</p>
                            <p>主办方：</p>
                            <p>{% for s in item.event_sponsor %}<a target="_blank" href="/sponsor-{{s.id}}.html">{{s.ns_name}}</a>{% endfor %}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if venue.nextPage %}
            <p style="text-align: center;line-height: 45px;color: #333;font-size: 14px;"><span style="cursor:pointer;top: 0;" data-page={{venue.nextPage}} class="v_more">查看更多</span></p>
            {% endif %}
        </div>

    </div>
    <div class="venue_right">
        <div class="related">
            <p class="n_title">相关会场</p>
            {% for venue in venue.relevant_venues %}
            <div class="new_venue">
                <a href="/venue-{{ venue.id }}.html" target="_blank">
                    <img width="225" height="121" src="{% if venue.nv_img_urls %}{{ venue.nv_img_urls }}{%else%}https://pic.huodongjia.com/event/2015-06-17/event1434525054.73.jpg{% endif %}" alt="{{ venue.nv_name }}"/>
                </a>
                <div>
                    <h3><a href="/venue-{{ venue.id }}.html">{{ venue.nv_name }}</a></h3>
                    <p><a target="_blank" href="/{{venue.nv_city.title}}/">{{venue.nv_city.district_name}}</a>  {{ venue.nv_addr }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="setting">
            <a><img src="http://pic.huodongjia.com/static/images/venue_app.png" alt="app">
                <div>
                    <img width="150" height="150" src="https://pic.huodongjia.com/static/images/icon-app.jpg" alt="活动家app下载">
                    <span>下载活动家app<br>随时随地查看国内商务会议 <br>了解行业动态</span>
                </div>
            </a>
            <a><img src="http://pic.huodongjia.com/static/images/gongzhonghao.png" alt="公众号">
                <div>
                    <img width="150" height="150" src="https://pic.huodongjia.com/static/images/icon-gzh.jpg" alt="活动家app下载">
                    <span>关注活动家公众号<br>了解更多会议资讯</span>
                </div>
            </a>
            <a><img src="http://pic.huodongjia.com/static/images/shoujichakan.png" alt="用手机查看">
                <div>
                    <div class="qcrode"></div>
                    <span>扫一扫  在手机上查看</span>
                </div>
            </a>
        </div>

    </div>

</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://pic.huodongjia.com/static/js/jquery.qrcode.min.js"></script>
<script type="text/javascript">
    $('.more').click(function () {
        if($(this).text()== '查看全部'){
            $('.venue_intro').css({height:'auto'})
            $(this).text('收起')
        }else {
            $('.venue_intro').css({height:'180px'})
            $(this).text('查看全部')
        }


    })
    $('.v_more').click(function () {
        var url=$(this).attr('data-page')
        if(url){
            $('.v_more').text('正在加载...')
            $.ajax({
                url:url,
                type:'get',
                data:{json:1},
                dataType:'json',
                async:false,
                success:function (data) {
                    var _html=''
                    var Data=data.nv_events,img,price
                    for(var i=0;i<Data.length;i++){
                        var intro=Data[i].event_intro.substring(0,70)
                        if(Data[i].event_img.length > 0){
                            img=Data[i].event_img[0].server__name + Data[i].event_img[0].urls
                        }else{
                            img="http://pic.huodongjia.com/static/images/event_default.jpg"
                        }
                        if(Data[i].event_invalid){
                            price='<a  class="apply stop">会议结束</a>'
                        }else {
                            if(Data[i].event_price_type == 6 && Data[i].event_price_unit.length == 0){
                                price='<a class="apply stop">报名截止</a>'
                            }else{
                                price='<a href="'+Data[i].event_url+'" target="_blank" class="apply stop">立即参会</a>'
                            }
                            if(Data[i].event_price_type == 5){
                                price='<a href="'+Data[i].event_url+'" target="_blank" class="apply stop">立即咨询</a>'
                            }
                        }
                        _html+=`
                    <div class="venue_list">
                <div>
                    <a href=${Data[i].event_url} target="_blank">
                        <img width="244" height="146" src=${img} alt=${Data[i].event_name}>
                    </a>
                </div>
                <div class="info">
                    <div>
                        <h3 class="venue_title"><a href=${Data[i].event_url} target="_blank">${Data[i].event_name}</a></h3>
                    ${price}
                </div>
                <div class="detail">
                <p>会议时间：</p>
                <p>${Data[i].event_begin_time}</p>
                <p>会议地点：</p>
                <p><a href="/${Data[i].event_city_info[0].title}/" target="_blank">${Data[i].event_city_info[0].district_name}</a></p>
                <p>会议简介：</p>
                <p>${intro}...</p>
                </div>
                </div>
                </div>
            `
                    }
                    $('.all').append(_html)
                    if(data.nextPage && data.nextPage != 'false'){
                        $('.v_more').attr('data-page',data.nextPage)
                        $('.v_more').text('查看更多')
                    }else{
                        $('.v_more').attr('data-page','')
                        $('.v_more').text('加载完成！')
                    }
                },
                fail:function (error) {
                    $('.v_more').text('加载失败！')
                }
            })
        }


    })
    $('.qcrode').qrcode({
        width: 150,
        height: 150,
        text:window.location.href,
        render:"table",
        foreground:'#000'
    });

</script>
{% endblock %}
