<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ head.title }}</title>
    <meta name="keywords" content="{{ seo.keywords }}"/>
    <meta name="description" content="{{ seo.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://pic.huodongjia.com/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://pic.huodongjia.com/static/css/main.css">
    <link rel="stylesheet" href="/static/css/base.css"/>
    {% block addstyle %}
    {% endblock %}
</head>
<style>
</style>
<body>
<div class="nav">
    <div class="container" >
       <div class="col-sm-3 col-xs-3"><h1 style="margin: 11px 0"><a  href="/"><img alt="找会议，上活动家" width="251" src="/static/images/newhdj_logo(1).png" alt="找会议，上活动家"/></a></h1></div>
        <div class="col-sm-9 col-xs-9 menus">
            <ul>
                <li class="none"></li>
                <li class="menue  business"><a target="_blank" href="/business/">商务会议 <span class="fa fa-angle-down"></span></a>
                    <div class="business_menue">
                    </div>
                </li>
                <li class="menue"><a href="http://news.huodongjia.com/" target="_blank">会议资讯</a></li>
                <li class="menue"><a href="/guest/business/" target="_blank" >演讲经纪</a></li>
                <li class="postevent"><a href="/postevent/"  target="_blank">免费发布活动</a></li>
                <li class="search" >
                    <form action="/search/"><input name="keyword" type="text" placeholder="输入您要找的会议"/><span class="m-search m_iconfont">&#xe607;</span></form>
                </li>
                <li class="login">
                      {% if request.session.usercenter_user %}
                          <img style="border-radius: 16px;" width="32px" height="32px" src='{{  request.session.usercenter_user.avatar }}' />
                      {% else %}
                          <a href="/usercenter/login/" rel="nofollow">
                          <span class="m_iconfont not_login">&#xe600;&nbsp;</span>
                      {% endif %}
                    <span class="Login" style="font-size: 14px">用户登录</span></a>
                    <ol>
                        <li><a href="/usercenter/index/" rel="nofollow">我的积分</a></li>
                        <li><a href="/usercenter/index/?ind=showorder" rel="nofollow">我的订单</a></li>
                        <li><a href="/usercenter/index/?ind=myevent" rel="nofollow">我的发布</a></li>
                        <li><a href="/usercenter/index/?ind=showcollection" rel="nofollow">我的收藏</a></li>
                      {% if request.session.usercenter_user %}
                        <li class="exit"><a href="/usercenter/logout/"  rel="nofollow">退出</a></li>
                      {% endif %}
                    </ol>
                </li>
            </ul>

        </div>
    </div>
</div>
{% block banner%}
{% endblock %}
{% block content%}
{% endblock %}
<div class="footer">
    <div class="container">
       <div class="col-sm-2 col-xs-2 footer1">
           <ul>
               <li class="title">关于我们</li>
               <li><a href="">关于活动家</a></li>
               <li><a href="/friendLinks/">媒体报道</a></li>
               <li><a href="/friendLinks/">友情链接</a></li>
               <li><a href="/app/" target="_blank">APP下载</a></li>
           </ul>
       </div>
        <div class="col-sm-2 col-xs-2 footer1">
            <ul>
                <li class="title">更多服务</li>
                <li><a href="/business/" target="_blank">商务会议</a></li>
                <li><a href="/guest/business/" target="_blank">出席嘉宾</a></li>
                <li><a href="/listsponsor/" target="_blank">会议主办方</a></li>
                <li><a href="/listvenue/" target="_blank">会议场地</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-xs-4 footer1 contact">
            <ul>
                <li class="title">联系我们</li>
                <li style="line-height: 17px;padding: 15px 0"><a><span class="Phone m_iconfont">&#xe601;</span><span>服务热线 <br/><b style="color: #7c8394 !important;font-size: 24px;font-family:'黑体';line-height: 24px">400-003-3879</b><br/>(服务时间：9:00-18:00)</span></a></li>
                <li style="line-height: 17px;position: relative;">
                    <img class="kefu " src="http://pic.huodongjia.com/static/images/hdjkefu.png" alt=""/>
                    <span class="erweima"><img src="http://pic.huodongjia.com/static/images/iconfont-erweima.png" alt=""/></span><a style="font-size: 14px;display: inline-block;">活动家微信客服 <br/>（微信号：hdjkefu）</a></li>
            </ul>
        </div>
        <div class="col-sm-2 col-xs-2 footer1 weixin">
            <p>活动家微信</p>
            <img width="100" src="http://pic.huodongjia.com/static/images/about_uus_erweima.jpg" alt=""/>
            <p style="color: #A0A8B7;font-size: 12px;padding: 5px">优质会议及时推荐，查 <br/>询会议更方便</p>
        </div>
        <div class="col-sm-2 col-xs-2 footer1 weixin">
            <p>APP下载</p>
            <img width="100" src="http://pic.huodongjia.com/static/images/APP_erweima.png" alt=""/>
            <p style="color: #A0A8B7;font-size: 12px;padding: 5px">下载活动家APP，随 <br/>时随地方便报名参会</p>
        </div>
        <div class="introduce">
            <p>活动家介绍：<br/>
            {{ seo.intro }}
            </p>
            <p>热门关键词：<br/>
            <a href="/tag/2561/">互联网金融</a>  <a href="/tag/969/">大数据</a>  <a href="/tag/805/">创业</a>  <a href="/tag/4710/">智能硬件</a>  <a href="/tag/902/">投融资</a>  <a href="/tag/3758/">金融创新</a>  <a href="/tag/2379/">移动医疗</a>  <a href="/tag/4341/">健康产业</a>  <a href="/tag/459/">医疗器械</a>  <a href="/tag/1018/">环保</a>  <a href="/tag/4070/">石墨烯</a>  <a href="/tag/3189/">幼教</a>  <a href="/tag/4331/">养猪</a>  <a href="/tag/4765/">苗木</a>  <a href="/tag/2676/">无人机</a>  <a href="/tag/5512/">商业地产</a>  <a href="/tag/2610/">新媒体</a>  <a href="/tag/3363/">零售业</a>  <a href="/tag/980/">物流</a>  <a href="/tag/3372/">企业家</a></p>
            {% block seo_fridendly_link %}
            {% if site_links %}
            <p>友情链接：<br/>
            {% for link in site_links %}
                <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
            {% endfor%}
            {% endif %}
            {% endblock %}
            <hr style="border-top: 1px solid #4B4F52;"/>
            <p class="text-center">CopyRight <a rel="nofollow" target="_blank" href="http://www.huodongjia.com/">活动家</a> huodongjia.com <a rel="nofollow" target="_blank" href="http://www.miibeian.gov.cn/">蜀ICP备13006895号-5</a>,增值电信业务经营许可证：川B2-20130143</p>
        </div>
    </div>
</div>
</body>

{% block baiduautopush %}
{% endblock %}

<script src="http://pic.huodongjia.com/static/js/jquery-1.8.3.min.js"></script>
<script src="http://pic.huodongjia.com/static/js/bootstrap.js"></script>
<script src="http://pic.huodongjia.com/static/js/jquery.lazyload.min.js"></script>
<script src="/static/js/home_banner.js"></script>
<script src="/static/js/index.js"></script>
<script>
//    test
    var _menue="<div class='col-sm-12 col-xs-12 industry'>按行业</div>{% for cat in main_cats %}" +
            "<div class='col-sm-3 col-xs-3 '><a target='_blank' href='/{{ cat.ename }}/'>{{ cat.name }}</a></div>{% endfor %}" +
            "<div class='col-sm-12 col-xs-12 time'><span class='col-sm-3 col-xs-3'>按时间</span><span class='col-sm-3 col-xs-3'><a target='_blank' href='/it/13'>最近一周</a></span>" +
            " <span class='col-sm-3 col-xs-3'><a target='_blank' href='/it/14'>最近一月</a></span><span class='col-sm-3 col-xs-3'><a target='_blank' href='/it/15'>最近三月</a></span></div>" +
            "<div class='col-sm-12 col-xs-12 city'>按城市</div>{% for city in main_cities %}" +
            "<div class='col-sm-2 col-xs-2 '><a target='_blank' href='/{{ city.title }}'>{{ city.district_name }}</a></div>{% endfor %}"
    $(".business").hover(function () {
        $(".business_menue").html(_menue)
        $(".business_menue").fadeIn(10)
    }, function () {
        $(".business_menue").fadeOut(10)
        $(".business_menue").html('')
    })
</script>
{% block js %}
{% endblock %}
</html>
