<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>积分兑换门票_活动家</title>
    <meta name="keywords" content="积分，门票，活动家" />
    <meta name="description" content="活动家积分兑换门票活动。找会议，上活动家！" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="http://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/usercenter/css/index.css"/>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <link href="http://huodongjia-yun.b0.upaiyun.com/static/css/non-responsive.css?t=20151030.css" rel="stylesheet">
    <![endif]-->
</head>
<style>
    td{
        padding: 5px !important;
    }
</style>
<body id="bindAccount">
    <table style="margin: 25px auto">
        <tr>
            <td width="85px"><img src="/static/usercenter/images/QQ.png" alt=""/></td>
            <td width="163px">
                {% if acc_lst.qq %}
                <p class="bind">已绑定QQ</p>
                {% else %}
                <p class="notBind">您还未绑定QQ</p>
                {% endif %}
            </td>
            <td>
                {% if acc_lst.qq %}
                <p class="bind">已绑定</p>
                {% else %}
                <a target="_blank" href="{{link_map.qq}}"><p data-name="qq" style="color: #325fff;" class="notBind">点击绑定</p></a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><img src="/static/usercenter/images/Wx.png" alt=""/></td>
            <td width="163px">
                {% if acc_lst.wechat %}
                <p class="bind">已绑定微信</p>
                {% else %}
                <p class="notBind">您还未绑定微信</p>
                {% endif %}
            </td>
            <td>
                {% if acc_lst.wechat %}
                <p class="bind">已绑定</p>
                {% else %}
                <a target="_blank" href="{{link_map.wechat}}"><p data-name="qq" style="color: #325fff;" class="notBind">点击绑定</p></a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><img src="/static/usercenter/images/Sina.png" alt=""/></td>
            <td width="163px">
                {% if acc_lst.weibo %}
                <p class="bind">已绑定微博</p>
                {% else %}
                <p class="notBind">您还未绑定微博</p>
                {% endif %}
            </td>
            <td>
                {% if acc_lst.weibo %}
                <p class="bind">已绑定</p>
                {% else %}
                <a target="_blank" href="{{link_map.weibo}}"><p data-name="qq" style="color: #325fff;" class="notBind">点击绑定</p></a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><img src="/static/usercenter/images/Dou.png" alt=""/></td>
            <td width="163px">
                {% if acc_lst.douban %}
                <p class="bind">已绑定豆瓣网</p>
                {% else %}
                <p class="notBind">您还未绑定豆瓣网</p>
                {% endif %}
            </td>
            <td>
                {% if acc_lst.douban %}
                <p class="bind">已绑定</p>
                {% else %}
                <a target="_blank" href="{{link_map.douban}}"><p data-name="qq" style="color: #325fff;" class="notBind">点击绑定</p></a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><img src="/static/usercenter/images/Zfb.png" alt=""/></td>
            <td width="163px">
                {% if acc_lst.alipay %}
                <p class="bind">已绑定支付宝</p>
                {% else %}
                <p class="notBind">您还未绑定支付宝</p>
                {% endif %}
            </td>
            <td>
                {% if acc_lst.alipay %}
                <p class="bind">已绑定</p>
                {% else %}
                <a target="_blank" href="{{link_map.alipay}}"><p data-name="qq" style="color: #325fff;" class="notBind">点击绑定</p></a>
                {% endif %}
            </td>
        </tr>
    </table>
</body>
</html>
