<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
        #l-map{height:100%;width:78%;float:left;border-right:2px solid #bcbcbc;}
        #r-result{height:100%;width:20%;float:left;}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2d83d2138253787cb3768b8dd58d700f"></script>
    <title>添加多个标注点</title>
</head>
<body>
<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    map(113.312213, 23.147267)
    function map(lng,lat) {
        var map = new BMap.Map("allmap");
//        var  mapStyle ={
//            features: ["road", "building","water","land"],//隐藏地图上的poi
//            style : "light"  //设置地图风格为高端黑
//        }
//        map.setMapStyle(mapStyle);
        var point = new BMap.Point(lng,lat);
        map.centerAndZoom(point, 13);
        map.enableScrollWheelZoom(true);
        // 编写自定义函数,创建标注
        function addMarker(point) {
            var marker = new BMap.Marker(point);
            map.addOverlay(marker);
//            marker.setAnimation(BMAP_ANIMATION_BOUNCE);
        }

        // 随机向地图添加25个标注
        var markerArr = [
            {txt: "安康中心医院", lng: '113.264531', lat: '23.157003'},
            {txt: "广州市第六人民医院", lng: '113.312213', lat: '23.147267'}
        ]
        for (var i = 0; i < markerArr.length; i++) {
            var lng = markerArr[i].lng, lat = markerArr[i].lat
            var point = new BMap.Point(lng, lat);
            addMarker(point);
        }

    }
</script>
