<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    td{
        width: 100%;
        padding: 10px 0 10px 40px;
        font-size: 17px;
        color: #545454;
        font-family: '微软雅黑';
        line-height: 30px;
    }
    a{
        color: #359CE7;
    }
   td div{
        background: #F8F8F8;
        font-size: 15px;
        padding: 15px;
        color: #797979;
        margin: 10px 0;
    }
    span{
        font-size: 15px;
        color: #EF9616;
    }
</style>
<div style="width: 700px;margin: 10px auto">
<img width="230" src="http://pic.huodongjia.com/static/images/LOGO_phone.png" alt=""/>
<table width="750" style="margin: 10px auto;background: #FFF;border: 1px solid #EEEEEE;">
    <tr><td style="padding-top: 20px">某某，您好！</td></tr>
    <tr><td>您报名的“<a href="">2016全球移动互联网大会(GMIC 2016)</a>”订单尚未付款，您可以通过以下地址<br>进行支付“<a href="http://www.huodongjia.com/">http://www.huodongjia.com/</a>”</td></tr>
    <tr><td style="padding-bottom: 20px">
        报名信息
        <div>
            会议名称： <br>
            票种：会议门票*2 <br>
            时间： <br>
            地点： <br>
            联系人：
        </div>
        <span>如有疑问，请联系客服400-00303879</span>
    </td ></tr>
</table>
</div>
</body>
</html>