<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- // <script src="http://pic.huodongjia.com/static/js/jquery-1.8.3.min.js"></script> -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- 百度echart插件 -->
    <!-- 自定义css和js -->
    <script src="../static/laydate/laydate.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    {% block style %}
    {% endblock %}
    {% if current_user.is_authenticated %}
    <header class="navbar navbar-fixed-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: #fff;">懒人周末</a>
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">总表</a>
                    </li>
                    <li>
                        <a href="/month">核心月度数据</a>
                    </li>
                    <li ><a href="#" class="dropdown" data-toggle="dropdown" >
                        用户分析
                        <span class="caret" ></span>
                        <ul class="dropdown-menu" >
                            <li><a href="/userDownload">下载用户</a></li>
                            <li><a href="/userSign">注册用户</a></li>
                            <li><a href="/userAct">有操作行为用户</a></li>
                            <li><a href="/userProperty">用户属性</a></li>
                        </ul>
                    </a></li>
                    <li >
                        <a href="/order">订单分析</a>
                    </li>
                    <li >
                        <a href="/activity">商家及活动分析</a>
                    </li>
                    <li >
                        <a href="/classify">活动类别及标签分析</a>
                    </li>
                    <li >
                        <a href="/words">语义分析</a>
                    </li>
                    <li >
                        <a href="/logout">退出登录</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class='col-sm-2 left' style=''>
        <div class='text-center left-title'><h4 style='color:white;'>懒人周末可视化数据</h4></div>
        <div data-url="" class='left-item-bottom'>
            <h4 class='left-item-title'><a href="/" style="color: #fff;"><span class="glyphicon glyphicon-new-window" aria-hidden="true" style='margin-right:8px;'></span>总表</a></h4>
        </div>
        <div data-url="month" class='left-item-bottom'>
            <h4 class='left-item-title'><a href="/month"><span class="glyphicon glyphicon-new-window" aria-hidden="true" style='margin-right:8px;'></span>核心月度数据</a></h4>
        </div>
        <div class='left-item-bottom'>
            <h4 class='left-item-title'><span class="glyphicon glyphicon-new-window" aria-hidden="true" style='margin-right:8px;'></span>用户分析</h4>
            <ul class="menue" style='margin-left:20px;'>
                <li data-url="userDownload"><a href="/userDownload" class='left-item-option'>下载用户</a></li>
                <li data-url="userSign"><a href="/userSign" class='left-item-option'>注册用户</a></li>
                <li data-url="userAct"><a href="/userAct" class='left-item-option'>有操作行为用户</a></li>
                <li data-url="userProperty"><a href="/userProperty" class='left-item-option'>用户属性</a></li>
            </ul>
        </div>
        <div data-url="order" class='left-item-bottom'>
            <h4 class='left-item-title'><a href="/order"><span class="glyphicon glyphicon-new-window" aria-hidden="true" style='margin-right:8px;'></span>订单分析</a></h4>
        </div>
        <div data-url="activity" class='left-item-bottom'>
            <h4 class='left-item-title'><a href="/activity"><span class="glyphicon glyphicon-new-window" aria-hidden="true" style='margin-right:8px;'></span>商家及活动分析</a></h4>
        </div>
        <div data-url="classify" class='left-item-bottom'>
            <h4 class='left-item-title'><a href="/classify"><span class="glyphicon glyphicon-new-window" aria-hidden="true" style='margin-right:8px;'></span>活动类别及标签分析</a></h4>
        </div>
        <div data-url="words" class='left-item-bottom'>
            <h4 class='left-item-title'><a href="/words"><span class="glyphicon glyphicon-new-window" aria-hidden="true" style='margin-right:8px;'></span>语义分析</a></h4>
        </div>
        <div class='left-item-bottom'>
            <h4 class='left-item-title'><a href="/logout"><span class="glyphicon glyphicon-new-window" aria-hidden="true" style='margin-right:8px;'></span>退出登录</a></h4>
        </div>
    </div>
    {% endif %}
    {% block right %}
    {% endblock %}

</body>
<script src="../static/echarts-2.2.7/build/dist/echarts.js"></script>
<script src="../static/js/dark.js"></script>
<script>
    var url=window.location.href.split('/')[3]
    $('.left-item-bottom').each(function () {
        if($(this).data('url')==url) $(this).addClass('choose')
    })
    $('.menue li').each(function () {
        if($(this).data('url')==url) $(this).addClass('choose')
    })
</script>
{% block footer %}
{% endblock %}
</html>
