{% extends "base.html" %}
{% block addstyle %}
<link rel="stylesheet" href="http://pic.huodongjia.com/static/css/about.css?t={{time}}.css">
{% endblock %}
{% block myContainer %}myContainer{% endblock%}
{% block search%}
{% include "searchComponent.html" %}
{% endblock %}
{% block content%}
<div class="bgc">
    <img src="http://pic.huodongjia.com/static/images/About-us1.jpg" class="header_img">
<div class="header_nav">
<ul id="nav-list">
    <li><a   class="intro_we">关于我们</a></li>
    <li><a   class="coo">产品与服务</a></li>
    <li><a   class="con">联系我们</a></li>
</ul>
</div>
<div class="container" id="aboutUs">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about_tab about-div">
            <div  class="intro_about">
                <h2 class="title">活动家介绍</h2>
                <p  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 intro_title" >
                    活动家(huodongjia.com)是成都云数海量智能科技有限公司旗下的网站。</br>
                    活动家是亚洲最大的活动查询，报名，票务营销平台。</br>
                    活动家为用户提供有价值，有意义的商务会议活动，有趣味的同城活动。</br>
                    活动家为主办方提供活动发布，活动推广营销，视频直播，在线选座等服务。
                </p>
                <div class="row">
                <img src="http://pic.huodongjia.com/images/aboutus_di.png" class="col-lg-4 col-md-4 col-sm-12 col-xs-12  intro_img1">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 active_info1">
                <h2>十万场大型活动</h2>
                <p class="active_info_text1" >超过10万场大型会议、会展、培训、演出、旅游活动在活动家平台进行票务销售。</p>
                </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 active_info2">
                        <h2>累积卖出40万张门票</h2>
                        <p class="active_info_text2" >每天有超过1万人在活动家平台查询会议，演出，旅游等活动信息，进行订购报名。</p>
                    </div>
                <img src="http://pic.huodongjia.com/images/aboutus_9.png" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 intro_img2">
                </div>

                <div class="row">
                    <img src="http://pic.huodongjia.com/images/aboutus_10.png" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 intro_img3">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 active_info3">
                        <h2>超过1万家优质主办方</h2>
                        <p class="active_info_text3" >活动家与超过1万家大型主办方保持良好合作关系，每年在活动家平台发布的活动超过3万场。</p>
                    </div>
                </div>
    </div>
</div>
</div>
</div>

    <div class="products-bg about-div" id="cooperative">
        <div class="container" id="about_products">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about_products1" >
                <p class="service_title" style="text-align: center;margin-top: 1em;font-size:2.3em">产品与服务</p>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 products-info">
                    <ul class="products-img">
                        <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                            <div class="products-div">
                                <img src="http://pic.huodongjia.com/images/about-two-1.png">
                                <h3>会议直播</h3>
                                <p>论坛峰会网上直播 加速会议传播速度  扩大会议影响力 提升品牌形象。</p>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                            <div class="products-div">
                                <img src="http://pic.huodongjia.com/images/about-two-2.png">
                                <h3>在线选座</h3>
                                <p>线上选座，融入社交，每个座位都标记参会 人士的社会属性，方便参会者知道附近就坐 的人士情况，进行商务社交。</p>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                            <div class="products-div">
                                <img src="http://pic.huodongjia.com/images/about-two-3.png">
                                <h3>活动舆情监控</h3>
                                <p>会前挖掘出最有效的会议传播宣传渠道 社交媒体监测 及时发现舆论点。会后 对会议舆情做深度数据总结报告。  </p>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                            <div class="products-div">
                                <img src="http://pic.huodongjia.com/images/about-two-4.png">
                                <h3>HTML5移动页面</h3>
                                <p>专业 时尚 大气 的HTML5手机页面才符合当下移动互联网时代</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 app">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 app-img">
                    <img src="http://pic.huodongjia.com/static/images/aboutus_tel.png">
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 app-info">
                    <h2>活动家APP</h2>
                    <p>活动家app覆盖中高端手机用户群，在用户中拥有不错的口碑，已成为查询预订活动的必备工具。</p>
                        <a href="https://itunes.apple.com/cn/app/da-huo-dong/id731753448?l=en&amp;mt=8" class="btn-red">iphone下载</a>
                        <a href="http://app.mi.com/detail/64258" class="btn-blue">Android下载</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container about-div" id="lastcon">
        <div class="row" id="contactUs">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about_contact" >
            <h2 style="text-align: center" class="forme">联系我们</h2>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 contact-info">
                <p>客服电话:400-003-3879      &nbsp;&nbsp;&nbsp;工作时间:周一至周六:9:30-18:00   &nbsp;&nbsp;客服邮箱:&nbsp;<a style="text-decoration: underline">business@veryevent.com</a></p>
                <p>商务会议交流1群：148283991（已满）&nbsp;&nbsp;&nbsp;&nbsp;商务会议交流2群：175980736&nbsp;&nbsp;&nbsp;&nbsp;休闲娱乐交流群：3981686031</p>
                <p>注册地址:成都市高新区元华一巷53号一层</p>
                <p>投资联系：刘东 15371818461</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 contact-weixin">
                <img src="http://pic.huodongjia.com/static/images/about_uus_erweima.jpg" class="weixing-img" alt="wei" style="margin-left: 0;">
                <p style="line-height: 26px;margin-top: 10px;">欢迎关注活动家微信公众号<br>优惠商务活动尽在活动家</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 contact-cooperation">
                <h3>合作伙伴</h3>
                <ul>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/1.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/2.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/3.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/4.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/5.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/6.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/7.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/8.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/9.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/10.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/11.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/12.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/13.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/14.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/15.jpg" alt=""></li>
                    <li><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/16.jpg" alt=""></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block myscript %}
<script src="http://pic.huodongjia.com/static/js/about530.js"></script>
{% endblock %}

