{% extends "m_model.html" %}
{% block meta %}
<link rel="stylesheet" href="http://pic.huodongjia.com/static/css/m_about.css">
<title>活动家介绍_关于活动家_专业商务会议网</title>
<meta name="description" content="手机找会议,上活动家Huodongjia.com!活动家是专业商务会议网,亚洲最大活动网站,提供专业商务会议、同城活动的查询与报名服务.服务热线:400-003-3879" />
<meta name="keywords" content="活动家,活动网,公司介绍" />
{% endblock %}
{% block container%}
{% block header %}
<div class="row" id="home_con">
    <header class="col-sm-12 col-xs-12">
        <h1 class="col-xs-3 col-sm-3" style="padding:0;"><a href="/">
            <img class="header_list" style="width:180px; position: absolute;left: 10px; top: 12px;" src="/static/wapstatic/images/m_logo.png" alt="活动家手机站-专业商务会议网"/>
        </a></h1>
        <form action="/tag/" method="get" class="myForm col-xs-7 col-sm-7">
            <i class="iconfont">&#xe61b;</i>
            <input type="text"  class="form-control search" name="keyword" id="centerSearch" value="请输入关键词">
        </form>
    </header>
</div>
{% endblock %}
<div class="bgc">
    <img src="http://pic.huodongjia.com/images/About-us1.jpg" class="header_img">
<div class="header_nav">
<ul id="nav-list">
    <li><a class="intro_we">关于我们</a></li>
    <li><a class="coo">产品与服务</a></li>
    <li><a class="con">联系我们</a></li>
</ul>
</div>
<div class="container" id="aboutUs">
    <div class="row">
        <div class="col-sm-12 col-xs-12 about_tab about-div">
            <div  class="intro_about">
                <h2 class="title">活动家介绍</h2>
                <p  class="col-sm-12 col-xs-12 intro_title" >
                    活动家(huodongjia.com)是成都云数海量智能科技有限公司旗下的网站。</br>
                    活动家是亚洲最大的活动查询，报名，票务营销平台。</br>
                    活动家为用户提供有价值，有意义的商务会议活动，有趣味的同城活动。</br>
                    活动家为主办方提供活动发布，活动推广营销，视频直播，在线选座等服务。
                </p>
                <div class="row">
                <img src="http://pic.huodongjia.com/images/aboutus_di.png" class="col-sm-12 col-xs-12  intro_img1">
                <div class="col-sm-12 col-xs-12 active_info1">
                <h2>十万场大型活动</h2>
                <p class="active_info_text1" >超过10万场大型会议、会展、培训、演出、旅游活动在活动家平台进行票务销售。</p>
                </div>
                </div>

                <div class="row">
                    <img src="http://pic.huodongjia.com/images/aboutus_9.png" class="col-sm-12 col-xs-12  intro_img1">
                    <div class="col-sm-12 col-xs-12 active_info1">
                        <h2>累积卖出40万张门票</h2>
                        <p class="active_info_text1" >每天有超过1万人在活动家平台查询会议，演出，旅游等活动信息，进行订购报名。</p>
                    </div>
                </div>


                <div class="row">
                    <img src="http://pic.huodongjia.com/images/aboutus_10.png" class="col-sm-12 col-xs-12 intro_img3">
                    <div class="col-sm-12 col-xs-12 active_info3">
                        <h2>超过1万家优质主办方</h2>
                        <p class="active_info_text3" >活动家与超过1万家大型主办方保持良好合作关系，每年在活动家平台发布的活动超过3万场。</p>
                    </div>
                </div>
    </div>
</div>
</div>
</div>

    <div class="products-bg about-div" id="cooperative">
        <div class="container" id="about_products">
            <div class="col-sm-12 col-xs-12 about_products1" >
                <p class="service_title" style="text-align: center;margin-top: 1em;font-size:2.3em">产品与服务</p>
                <div class="products-info">
                    <ul class="products-img">
                        <li class="col-sm-12 col-xs-12">
                                <img class="col-sm-5 col-xs-5" style="padding: 0" src="http://pic.huodongjia.com/images/about-two-1.png">
                                <div class="col-sm-7 col-xs-7 products-div_text">
                                    <h3>会议直播</h3>
                                    <p>论坛峰会网上直播 加速会议传播速度  扩大会议影响力 提升品牌形象。</p>
                                </div>
                        </li>
                        <li class="col-sm-12 col-xs-12">
                                <img class="col-sm-5 col-xs-5" style="padding: 0" src="http://pic.huodongjia.com/images/about-two-2.png">
                                <div class="col-sm-7 col-xs-7 products-div_text">
                                <h3>在线选座</h3>
                                <p>线上选座，融入社交，每个座位都标记参会 人士的社会属性，方便参会者知道附近就坐 的人士情况，进行商务社交。</p>
                            </div>
                        </li>
                        <li class="col-sm-12 col-xs-12">
                                <img class="col-sm-5 col-xs-5" style="padding: 0" src="http://pic.huodongjia.com/images/about-two-3.png">
                                <div class="col-sm-7 col-xs-7 products-div_text">
                                <h3>活动舆情监控</h3>
                                <p>会前挖掘出最有效的会议传播宣传渠道 社交媒体监测 及时发现舆论点。会后 对会议舆情做深度数据总结报告。  </p>
                            </div>
                        </li>
                        <li class="col-sm-12 col-xs-12">
                                <img class="col-sm-5 col-xs-5" style="padding: 0" src="http://pic.huodongjia.com/images/about-two-4.png">
                                <div class="col-sm-7 col-xs-7 products-div_text">
                                <h3>HTML5移动页面</h3>
                                <p>专业 时尚 大气 的HTML5手机页面才符合当下移动互联网时代</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-xs-12 app">
                    <div class="col-sm-12 col-xs-12 app-img">
                    <img src="http://pic.huodongjia.com/images/aboutus_tel.png">
                    </div>
                    <div class="col-sm-12 col-xs-12 app-info">
                    <h2>活动家APP</h2>
                    <p>活动家app覆盖中高端手机用户群，在用户中拥有不错的口碑，已成为查询预订活动的必备工具。</p>
                        <a  href="https://itunes.apple.com/cn/app/da-huo-dong/id731753448?l=en&amp;mt=8" class="col-sm-6 col-xs-6 btn-red" style="padding:0">iphone下载</a>
                        <a href="http://app.mi.com/detail/64258" class="col-sm-6 col-xs-6 btn-blue" style="padding:0">Android下载</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container about-div" id="lastcon">
        <div class="row" id="contactUs">
        <div class="col-sm-12 col-xs-12 about_contact" >
            <h2 style="text-align: center" class="forme">联系我们</h2>
            <div class="col-sm-12 col-xs-12 contact-info">
            <p>客服电话:400-003-3879   &nbsp;028-85319761    &nbsp;&nbsp;&nbsp;工作时间:周一至周六:9:30-18:00   &nbsp;&nbsp;客服邮箱:&nbsp;<a style="text-decoration: underline">business@veryevent.com</a><br>
                QQ交流群:148283991  &nbsp;&nbsp;注册地址:成都市高新区元华一巷53号一层</p>
            </div>
            <div class="col-sm-12 col-xs-12 contact-weixin">
                <img src="http://pic.huodongjia.com/static/images/huodongjia_erweima.jpg" class="weixing-img" alt="活动家手机站-专业商务会议网">
                <p>扫描活动家<br>随时关注身边活动</p>
            </div>
            <div class=" col-sm-12 col-sm-12 contact-cooperation">
                <h3 style="text-align: center;margin-top: 2em;">合作伙伴</h3>
                <ul class=" col-sm-12 col-sm-12 other_ul">
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/1.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/2.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/3.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/4.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/5.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/6.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/7.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/8.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/9.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/10.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/11.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/12.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/13.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/14.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/15.jpg" alt=""></li>
                    <li class="col-sm-2 col-xs-6"><img src="http://pic.huodongjia.com/static/images/Partner selection LOGO/16.jpg" alt=""></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    {% block footer %}
    <!----footer---->
    <div class="row" style="margin-top: 2em">
        <footer class="col-sm-12 col-xs-12">
            <div class="footTop">
                <p><img src="http://pic.huodongjia.com/static/images/oxp-phone.gif">&nbsp;<a class="tel" href="tel:400-003-3879">400-003-3879</a>&nbsp;(9:00-18:00)</p>
                <p>CopyRight 活动家 huodongjia.com<a href="/about/" class="about" rel="nofollow"> | 关于我们</a></p>
            </div>
        </footer>
    </div>
    {% endblock %}
</div>
{% endblock %}
{% block footerjs %}
<script src="http://pic.huodongjia.com/static/js/m_about.js"></script>
{% endblock %}


