{% extends "m_model.html" %}
{% block cssStyle %}
<link href="http://cdn.bootcss.com/Swiper/3.0.7/css/swiper.css" rel="stylesheet">
{% endblock %}
{% block container %}
<!--邀请函-->
<!--详情-->
<header class="Notice-header">
    <a href="/"><i class="iconfont">&#xf006b;</i></a>
    <h2>{{event.event_name}}</h2>
</header>
<section class="swiper-container col-sm-12 col-xs-12">
    <article class="swiper-wrapper">
        <article class="Notice_body swiper-slide Invitation" id="eventHospital">
            {% if share %}
            <img src="http://pic.huodongjia.com/static/images/m_event_down.png" alt="活动家APP下载" class="event_down" id="down">
            {% endif %}
            <article class="Invitation_info ">
                <h1 class="pic-opa-titles" {% if event.cat_name or event.event_venue.venue_title %}{% endif %}>
                    {{event.event_name}}</h1>
                <hr>
                <span class="h_time" data-state="0">时间:{{event.ymd_time}}&nbsp;&nbsp;&nbsp;地点:<a href="/{{event.district_title}}/">{{event.district_name}}</a></span>
            </article>
            <article class="Invitation_button ">
                {%for item in event.event_content%}
                {%ifequal item.0|safe '会议通知'%}
                <div class="button_div but_div button_len">
                    <i class="newicon">&#xe60e;</i><span>会议通知</span>
                </div>
                {%endifequal%}
                {%endfor%}
                {%for item in event.event_content%}
                {%ifequal item.0|safe '会议日程'%}
                <div class="button_div but_div button_len">
                    <i class="newicon" id="newicon">&#xe615;</i><span>会议日程</span>
                </div>
                {%endifequal%}
                {%endfor%}
                {%for item in event.event_content%}
                {%ifequal item.0|safe '会议嘉宾'%}
                <div class="button_div but_div button_len">
                    <i class="newicon">&#x3455;</i><span>会议嘉宾</span>
                </div>
                {%endifequal%}
                {%endfor%}
                {% ifequal event.time_expire 2 %}
                <article class="button_divs button_len">
                    <span class="buy">过期</span>
                </article>
                {%else%}
                {% ifequal event.event_price_model 1 %}
                <article class="button_div button_len">
                    <span class="buy">参会报名</span>
                </article>
                {% else %}
                {% ifequal event.event_price_model 6 %}
                <article class="button_div button_len">
                    <span class="buy">参会报名</span>
                </article>
                {% else %}
                {% ifequal event.event_price_model 4 %}
                <article class="button_divs button_len">
                    <span class="buy">免费</span>
                </article>
                {%else%}
                {% ifequal event.event_price_model 4 %}
                <article class="button_divs button_len">
                    <span class="buy">待定</span>
                </article>
                {%else%}
                <article class="button_divs button_len">
                    <span class="buy">收费</span>
                </article>
                {% endifequal %}
                {% endifequal %}
                {% endifequal %}
                {% endifequal %}
                {% endifequal %}
            </article>
            <article class="share_event">
                <ul>
                    <!--<li><a><img src="http://pic.huodongjia.com/static/images/share_weixins2.png" alt="活动家会议微信分享"></a></li>-->
                    <li><a href="/{{ event.cat_ename }}/"><img src="http://pic.huodongjia.com/static/images/event_back2.png" alt="活动家返回上一级"></a></li>
                    <li><a href="/"><img src="http://pic.huodongjia.com/static/images/home_back2.png" alt="活动家首页"></a></li>
                </ul>
            </article>
        </article>
        {%for item in event.event_content%}
        {%ifequal item.0|safe '会议通知'%}
        <article class="Notice_body swiper-slide meeting_Notice">
            {% if navigationList %}
            {% include "navigationList.html" %}
            {% endif %}
            <article class="tabs">
                <a class="tab_btn active" href="#">{{item.0|safe}}</a>
            </article>
            {{item.1|safe}}
            <section  class="copyright">
                <span>CopyRight 活动家 huodongjia.com</span>
            </section>
        </article>
        {%endifequal%}
        {%endfor%}
        {%for item in event.event_content%}
        {%ifequal item.0|safe '会议日程'%}
        <article class="Notice_body swiper-slide meeting_date">
            {% if navigationList %}
            {% include "navigationList.html" %}
            {% endif %}
            <article class="tabs">
                <a class="tab_btn active" href="#">{{item.0|safe}}</a>
            </article>
            {{item.1|safe}}
            <section  class="copyright">
                <span>CopyRight 活动家 huodongjia.com</span>
            </section>
        </article>
        {%endifequal%}
        {%endfor%}
        {%for item in event.event_content%}
        {%ifequal item.0|safe '活动介绍'%}
        <article class="Notice_body swiper-slide meeting_Notice">
            {% if navigationList %}
            {% include "navigationList.html" %}
            {% endif %}
            <article class="tabs">
                <a class="tab_btn active" href="#">{{item.0|safe}}</a>
            </article>
            {{item.1|safe}}
            <section  class="copyright">
                <span>CopyRight 活动家 huodongjia.com</span>
            </section>
        </article>
        {%endifequal%}
        {%endfor%}
        {%for item in event.event_content%}
        {%ifequal item.0|safe '会议嘉宾'%}
        <article class="Notice_body swiper-slide meeting_people">
            {% if navigationList %}
            {% include "navigationList.html" %}
            {% endif %}
            <article class="tabs">
                <a class="tab_btn active" href="#">{{item.0|safe}}</a>
            </article>
            {{item.1|safe}}
            <section  class="copyright">
                <span>CopyRight 活动家 huodongjia.com</span>
            </section>
        </article>
        {%endifequal%}
        {%endfor%}
        {% ifnotequal event.time_expire 2 %}
        {% ifequal event.event_price_model 6 %}
        <article class="Notice_body swiper-slide check_meeting">
            <section  class="col-sm-12 col-xs-12">
                <dl>
                    <dt>
                        <a href="{{event.event_url}}">
                            <img src="{{event.event_img}}" alt="{{event.event_name}}">
                        </a>
                    </dt>
                    <dd>
                        <a href="{{event.event_url}}">
                            <h3 class="pic-opa-title">{{event.event_name}}</h3>
                        </a>
                        <p class="home-time">{{event.event_begin_time}}&nbsp;&nbsp;|&nbsp;&nbsp;<a  class="home-city" href="/{{event.district_title}}/" >{{event.district_name}}</a></p>
                    </dd>
                </dl>
            </section>
            <form action="/order/{{event.event_id}}/" method="post" id="price_form" rel="nofollow">
                {% for p in event.price_unit_info %}
                {% ifequal p.status 1 %}
                <setion class="col-xs-12 check {% if forloop.last %}checkeds{% endif %}">
                    <div class="check_boder">
                        <div class="price_type">
                            <div class="col-sm-12 price_content">
                                <h2>{%if p.property%}{{p.property}}{%else%}会务费{%endif%}</h2>
                                <p class="end_time">报名截止:{% if event.event_islongtime %}长期{% else %}{{p.end_time}}{% endif %}</p><a class="open">{%if p.content%}费用说明<i class="iconfont" style="font-size:1.2em">&#xe62b;</i>{%endif%}</a>
                                <hr/>
                                <div class="content" style="display: none;margin-bottom:5px;" data="{{p.content}}">
                                    {{p.content}}
                                </div>
                            </div>
                        </div>
                        <div class="form_number">
                            <div class="borer_top"></div>
                            <div class="col-sm-12 price_content">
                                <p class="sums_price">{{event.event_price_unit_sign}}{{p.price}}</p>
                                <hr/>
                                <label for="number">请选择数量：</label>
                                <div class="number"><i class="number_old" {% ifequal p.status 1 %}{%else%}disabled="true"{%endifequal%}>-</i><input class="priceNumber" readonly="readonly"  value="0" type="text"/><i class="number_add">+</i></div>
                                <div class="fanli">
                                    <span></span>
                                </div>
                                <input type="hidden" class="return_price" data-return="{{p.price_return}}" data-sign="{{event.event_price_unit_sign}}">
                                <input type="hidden" class="price" value="{{p.price}}" data-price="{{p.price}}" data-priceType="{{event.event_price_unit}}" data-sign="{{event.event_price_unit_sign}}"/>
                            </div>
                        </div>
                    </div>
                </setion>
                {%endifequal%}
                {%endfor%}
                <input type="hidden" class="returnprice" name="returnprice" value="">
                <input type="hidden" value="{{ event.event_id }}" name="event_id"/>
                <input type="hidden" name="event_name" value="{{ event.event_name }}"/>
        </article>
        {%else%}
        {% ifequal event.event_price_model 6 %}
        <article class="Notice_body swiper-slide check_meeting">
            <section  class="col-sm-12 col-xs-12">
                <dl>
                    <dt>
                        <a href="{{event.event_url}}">
                            <img src="{{event.event_img}}" alt="{{event.event_name}}">
                        </a>
                    </dt>
                    <dd>
                        <a href="{{event.event_url}}" target="_blank">
                            <h3 class="pic-opa-title">{{event.event_name}}</h3>
                        </a>
                        <p class="home-time">{{event.event_begin_time}}&nbsp;&nbsp;|&nbsp;&nbsp;<a  class="home-city" href="/{{event.district_title}}/" >{{event.district_name}}</a></p>
                    </dd>
                </dl>
            </section>
            {% for p in event.price_unit_info %}
            {% ifequal p.status 1 %}
            <setion class="col-xs-12 check {% if forloop.last %}checkeds{% endif %}">
                <div class="check_boder">
                    <div class="price_type">
                        <div class="col-sm-12 price_content">
                            <h2>{%if p.property%}{{p.property}}{%else%}会务费{%endif%}</h2>
                            <p class="end_time">报名截止:{% if event.event_islongtime %}长期{% else %}{{p.end_time}}{% endif %}</p><a class="open">{%if p.content%}费用说明<i class="iconfont" style="font-size:1.2em">&#xe62b;</i>{%endif%}</a>
                            <hr/>
                            <div class="content" style="display: none;margin-bottom:5px;" data="{{p.content}}">
                                {{p.content}}
                            </div>
                        </div>
                    </div>
                    <div class="form_number">
                        <div class="borer_top"></div>
                        <div class="col-sm-12 price_content">
                            <p class="sums_price">{{event.event_price_unit_sign}}{{p.price}}</p>
                            <hr/>
                            <label for="number">请选择数量：</label>
                            <div class="number"><i class="number_old" {% ifequal p.status 1 %}{%else%}disabled="true"{%endifequal%}>-</i><input class="priceNumber" readonly="readonly"  value="0" type="text"/><i class="number_add">+</i></div>
                            <div class="fanli">
                                <span></span>
                            </div>
                            <input type="hidden" class="return_price" data-return="{{p.price_return}}" data-sign="{{event.event_price_unit_sign}}">
                            <input type="hidden" class="price" value="{{p.price}}" data-price="{{p.price}}" data-priceType="{{event.event_price_unit}}" data-sign="{{event.event_price_unit_sign}}"/>
                        </div>
                    </div>
                </div>
            </setion>
            {%endifequal%}
            {%endfor%}
            <input type="hidden" class="returnprice" name="returnprice" value="">
            <input type="hidden" value="{{ event.event_id }}" name="event_id"/>
            <input type="hidden" name="event_name" value="{{ event.event_name }}"/>
        </article>
        {%endifequal%}
        {%endifequal%}
        {%endifnotequal%}
    </article>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <input type="hidden" id="contents" data-thisprice="{{event.event_price}}">
    <!-- Add Arrows -->
    <div class="swiper-scrollbar" data-value="{{event.event_price_model}}"></div>
</section>
</form>
{% ifnotequal event.time_expire 2 %}
{% ifequal event.event_price_model 6 %}
<section class="click_submit_div">
    <button type="submit" class="col-xs-12 click_submit">提交</button>
</section>
{% else %}
{% ifequal event.event_price_model 1 %}
<section class="click_submit_div">
    <button type="submit" class="col-xs-12 click_submit">提交</button>
</section>
{%endifequal%}
{%endifequal%}
{%endifnotequal%}
{% endblock %}
{%block footerjs%}
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/Swiper/3.0.7/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="http://pic.huodongjia.com/static/mobile/m_event1.js"></script>
{%endblock%}