{% extends "m_model.html" %}
{% block cssStyle %}
{% endblock %}

{% block container %}
<div class="container_travel">
    <div class="gohome"><a href="http://m.huodongjia.com/"> <i class="icon iconfont">&#xe66e;</i></a></div>
{% block header %}
<div class="header">
    <div class="icon-left"><a href="javascript:;" onClick="javascript :history.back(-1);"><i class="iconfont">&#xe66b;</i></a></div>
    {% for ca in navigationList %}
    {% if  forloop.last %}
    <h2>{{ca.catname}}</h2>&nbsp;<span class="header-city"><a style="color:#fff;font-size: 0.9em">{% if city %}{{city}}{% else %}城市{% endif %}<img src="/static/images/city-select.png"></a></span>
    {% endif %}
    {% endfor%}
    <div class="icon-class"><i class="iconfont start-class">&#xe627;</i></div>
</div>
{% endblock %}

<div class="center">
    <div class="select_city">
        <img src="/static/images/select.png" class="selectcity">
        <div id="cityMap">
            <ul class="internal">
                <p>国内热门 </p>
                {% for ci in city_Nav %}
                {% if  forloop.last %}
            </ul>
            <ul class="abroad ">
                <p>国外热门</p>
                {% for c in ci.child|slice:":9"%}
                <li><a href="/{{c.title}}/" style="color:#333;font-size: 0.9em">{{c.district_name}}</a></li>
                {% endfor %}
                {% else %}
                {% for c in ci.child|slice:":8"%}
                <li><a href="/{{c.title}}/" style="color:#333;font-size: 0.9em">{{c.district_name}}</a></li>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div  class="hidden_table">
        <img src="/static/images/select.png" class="selecttable">
        <table cellspacing="0" cellpadding="0">
            <tr>
                {% for first in cat_Map|slice:":3" %}
                <td><a href="{{first.caturl}}">{{first.catname}}</a></td>
                {% endfor %}
            </tr>
            <tr>
                {% for first in cat_Map  %}
                {% if  forloop.last %}
                <td><a href="{{first.caturl}}">{{first.catname}}</a></td>
                {% endif %}
                {% endfor %}
                <td><a href="/searchorder/"  rel="nofollow">查询订单</a></td>
            </tr>
        </table>
    </div>
    {% block Navlist %}
    <div class="iphonebox">
        <ul class="promptu-menu01">
            {% for ca in cat_k %}
            <li><a href="{{ca.caturl}} " {% ifequal ca.ename cat %} style="color:#51c5d7" {% else %}  style="color:#777374" {% endifequal %} >{{ca.catname}}</a></li>
            {% endfor%}
        </ul>
    </div>
    {% endblock %}
    <!--------pic start--------->
    {% block content %}
    <div class="travel-center-pic" data-cat="{{cat}}" data-city="{{city_py}}"  data-page="{{page}}" data-offset="{{offset}}" data-travel="{{len_list}}">
        <ul class="travel-center-pic-one">
            {% for event in list%}
            <li>
                <div class="whitetop"></div>
                <div class="travel-center-pic-one-img">
                    <a href="/event-{{event.event_id}}.html" target="_blank">
                        <img src="{{event.event_img}}"  alt="{{event.event_name}}" >
                    </a>
                </div>
                <div class="whitebottom">
                    <a href="/event-{{event.event_id}}.html" target="_blank" style="color: #333"><h3 class="whitebottom-title"{% if event.cat_name or event.event_venue.venue_title %}{% endif %}>
                        {{event.event_name}}</h3></a>
                    <i class="iconfont">&#xe60f;</i>
                    <p class="travel-city"><a href="/{{event.district_title}}/" style="color: #4d4d4d" target="_blank">{{event.district_name}}</a>{% if event.event_venue %},{{event.event_venue}} {% endif %}{% if event.event_address %},{{event.event_address}} {% endif %}</p>
                    <div class="join"><a href="/event-{{event.event_id}}.html" target="_blank" style="color:#fff;">我要体验</a></div>
                    {% if event.event_discount_price %}
                    <span class="hot-info-money" data-priceStyle="{{event.event_price_unit}}">{{event.event_discount_price}}</span>
                    {% else %}
                    <span class="hot-info-money "  data="{{event.event_price}}" data-priceStyle="{{event.event_price_unit}}">{{event.event_price}}</span>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
  </div>
</div>
{% endblock %}


    {% block footerjs %}
    <script type="text/javascript" src="http://pic.huodongjia.com/static/js/jquery.promptu-menu.js"></script>
    <script type="text/javascript">
        scroll();
        travel();
        fix();
        function validate(){
            $('.myForm').submit();
        }
    </script>
    {% endblock %}