{% extends "wapVenueList.html" %}
{% block myhead%}
{% include 'seo_base.html' %}
{% endblock %}
{% block header %}
<header  style="padding:0;border: none;line-height: normal !important;">
    <table>
        <tr>
            <td class="left"><a href="javascript:history.back(-1)">&#xe601;</a></td>
            <td>{{sponsor.ns_name}}</td>
            <td class="right"><a class="menue">&#xe602;</a></td>
        </tr>
    </table>
</header>
{% endblock %}
{% block mysearch %}
{% endblock %}
{% block container %}
<!--banner-->
{% if sponsor.ns_pic_urls %}
<img  width="100%" class="img-responsive" src="{{sponsor.ns_pic_urls}}" alt="{{sponsor.ns_name}}"/>
{% else %}
<img width="100%" class="img-responsive" src="http://pic.huodongjia.com/static/images/sponsor_default.jpg" alt="{{sponsor.ns_name}}"/>
{% endif %}
<div class="spon_info row" style="width: 100%">
    {%if sponsor.ns_like_count %}
    <div class="col-sm-4 col-xs-4 text-center"><h2 class="mysponsorfont">&#xe6d1;</h2><span>{{sponsor.ns_like_count}}人喜欢</span></div>
    {% endif %}
    <div class="col-sm-4 col-xs-4 text-center session"><h2>{{sponsor.ns_count}}</h2><span>会议场次</span></div>
    <div class="col-sm-4 col-xs-4 text-center"><h2 class="mysponsorfont" style="color: #999">&#xe670;</h2><span>我要认证</span></div>
</div>
<!--详情-->
<div class="content">
    <p>{{sponsor.ns_intro|safe}}</p>
    <p class="c_more" style="text-align: center;margin: 0;color: #000;text-indent: initial;" >全部</p>
</div>
<!--正在报名的会议-->
<div class="meeting_title">
    <span>正在报名会议</span>
</div>
{% if sponsor.ns_events %}
<div class="meeting_list row">
    {% for ev in sponsor.ns_events|slice:'4' %}
    <div class="col-sm-6 col-xs-6 meeting" >
        <div>
            <a href="/event-{{ev.old_event_id}}.html"><img class="img-responsive m_img" src="{{ev.img__server__name}}{{ev.img__urls}}" alt="{{ev.event_name}}"/></a>
            <p><span>{{ev.begin_time|date:'Y-m-d'}}</span></p>
        </div>
        <a href="/event-{{ev.old_event_id}}.html"><p class="son_name">{{ev.name}}</p></a>
        <p class="spon_addr">地点：<a style="color: #A6A6A6" href="/{{ev.city__title}}/">{{ev.city__district_name}}  {{ev.addr__title}}</a></p>
    </div>
    {%endfor%}
</div>
{% else %}
<p class="text-center">暂时没有正在报名的会议！</p>
{% endif %}
<!--往期活动回顾-->
<div class="meeting_title">
    <span>往期活动回顾</span>
</div>
<div class="Activities_list">
    {% for ev in sponsor.ns_hold_events|slice:'5' %}
    <div class="Activities">
        <p class="act_name"><a href="/event-{{ev.old_event_id}}.html">{{ev.name}}</a></p>
        <p class="act_mess"><span>地点：<a style="color: #A6A6A6" href="/{{ev.city__title}}/">{{ev.city__district_name}}</a></span><span>时间：{{ev.begin_time|date:'Y-m-d'}}</span></p>
    </div>
    {% endfor%}
</div>
<p class="loadMore" style="width: 100%;text-align: center;line-height: 3;margin: 0;background: #FFF;border-bottom: 1px solid #E9E9E9;">加载更多</p>
<p class="load text-center" style="display: none;padding: 5px 0;background: #FFF"><span class=" fa fa-spinner fa-pulse fa-2x" ></span></p>
<!--footer-->
<footer>
    <a href="http://m.huodongjia.com/">首页</a>&gt;<a href="http://m.huodongjia.com/listsponsor/">主办方</a>&gt;<h1 style="display: inline"><a href="{{request.path}}"  style="color: #000;font-size: 14px">{{sponsor.ns_name}}</a></h1>
    <hr style="margin:4px 0;border-top: 1px solid rgba(215, 215, 215, 0.57)"/>
    <ul>
        <li class=""><a href="http://www.huodongjia.com/?mobile" rel="nofollow"><span class="fa fa-desktop"></span>电脑端</a></li>
        <li class=""><a class="appdownload" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.dahuodong.veryevent" rel="nofollow" >下载APP</a></li>
        <li class=""><a href="http://m.huodongjia.com/about/">关于我们</a></li>
    </ul>
    <div class="text-center">CopyRight 活动家 huodongjia.com</div>
</footer>
{% endblock %}
{% block myscript %}
<script>
    $(document).ready(function () {
        $(".content br").after("<span style='padding-left: 2em'></span>")
        var width=$($(".meeting")[0]).width()
        $(".m_img").css({maxHeight:(width-10)/1.6+"px"})
        $(".c_more").click(function () {
            $(".content p").css({lineClamp:"inherit"})
            $(this).hide()
        })
        if("{{sponsor.ns_hold_events|length}}"<=5){
            $(".loadMore").hide();
        }
//        $(".c_more").click(function () {
//            var e_html="{% for ev in sponsor.ns_events|slice:'4:' %} <div class='col-sm-6 col-xs-6 meeting' ><div>" +
//            "<a href='/event-{{ev.old_event_id}}.html'><img class='img-responsive' src='{{ev.img__server__name}}{{ev.img__urls}}' alt='{{ev.name}}'/></a>" +
//                    "<p><span>{{ev.begin_time|date:'Y-m-d'}}</span></p></div>" +
//                    "<a href='/event-{{ev.old_event_id}}.html'><p class='son_name'>{{ev.name}}</p></a>"+
//                    "<p class='spon_addr'>地点：<a style='color: #A6A6A6' href='/{{ev.city__title}}/business/'>{{ev.city__district_name}}  {{ev.addr__title}}</a></p>" +
//                    " </div>{% endfor %}"
//            $(".meeting_list").append(e_html)
//            $(".c_more").hide();
//        })
        $(".loadMore").click(function () {
            $(".loadMore").hide();
            $(".load").show()
            setTimeout(function(){
                $('.load').hide()
                var _html="{% for ev in sponsor.ns_hold_events|slice:'5:10' %}<div class='Activities'>" +
                "<p class='act_name'><a href='/event-{{ev.old_event_id}}.html'>{{ev.name}}</a></p>" +
                        "<p class='act_mess'><span>地点：<a style='color: #A6A6A6'  href='/{{ev.city__title}}/'>{{ev.city__district_name}}</a></span><span>时间：{{ev.begin_time|date:'Y-m-d'}}</span></p>" +
                        "</div>{% endfor %}"
                $(".Activities_list").append(_html)
            },500)
        })
    })
</script>
{% endblock %}
