{% extends "wapVenueList.html" %}
{% block myhead%}
<title>会议主办方信息大全_主办单位介绍_活动家</title>
<meta name="description" content="找会议主办方信息，就到活动家huodongjia.com！会议主办方是举办会议的单位，活动家提供最新最全的会议主办方信息，主办单位详细介绍，以及该主办方近期举行的会议。还能推荐优质主办方，免费发布会议信息，是你查询主办方的最佳途径。">
<meta name="keywords" content="会议主办方,会议主办单位,主办方信息">
{% endblock %}
{% block header %}
<header  style="padding:0;border: none;line-height: normal !important;">
    <table>
        <tr>
            <td class="left"><a href="javascript:history.back(-1)">&#xe601;</a></td>
            <td>会议主办方</td>
            <td class="right"><a class="menue">&#xe602;</a></td>
        </tr>
    </table>
</header>
{% endblock %}
{% block mysearch %}
<form class="searchForm" action="/searchsponsor/?keyword=" method="get" rel="nofollow">
    <input type="text" id="bdcsMain" class="searchInput yahei" name="keyword" placeholder="请输入主办方名称">
    <i class="myfont " id="searchIcon">&#xe629;</i>
</form>
{% endblock %}
{% block container %}
<!--主办方列表-->
<div class="venue_list row">
    {% for sp in sponsors %}
    <div class="venue col-sm-12 col-xs-12">
        <div class="col-sm-5 col-xs-5" style="padding: 0 10px">
            <a href="/sponsor-{{sp.id }}.html">
                {% if sp.ns_pic_urls %}
                <img width="130" class="img-responsive img-rounded" src="{{sp.ns_pic_urls }}" alt="{{sp.ns_name}}"/>
                {% else %}
                <img width="130" class="img-responsive img-rounded" src="http://pic.huodongjia.com/static/images/sponsor_default.jpg" alt="{{sp.ns_name}}"/>
                {% endif %}
            </a></div>
        <div class="col-sm-7 col-xs-7" style="padding: 0 10px">
            <a href="/sponsor-{{sp.id}}.html">
                <h2 style='color: #000'>{{sp.ns_name}}</h2>
                <p>会场介绍：{{sp.ns_intro|truncatechars:30}}</p>
            </a>
        </div>
        <div class="message text-right"><span class="fa fa-paper-plane">{% if sp.ns_count %}{{sp.ns_count}}{% else %}0{% endif %}</span>
            <span class="fa fa-heart">{% if sp.ns_like_count %}{{sp.ns_like_count}}{% else %}0{% endif %}人</span></div>
    </div>
    {% endfor%}
</div>
<p class="text-center" style="padding:5px 0;width: 100%;background: #fff;margin: 0"><a title="{{nextPage}}" class="loading" style="color: #aaa">下拉显示更多</a>
    <span class="load fa fa-spinner fa-pulse fa-2x" style="display: none"></span>
    <span class="loads" style="color: #aaa;display: none">加载完成！</span>
    <span class="loadfail" style="color: #aaa;display: none">加载失败！</span>

</p>
<!--footer-->
<footer>
    <a href="http://m.huodongjia.com/">首页</a>&gt;<h1 style="display: inline;"><a href="http://m.huodongjia.com/listsponsor/" style="color: #000;font-size: 14px">会议主办方</a></h1>
    <hr style="margin:4px 0;border-top: 1px solid rgba(215, 215, 215, 0.57)"/>
    <ul>
        <li class=""><a href="http://www.huodongjia.com/?mobile" rel="nofollow"><span class="fa fa-desktop"></span>电脑端</a></li>
        <li class=""><a class="appdownload" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.dahuodong.veryevent" rel="nofollow" >下载APP</a></li>
        <li class=""><a href="http://m.huodongjia.com/about/">关于我们</a></li>
    </ul>
    <div class="text-center">CopyRight 活动家 huodongjia.com</div>
</footer>
{% endblock %}
{% block myscript %}
<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
            var pageurl=$(".loading")[0].title       //下一页url
            var pages;
            $(".load").show();
            $(".loading").hide()
            if(pageurl!="false"){      //最后一页
                $.ajax({
                    type:'get',
                    url :pageurl,
                    dataType : 'json',
                    success  : function(data) {
                        for(var i=0;i<data.pageList.length;i++){
                            if(data.pageList[i].flag=="true"){
                                pages=data.pageList[i].page
                                break
                            }
                        }
                        if($(".venue").length==(pages-1)*6){
                            $(".loading")[0].title=data.nextPage
                            for(var i=0;i<data.sponsors.length;i++){
                                var pic,count;
                                if(data.sponsors[i].ns_like_count==null){
                                    count=0;
                                }else{
                                    count=data.sponsors[i].ns_like_count
                                }
                                if(data.sponsors[i].ns_pic_urls==null){
                                    pic="http://pic.huodongjia.com/static/images/sponsor_default.jpg"
                                }else {
                                    pic=data.sponsors[i].ns_pic_urls;
                                }
                                $(".venue_list").append("<div class='venue col-sm-12 col-xs-12'>"+
                                        "<div class='col-sm-5 col-xs-5' style='padding: 0 10px'>"+
                                        "<a href='/sponsor-"+data.sponsors[i].id+".html'>"+
                                        "<img width='130' class='img-responsive img-rounded' src='"+pic+"' alt='"+data.sponsors[i].ns_name+"' /></a></div>"+
                                        "<div class='col-sm-7 col-xs-7' style='padding: 0 10px'>"+
                                        "<a href='/sponsor-"+data.sponsors[i].id+".html'><h2 style='color: #000'>"+data.sponsors[i].ns_name+"</h2><p>会场介绍："+data.sponsors[i].ns_intro+"</p></a></div>" +
                                        "<div class='message text-right'><span class='fa fa-paper-plane'>"+data.sponsors[i].ns_count+"</span>"+
                                        "<span class='fa fa-heart'>"+data.sponsors[i].ns_like_count+"人</span></div></div>")
                            }
                            $(".loading").show();
                            $(".load").hide()
                        }
                    },
                    error : function() {
                        console.log('fail');
                        $(".load").hide()
                        $(".loadfail").show()
                    }
                })
            }else{
                $(".loads").show();
                $(".load").hide();
                $(".loading").hide();
            }
        }
    });
</script>
{% endblock %}









