{% extends 'base.html' %}
{% block banner%}
{% endblock %}
{% block content%}
<div class="content container">
    {% csrf_token %}
    <div class="bread_nav"><a href="http://www.huodongjia.com/">首页</a>&gt;<a href="/dj/ganhuo.mpy">会议干货</a>&gt;<h1>{{active_cat.name}}会议文档</h1></div>
    <div class="left">
        <ul class="classify">
            <li class="{% if not active_cat %}choose{% endif %}" ><h3><a href="/dj/ganhuo_listdocs.mpy">不限</a></h3></li>
            {% for cat in main_cats%}
            {% if not cat.nourl %}
            {% ifequal active_cat.ename cat.ename %}
            <li class="choose"><h3><a data="{{cat.id}}" href="/dj/ganhuo_listdocs_{{cat.id}}.mpy" >{{cat.name}}</a></h3></li>
            {% else %}
            <li ><h3><a data="{{cat.id}}" href="/dj/ganhuo_listdocs_{{cat.id}}.mpy" >{{cat.name}}</a></h3></li>
            {% endifequal %}
            {% endif %}
            {% endfor %}
        </ul>
        <ul class="ppt_list">
            {% for doc in docs %}
            <li>
                <h3><a href="/dj/ganhuo_doc_{{doc.id}}.mpy" target="_blank">
                    {% ifequal doc.suffix ".docx" %}
                    <span class="news_font docx">&#xe602;</span>
                    {% endifequal %}
                    {% ifequal doc.suffix ".pptx" %}
                    <span class="news_font ppt">&#xe600;</span>
                    {% endifequal %}
                    {% ifequal doc.suffix ".pdf" %}
                    <span class="news_font pdf">&#xe601;</span>
                    {% endifequal %}
                    {{doc.event_info.0.name}}</a></h3>
                <p class="des">{{doc.intro}}</p>
                <p class="down"><a href="/dj/ganhuo_listdocs_{{doc.cat_info.id}}.mpy" class="tag">{{doc.cat_info.name}}</a>
                <form action="{{doc.urls}}" target="_blank"><button type="submit">下载</button>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/dj/ganhuo_doc_{{doc.id}}.mpy" target="_blank">在线阅读</a></form>
                </p>
            </li>
            {% endfor %}
        </ul>
        <ul class="ppt_pagination">
            {% if page_info.previous_page %}
            {% ifequal page_info.previous_page 1 %}
            <li><a href="/dj/ganhuo_listdocs{% if active_cat%}_{{active_cat.catid}}{%endif%}.mpy">上一页</a></li>
            {% else %}
            <li><a href="/dj/ganhuo_listdocs{% if active_cat%}_{{active_cat.catid}}{%endif%}_p{{page_info.previous_page}}.mpy">上一页</a></li>
            {% endifequal %}
            {% endif %}
            {% for page in page_info.pages_url %}
            {% ifequal page.page 1 %}
            <li class="{% ifequal page_info.this_page page.page %}page_active{% endifequal %}"><a href="{% if active_cat %}/dj/ganhuo_listdocs_{{active_cat.catid}}.mpy{% else %}/dj/ganhuo_listdocs.mpy{% endif %}">
                {{page.page}}
            </a></li>
            {% else %}
            <li class="{% ifequal page_info.this_page page.page %}page_active{% endifequal %}"><a href="{{page.url}}">{{page.page}}</a></li>
            {% endifequal %}
            {% endfor %}
            {% if page_info.next_page %}
            <li><a href="/dj/ganhuo_listdocs{% if active_cat%}_{{active_cat.catid}}{%endif%}_p{{page_info.next_page}}.mpy">下一页</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="right">
        <div class="uploading"><span class="news_font">&#xe609;</span>会议PPT上传</div>
        <h2>即将举办的会议</h2>
        <ul class="upcoming upcoming_event">
            {% for event in relevant_events %}
            <li class="{% if forloop.first %}choose{% endif %}">
                <a href="http://www.huodongjia.com{{event.event_url}}" target="_blank">{{event.event_name}}</a>
                <div class="detail"><a class="event_img" href="http://www.huodongjia.com{{event.event_url}}" target="_blank">
                    <img width="85" height="55" src="{{event.event_img.0.server__name}}{{event.event_img.0.urls}}" alt="{{event.event_name}}"></a>
                    <span><a target="_blank" href="http://www.huodongjia.com/{{event.event_city_info.0.title}}/">{{event.event_city_info.0.district_name}}</a><br>{{event.event_begin_time|slice:':10'}}</span></div>
            </li>
            {% endfor %}
        </ul>
        <div class="h2_title">
            <h2><a href='/dj/ganhuo_listvideos.mpy'  target="_blank">热门视频</a></h2>
            <a href="/dj/ganhuo_listvideos.mpy" target="_blank">更多</a>
        </div>
        <ul class="upcoming video">
            {% for video in hot_videos|slice:'5' %}
            {% if forloop.first %}
            <li>
                <div class="video_img"><a target="_blank" href="/dj/ganhuo_video_{{video.id}}.mpy"><img width="256" height="160" src="{{video.video_img}}" alt="{{video.event_info.0.name}}"><div class="play"><span class="news_font">&#xe605;</span></div></a></div>
                <p class="video_name"><a target="_blank" href="/dj/ganhuo_video_{{video.id}}.mpy">{{video.event_info.0.name}}</a></p>
            </li>
            {% else %}
            <li><p class="video_name"><a target="_blank" href="/dj/ganhuo_video_{{video.id}}.mpy"><span class="news_font">&#xe605;</span>{{video.event_info.0.name}}</a></p></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="m_dialog">
    <p>您想要使用这个功能吗？告诉我您的邮箱地址，上线后我们第一时间通知您。</p>
    <input type="text" id="email" placeholder="请输入您的邮箱"><br>
    <button type="button" class="btn btn-info">确认</button>
    <button type="button" class="btn btn-default">取消</button>
</div>
{% endblock %}
