{% extends 'base.html' %}
{% block addstyle %}
<link rel="stylesheet" href="/ganhuo/static/css/scroll.css">
<meta property="og:type" content="document"/>
<meta property="og:title" content="{{ seo.title }} "/>
<meta property="og:description" content="{{ seo.description }} "/>

<style>
    .doc_download:hover .phone_view{display: block}
</style>
{% endblock %}
{% block banner%}
{% endblock %}
{% block content%}
<div class="content container">
    <div class="bread_nav"><a href="http://www.huodongjia.com/">首页</a>&gt;<a href="/dj/ganhuo.mpy">会议干货</a>&gt;<a href="/dj/ganhuo_listdocs.mpy">会议文档</a>&gt;<h1 style="color: #666">{{doc.name}}</h1></div>
    <div class="doc_browse">
        <iframe id="doc" src="{{doc.urls}}"  width="860" height="600"></iframe>
        <div class="wrapper">
            <div id="container">
                <div class="parent">
                    <ul>
                        <li class="doc_title">{{doc.name}}</li>
                        {% for doc in viewer_right_docs %}
                        <li class="doc_list">
                            <div class="doc_img"><a href="/dj/ganhuo_doc_{{doc.id}}.mpy"><img width="110" height="68" src="{% if doc.img_url%}{{doc.img_url}}{% else %}http://pic.huodongjia.com/static/images/event_default.jpg{%endif%}" alt="{{doc.name}}"></a></div>
                            <div class="doc_name"><p><a href="/dj/ganhuo_doc_{{doc.id}}.mpy">{{doc.name}}</a></p><span><font class="news_font">&#xe60b;</font>{% if doc.visit %}{{doc.visit}}{% else %}0{% endif %}次</span></div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="adhibition">
            <table width="100%">
                <tr>
                    <td class="adhibition_left"><h1>{{doc.name}}</h1><p><span>所属会议：<a target="_blank" href="http://www.huodongjia.com/event-{{doc.event_info.0.event_id}}.html">{{doc.event_info.0.name}}</a></span><span>会议地点：<a target="_blank" href="http://www.huodongjia.com/{{doc.event_info.0.city_ename}}/">{{doc.event_info.0.city_name}}</a></span></p></td>
                    <td class="doc_download" style="border-left: 1px solid #d5d5d5;"><a href="{{doc.urls}}" target="_blank" rel="nofollow"><span class="news_font">&#xe604;</span><br>下载</a></td>
                    <td class="doc_download">
                        <a><span class="news_font">&#xe608;</span><br>手机看</a>
                        <div class="phone_view" style="left: 62.8%;top: 81%">
                            <div class="line" style="width: 127px"></div>
                            <img width="118" height="118" src="http://pic.huodongjia.com/static/images/APP_download.jpg" alt="活动家APP客户端">
                            <p>
                                <span>扫二维码下载<br>或点击下载</span>
                                <a rel="nofollow" href="http://app.xiaomi.com/detail/64258" target="_blank"><span class="news_font">&#xe60a;</span>Android</a>
                                <a rel="nofollow" href="https://itunes.apple.com/cn/app/da-huo-dong/id731753448?l=en&mt=8" target="_blank"><span class="news_font apple">&#xe610;</span>iOS</a>
                            </p>
                        </div>
                    </td>
                    <td class="doc_share">
                        <div class="bdsharebuttonbox">
                            <a style="position:relative;top: -2px;cursor: pointer;" class="bds_weixin news_font" data-cmd="weixin" title="分享到微信">&#xe603;</a>
                            <a style="position:relative;top: -2px" href="http://connect.qq.com/widget/shareqq/index.html?title={{doc.name}}&url=http://news.huodongjia.com/dj/ganhuo_doc_539.mpy" target="_blank" class="bds_sqq news_font" data-cmd="sqq" title="分享到QQ好友">&#xe606;</a>
                            <a href="http://v.t.sina.com.cn/share/share.php?title={{doc.name}}&url=http://news.huodongjia.com/dj/ganhuo_doc_{{doc.id}}.mpy" target="_blank" class="bds_tsina news_font" data-cmd="tsina" title="分享到新浪微博">&#xe60c;</a>
                            <a href="http://tieba.baidu.com/f/commit/share/openShareApi?title={{doc.name}}&url=http://news.huodongjia.com/dj/ganhuo_doc_{{doc.id}}.mpy" target="_blank" class="bds_tieba news_font" data-cmd="tieba" title="分享到百度贴吧">&#xe60f;</a>
                            <a href="http://www.douban.com/recommend/?title={{doc.name}}&url=http://news.huodongjia.com/dj/ganhuo_doc_{{doc.id}}.mpy" target="_blank" class="bds_douban news_font" data-cmd="douban" title="分享到豆瓣网">&#xe60e;</a><br>
                            <!--<span style="line-height: 2.6;">分享:</span>-->
                        </div>
                    </td>
                    <td>{% if doc.visit %}{{doc.visit}}{% else %}0{% endif %}次 <br>浏览次数</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="left">
        <h2>文档简介</h2>
        <div class="introduce">
            <div style="position:relative;">
                <span class="pack_up" style="bottom: -15px;">︽</span>
                <p style="margin-bottom: 25px">{{doc.intro|safe}}</p>
                <span class="more" style="bottom: -27px;">︾</span>
            </div>
            <table class="commont"><tr>
                <td class="like" data-type="good"><span class="news_font">&#xe611;</span><br>有用（<font>{% if doc.good %}{{doc.good}}{% else %}0{% endif %}</font>）</td>
                <td class="common" data-type="worth"><span class="news_font">&#xe607;</span><br>觉得不错（<font>{% if doc.worth %}{{doc.worth}}{% else %}0{% endif %}</font>）</td>
                <td class="bad" data-type="worthless"><span class="news_font">&#xe60d;</span><br>没有价值（<font>{% if doc.worthless %}{{doc.worthless}}{% else %}0{% endif %}</font>）</td>
            </tr></table>
        </div>
        <h2>相关文档</h2>
        <ul class="ppt_list">
            {% for doc in relevant_docs %}
            <li>
                <h3><a href="/dj/ganhuo_doc_{{doc.id}}.mpy" target="_blank">
                    {% ifequal doc.suffix ".docx" %}
                    <span class="news_font docx">&#xe602;</span>
                    {% endifequal %}
                    {% ifequal doc.suffix ".pptx" %}
                    <span class="news_font ppt">&#xe600;</span>
                    {% endifequal %}
                    {% ifequal doc.suffix ".pdf" %}
                    <span class="news_font pdf">&#xe601;</span>
                    {% endifequal %}
                    {{doc.event_info.0.name}}</a></h3>
                <p class="des">{{doc.intro}}</p>
                <p class="down"><a target="_blank" href="/dj/ganhuo_listdocs_{{doc.cat_info.id}}.mpy" class="tag">{{doc.cat_info.name}}</a>
                <form action="{{doc.urls}}" target="_blank"><button type="submit">下载</button>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/dj/ganhuo_doc_{{doc.id}}.mpy" target="_blank">在线阅读</a></form>
                </p>
            </li>
            {% endfor %}
        </ul>
        <br style="clear: both">
        <h2>最新会议文档</h2>
        <ul class="upcoming upcoming_doc">
            {% for doc in newly_docs %}
            <li><a href="/dj/ganhuo_doc_{{doc.id}}.mpy" target="_blank">
                {% ifequal doc.suffix ".docx" %}
                <span class="news_font docx">&#xe602;</span>
                {% endifequal %}
                {% ifequal doc.suffix ".pptx" %}
                <span class="news_font ppt">&#xe600;</span>
                {% endifequal %}
                {% ifequal doc.suffix ".pdf" %}
                <span class="news_font pdf">&#xe601;</span>
                {% endifequal %}
                {{doc.event_info.0.name}}</a></li>
            {% endfor %}

        </ul>
        <br style="clear: both">
    </div>
    <div class="right">
        <div class="h2_title">
        <h2><a target="_blank" href='http://www.huodongjia.com/{{ doc.cat_info.ename}}/'>相关会议推荐</a></h2>
        <a href="http://www.huodongjia.com/{{ doc.cat_info.ename}}/" target="_blank">更多</a>
        </div>
        <ul class="upcoming upcoming_event">
            {% for event in relevant_events %}
            {% if event %}
            <li class="{% if forloop.first %}choose{% endif %}">
                <a href="http://www.huodongjia.com{{event.event_url}}" target="_blank">{{event.event_name}}</a>
                <div class="detail"><a class="event_img" href="http://www.huodongjia.com{{event.event_url}}" target="_blank">
                    <img width="85" height="55" src="{{event.event_img.0.server__name}}{{event.event_img.0.urls}}" alt="{{event.event_name}}"></a>
                    <span><a target="_blank" href="http://www.huodongjia.com/{{event.event_city_info.0.title}}/">{{event.event_city_info.0.district_name}}</a><br>{{event.event_begin_time|slice:':10'}}</span></div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="h2_title">
            <h2><a href="/dj/ganhuo_listvideos.mpy" target="_blank">会议视频</a> </h2><a href="/dj/ganhuo_listvideos.mpy" target="_blank">更多</a>
        </div>
        <ul class="upcoming video">
            {% for video in relevant_videos|slice:'5' %}
            {% if forloop.first %}
            <li>
                <div class="video_img"><a target="_blank" href="/dj/ganhuo_video_{{video.id}}.mpy"><img width="256" height="160" src="{{video.video_img}}" alt="{{video.name}}"><div class="play"><span class="news_font">&#xe605;</span></div></a></div>
                <p class="video_name"><a target="_blank" href="/dj/ganhuo_video_{{video.id}}.mpy">{{video.event_info.0.name}}</a></p>
            </li>
            {% else %}
            <li><p class="video_name"><a target="_blank" href="/dj/ganhuo_video_{{video.id}}.mpy"><span class="news_font">&#xe605;</span>{{video.event_info.0.name}}</a></p></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="Qrcode">
        <p>分享到微信 <span class="close">×</span></p>
        <div id="Qrcode"></div>
        <p style="color: #666">
            打开微信，点击底部的“发现”，<br>
            使用“扫一扫”即可将网页分享至朋友圈。
        </p>
    </div>
</div>
{% csrf_token %}
{% endblock %}
{% block js %}
<script src="/ganhuo/static/js/scroll.js"></script>
<script src="/ganhuo/static/js/jquery.qrcode.min.js"></script>
<script>
    var this_url=window.location.href
    if ((navigator.userAgent.indexOf('MSIE') >= 0)
            && (navigator.userAgent.indexOf('Opera') < 0)){
        $('#Qrcode').qrcode({width: 180, height: 180, text:this_url ,render:"table"});
    }else{
        $('#Qrcode').qrcode({width: 180, height: 180, text:this_url,render:"canvas"});
    }
    $('.bds_weixin').on('click',function(){
        $('.Qrcode').fadeIn()
        $("html,body").animate({scrollTop: 0})
    })
    $('.close').on('click',function(){
        $('.Qrcode').fadeOut()
    })
//    if(parseInt($('.introduce div p').css('height'))<=48){$('.introduce>div>span').hide()}
    $('.commont td').click(function(){
        var num=parseInt($(this).find('font').text()),type=$(this).attr('data-type')
        if(!sessionStorage[type]){
            comment(type)
            $(this).find('font').text(num+1)
        }
    })
    function comment(type){
        var csrf = document.getElementsByName('csrfmiddlewaretoken')[0];
        $.post('/dj/dianzan.mpy',{id:'{{doc.id}}',type:type,csrfmiddlewaretoken: csrf.value}, function (data) {
            if(data.code==1){
                sessionStorage[type]=true
            }
        })
    }
</script>
{% endblock %}
