{% extends 'base.html' %}
{% block banner%}
<div class="banner">
    <div class="big_box">
        <div class="review_box">
            <a href="{{ ad.url }}" target="_blank" rel="nofollow"><img width="1200" height="300" src="http://pic.huodongjia.com/event/2016-09-19/1474268855.19.jpg!hdj123" alt="{{ad.title}}"></a>
            <a href="{{ ad.url }}" target="_blank" rel="nofollow"><img width="1200" height="300" src="http://pic.huodongjia.com/event/2016-08-19/1471577632.74.png!hdj123" alt="{{ad.title}}"></a>
            <a href="{{ ad.url }}" target="_blank" rel="nofollow"><img width="1200" height="300" src="http://pic.huodongjia.com/event/2016-09-19/1474268855.19.jpg!hdj123" alt="{{ad.title}}"></a>
            <a href="{{ ad.url }}" target="_blank" rel="nofollow"><img width="1200" height="300" src="http://pic.huodongjia.com/event/2016-08-19/1471577632.74.png!hdj123" alt="{{ad.title}}"></a>
        </div>
    </div>
    <div class="prev"><a href="javascript:Prev()" class="news_font">&#xe613;</a></div>
    <div class="next"><a href="javascript:Next()" class="news_font">&#xe612;</a></div>
</div>
{% endblock %}
{% block content%}
<div class="content container">
    <div class="bread_nav"><a href="/">首页</a>&gt;<h1>会议干货</h1></div>
    <div class="left">
        <h2>会议文档 <a href="/dj/ganhuo_listdocs.mpy" target="_blank">更多</a></h2>
        <ul class="ppt_list">
            {% for doc in docs%}
            <li>
                <h3><a href="/dj/ganhuo_doc_{{doc.id}}.mpy" target="_blank">
                    {% ifequal doc.suffix ".docx" %}
                    <span class="news_font docx">&#xe602;</span>
                    {% endifequal %}
                    {% ifequal doc.suffix ".ppt" %}
                    <span class="news_font ppt">&#xe600;</span>
                    {% endifequal %}
                    {% ifequal doc.suffix ".pdf" %}
                    <span class="news_font pdf">&#xe601;</span>
                    {% endifequal %}
                    {{doc.event_info.0.name}}</a></h3>
                <p class="des">{{doc.intro}}</p>
                <p class="down"><span class="tag">{{doc.cat_info.name}}</span><span class="download"><a href="{{doc.urls}}">下载</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/dj/ganhuo_doc_{{doc.id}}.mpy" target="_blank">在线阅读</a></span></p>
            </li>
            {% endfor %}
        </ul>
        <h2>会议视频 <a href="/dj/ganhuo_listvideos.mpy" target="_blank">更多</a></h2>
        <ul class="video_list">
            {% for video in videos %}
            <li>
                <a href="/dj/ganhuo_video_{{video.id}}.mpy" target="_blank">
                    <img width="285" height="178" src="{{video.video_img}}" alt="{{video.name}}">
                    <div class="play"><span class="news_font">&#xe605;</span></div>
                </a>
                <p class="des"><a href="">{{video.name}}</a></p>
                <p class="down"><span class="tag">{{video.cat_info.name}}</span><span class="download">{% if video.visit %}{{video.visit}}{% else %}0{% endif %}次播放</span></p>
            </li>
            {% endfor %}
        </ul>
        <h2 class="information">
            商业资讯<span class="tags"><a style="padding-right: 20px" href="" target="_blank">更多</a>
            {% for tag in news_zixun.tags %}
            {% if forloop.first %}
             <h3><a href="" target="" class="news_tag choose" data-id="{{tag.tag_id}}">{{tag.name}}</a></h3>
            {% else %}
            <h3><a href="" target="" class="news_tag" data-id="{{tag.tag_id}}">{{tag.name}}</a></h3>
            {% endif %}
            {% endfor %}
            </span>
        </h2>
        <div class="news_list">
            {% for zx in news_zixun.data %}
            <div class="media">
                <a class="media-left" target="_blank" href="/{{zx.id}}.html">
                    <img width="180" height="112" src="{{zx.img}}" alt="{{zx.post_title}}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a target="_blank" href="/{{zx.id}}.html">{{zx.post_title}}</a></h4>
                    <p>简介</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <h2 class="report">
            现场报告<span class="tags"><a style="padding-right: 20px" href="">更多</a>
            {% for tag in news_spot.cats %}
            {% if forloop.first %}
             <h3><a href="/{{tag.ename}}/" target="_blank" class="news_tag choose" data-id="{{tag.id}}">{{tag.name}}</a></h3>
            {% else %}
            <h3><a href="/{{tag.ename}}/" target="_blank" class="news_tag" data-id="{{tag.id}}">{{tag.name}}</a></h3>
            {% endif %}
            {% endfor %}
            </span>
        </h2>
        <div class="news_list">
            {% for zx in news_spot.data %}
            <div class="media">
                <a class="media-left" target="_blank" href="/{{zx.id}}.html">
                    <img width="180" height="112" src="{{zx.img}}" alt="{{zx.post_title}}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a target="_blank" href="http://news.huodongjia.com/{{zx.id}}.html">{{zx.post_title}}</a></h4>
                    <p>简介</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="right">
        <h2>跑会指南</h2>
        <ul class="upcoming">
            {% for zx in news_pahui %}
            <li><a href="/{{zx.id}}.html" target="_blank">{{zx.post_title}}</a></li>
            {% endfor %}
            <li class="more" ><a href="/huiyi/" target="_blank">更多跑会指南</a></li>
        </ul>
        <h2>最新会议报道</h2>
        <ul class="upcoming">
            {% for zx in news_latest %}
            <li><a href="/{{zx.id}}.html" target="_blank">{{zx.post_title}}</a></li>
            {% endfor %}
            <li class="more"><a href="/newslist" target="_blank">更多最新会议报道</a></li>
        </ul>
        <h2>最新会议文档 <a target="_blank" href="/dj/ganhuo_listdocs.mpy">更多</a></h2>
        <ul class="upcoming">
            {% for zx in new_docs %}
            <li><a href="/dj/ganhuo_doc_{{zx.id}}.mpy" target="_blank">
                {% ifequal zx.suffix ".docx" %}
                <span class="news_font docx">&#xe602;</span>
                {% endifequal %}
                {% ifequal zx.suffix ".ppt" %}
                <span class="news_font ppt">&#xe600;</span>
                {% endifequal %}
                {% ifequal zx.suffix ".pdf" %}
                <span class="news_font pdf">&#xe601;</span>
                {% endifequal %}
                {{zx.event_info.0.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}


