{% extends 'base.html' %}
{% block addstyle %}
<link rel="stylesheet" href="/ganhuo/static/css/scroll.css">
<meta property="og:type" content="video"/>
<meta property="og:title" content="{{ seo.title }} "/>
<meta property="og:description" content="{{ seo.description }} "/>
{% endblock %}
{% block banner%}
{% endblock %}
{% block content%}
<div class="content container">
    <div class="bread_nav"><a href="http://www.huodongjia.com/">首页</a>&gt;<a href="/dj/ganhuo.mpy">会议干货</a>&gt;<a href="/dj/ganhuo_listvideos.mpy">会议视频</a>&gt;<h1 style="color: #666">{{video.name}}</h1></div>
    <div class="doc_browse">
        {{video.urls |safe}}
        <div class="wrapper">
            <div id="container">
                <div class="parent">
                    <ul>
                        <li class="doc_title">播放列表</li>
                        {% for video in viewer_right_videos %}
                        <li class="doc_list">
                            <div class="doc_img"><a href="/dj/ganhuo_video_{{video.id}}.mpy"><img width="110" height="68" src="{{video.video_img}}" alt="{{video.name}}"></a></div>
                            <div class="doc_name"><p><a href="/dj/ganhuo_video_{{video.id}}.mpy">{{video.name}}</a></p><span><font class="news_font">&#xe614;</font>{{video.visit}}次</span></div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="adhibition video_adhibition">
            <table  width="100%">
                <tr>
                    <td class="adhibition_left" style="width: 610px"><h1>{{video.name}}</h1></td>
                    <td class="doc_download"><span>播放：{% if video.visit %}{{video.visit}}{% else %}0{% endif %}次</span></td>
                    <td class="doc_download doc_share">
                        <a style="position: relative;top: -3px;"><span class="news_font">&#xe608;</span>手机也可以观看</a>
                        <div class="phone_view">
                            <div class="line"></div>
                            <img width="118" height="118" src="http://pic.huodongjia.com/static/images/APP_download.jpg" alt="活动家APP客户端">
                            <p>
                                <span>扫二维码下载<br>或点击下载</span>
                                <a rel="nofollow" href="http://app.xiaomi.com/detail/64258" target="_blank"><span class="news_font">&#xe60a;</span>Android</a>
                                <a rel="nofollow" href="https://itunes.apple.com/cn/app/da-huo-dong/id731753448?l=en&mt=8" target="_blank"><span class="news_font apple">&#xe610;</span>iOS</a>
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="bdsharebuttonbox">
                            <span style="position:relative;top: -4px;">分享到:</span>
                            <a style="position:relative;top: -2px;cursor: pointer;" class="bds_weixin news_font" data-cmd="weixin" title="分享到微信">&#xe603;</a>
                            <a style="position:relative;top: -2px" href="http://connect.qq.com/widget/shareqq/index.html?title={{video.name}}&url=http://news.huodongjia.com/dj/ganhuo_video_{{video.id}}.mpy" target="_blank" class="bds_sqq news_font" data-cmd="sqq" title="分享到QQ好友">&#xe606;</a>
                            <a href="http://v.t.sina.com.cn/share/share.php?title={{video.name}}&url=http://news.huodongjia.com/dj/ganhuo_video_{{video.id}}.mpy" target="_blank" class="bds_tsina news_font" data-cmd="tsina" title="分享到新浪微博">&#xe60c;</a>
                            <a href="http://tieba.baidu.com/f/commit/share/openShareApi?title={{video.name}}&url=http://news.huodongjia.com/dj/ganhuo_video_{{video.id}}.mpy" target="_blank" class="bds_tieba news_font" data-cmd="tieba" title="分享到百度贴吧">&#xe60f;</a>
                            <a href="http://www.douban.com/recommend/?title={{video.name}}&url=http://news.huodongjia.com/dj/ganhuo_video_{{video.id}}.mpy" target="_blank" class="bds_douban news_font" data-cmd="douban" title="分享到豆瓣网">&#xe60e;</a><br>

                        </div>
                    </td>
                </tr>
                <tr><td class="introduce" colspan="4">
                    <h2>视频简介</h2>
                    <span class="pack_up" style="bottom: -15px;">︽</span>
                    <p>{{video.intro|safe}}</p>
                    <span class="more">︾</span>
                </td></tr>
            </table>
        </div>
    </div>
    <div class="left">
        <h2>相关视频</h2>
        <ul class="video_list">
            {% for video in relevant_videos %}
            <li>
                <a target="_blank" href="/dj/ganhuo_video_{{video.id}}.mpy">
                    <img width="285" height="178" src="{{video.video_img}}" alt="{{video.event_info.0.name}}">
                    <div class="play"><span class="news_font">&#xe605;</span></div>
                </a>
                <p class="des"><a target="_blank" href="/dj/ganhuo_video_{{video.id}}.mpy">{{video.event_info.0.name}}</a></p>
                <p class="down">{{video.visit}}次播放</p>
            </li>
            {% endfor %}
        </ul>
        <br style="clear: both">
        <h2>最新会议视频</h2>
        <ul class="video_list">
            {% for video in newly_videos|slice:':9' %}
            <li>
                <a target="_blank" href="/dj/ganhuo_video_{{video.id}}.mpy">
                    <img width="285" height="178" src="{{video.video_img}}" alt="{{video.event_info.0.name}}">
                    <div class="play"><span class="news_font">&#xe605;</span></div>
                </a>
                <p class="des"><a target="_blank" href="/dj/ganhuo_video_{{video.id}}.mpy">{{video.event_info.0.name}}</a></p>
                <p class="down"><a style="width: 70px" class="tag" href="/dj/ganhuo_listvideos_{{video.cat_info.id}}.mpy">{{video.cat_info.name}}</a><span class="download">{{video.visit}}次播放</span></p>
            </li>
            {% endfor %}
        </ul>
        <br style="clear: both">
    </div>
    <div class="right">
        <h2>即将举办的会议</h2>
        <ul class="upcoming upcoming_event">
            {% for event in relevant_events %}
            <li class="{% if forloop.first %}choose{% endif %}">
                <a href="http://www.huodongjia.com{{event.event_url}}" target="_blank">{{event.event_name}}</a>
                <div class="detail"><a class="event_img" href="http://www.huodongjia.com{{event.event_url}}" target="_blank">
                    <img width="85" height="55" src="{{event.event_img.0.server__name}}{{event.event_img.0.urls}}" alt="{{event.event_name}}"></a>
                    <span><a target="_blank" href="http://www.huodongjia.com/{{event.event_city_info.0.title}}/">{{event.event_city_info.0.district_name}}</a><br>{{event.event_begin_time}}</span></div>
            </li>
            {% endfor %}
        </ul>
        <div class="h2_title">
            <h2><a href='/dj/ganhuo_listdocs.mpy'  target="_blank">相关会议文档</a></h2>
            <a target="_blank" href="/dj/ganhuo_listdocs.mpy">更多</a>
        </div>
        <ul class="upcoming">
            {% for doc in relevant_docs%}
            <li><a href="/dj/ganhuo_doc_{{doc.id}}.mpy" target="_blank">
                {% ifequal doc.suffix ".docx" %}
                <span class="news_font docx">&#xe602;</span>
                {% endifequal %}
                {% ifequal doc.suffix ".pptx" %}
                <span class="news_font ppt">&#xe600;</span>
                {% endifequal %}
                {% ifequal doc.suffix ".pdf" %}
                <span class="news_font pdf">&#xe601;</span>
                {% endifequal %}
                {{doc.event_info.0.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="Qrcode">
        <p>分享到微信 <span class="close">×</span></p>
        <div id="Qrcode"></div>
        <p style="color: #666">
            打开微信，点击底部的“发现”，<br>
            使用“扫一扫”即可将网页分享至朋友圈。
        </p>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/ganhuo/static/js/scroll.js"></script>
<script src="/ganhuo/static/js/jquery.qrcode.min.js"></script>
<script>
    var this_url=window.location.href
    if ((navigator.userAgent.indexOf('MSIE') >= 0)
            && (navigator.userAgent.indexOf('Opera') < 0)){
        $('#Qrcode').qrcode({width: 180, height: 180, text:this_url ,render:"table"});
    }else{
        $('#Qrcode').qrcode({width: 180, height: 180, text:this_url,render:"canvas"});
    }
    $('.bds_weixin').on('click',function(){
        $('.Qrcode').fadeIn()
        $("html,body").animate({scrollTop: 0})
    })
    $('.close').on('click',function(){
        $('.Qrcode').fadeOut()
    })
</script>
{% endblock %}
